<h2>WkpurchaseorderController#index</h2>
<%= javascript_include_tag 'index', :plugin => "redmine_wktime" %>
<script type="text/javascript"> 
    purRfqUrl = '<%=url_for(:controller => "wkrfq", :action => "index", :tab => "wkrfq")%>';
    purQuoteUrl = '<%=url_for(:controller => "wkquote", :action => "index", :tab => "wkquote")%>';
    purPurOrderUrl = '<%=url_for(:controller => "wkpurchaseorder", :action => "index", :tab => "wkpurchaseorder")%>';     
    purSupInvUrl = '<%=url_for(:controller => "wksupplierinvoice", :action => "index", :tab => "wksupplierinvoice")%>';
	purSupPayUrl = '<%=url_for(:controller => "wksupplierpayment", :action => "index", :tab => "wksupplierpayment")%>';
    prevTab = 'tab-<%= "#{controller_name}" %>';   
</script>
<%= render_tabs time_expense_tabs %>

<%= hidden_field_tag 'back_url', url_for(params) %>

<div class="wk-contextual">
	<%= link_to l(:label_new_pur_order), url_for(:controller => controller_name, :action => 'new'), :class => 'icon icon-time-add' %>
</div>