<h2><%= l(:label_public_holiday) %></h2>
<%= javascript_include_tag 'index', :plugin => "redmine_wktime" %>
<script type="text/javascript">
   wkattnIndexUrl = '<%=url_for(:controller => "wkattendance", :action => "index", :tab => "leave")%>';     
   clockInOutUrl = '<%=url_for(:controller => "wkattendance", :action => "clockindex", :tab => "clock")%>'; 
   payrollUrl = '<%=url_for(:controller => "wkpayroll", :action => "index", :tab => "payroll")%>';
	wkSchedulingUrl = '<%=url_for(:controller => "wkscheduling", :action => "index", :tab => "wkscheduling")%>'; 
	wkPublicHolidayUrl = '<%=url_for(:controller => "wkpublicholiday", :action => "index", :tab => "wkpublicholiday")%>';
	wkSurveyUrl = '<%=url_for(:controller => "wksurvey", :action => "user_survey", :tab => "wksurvey", :surveyForType => 'User')%>';
</script>

<%= render_tabs time_expense_tabs %>
<%= form_tag({:controller => controller_name, :action => 'index'},  :method => :get, :id => 'query_form') do %>
<%=h hidden_field_tag('tab', "#{controller_name}") %>
<%= hidden_field_tag "searchlist", "#{controller_name}" %>
<% locId = params[:location_id].blank? ? @locationId : params[:location_id] %>

<%#= render :partial => 'wklocation/location_filter', :locals => { locationId: locId, departmentId: depId, isApply: false }  %>
<% if @month > 0 %>	
	<p style="float:right;">
	<%= link_to_previous_month(@year, @month, :accesskey => accesskey(:previous)) %> | <%= link_to_next_month(@year, @month, :accesskey => accesskey(:next)) %>
	</p>
<% end %>
<p class="buttons">
<%=h l(:label_location) %>
<%=h select_tag("location_id", selectLocation(WkLocation ,locId)) %>


<%= label_tag('month', l(:label_month)) %>
<%= select_month(@month, :prefix => "month", :include_blank => true, :discard_type => true) %>
<%= label_tag('year', l(:label_year)) %>
<%= select_year(@year, :prefix => "year", :discard_type => true) %>

<%= link_to_function l(:button_apply), '$("#query_form").submit()', :class => 'icon icon-checked' %>
<%= link_to l(:button_clear), { :project_id => @project, :set_filter => 1 }, :class => 'icon icon-reload' %>
</p>
<% end %>
<%= render :partial => 'wkpublicholiday/ph_index'%>