<ul class="cal">
<li scope="col" title="<%= l(:label_week) %>" class="calhead week-number"></li>
<% 7.times do |i| %>
	<li scope="col" class="calhead"><%= day_name( (calendar.first_wday+i)%7 ) %></li>
<% end %>

<% calendar.format_month.each_slice(7) do |week| %>
    <% week.each do |day| %>
	<%= ("<li class='week-number' title='#{ l(:label_week) }'>#{(day+(11-day.cwday)%7).cweek}</li>".html_safe) if day.cwday == calendar.first_wday %>
	<li class="<%= day.month==calendar.month ? 'even' : 'odd' %><%= ' today' if User.current.today == day %> calbody">
	
	<p class="day-num"><%= day.day %></p>
		<%= link_to_wkcalendar_display_day @schedulehash, :day => day, :limit => 3 %>	
	</li>

	<% end %>
<% end %>
</ul>