<h2><%= l(:label_scheduling) %></h2>
<%= javascript_include_tag 'index', :plugin => "redmine_wktime" %>
<%= stylesheet_link_tag 'wk-time', :plugin => "redmine_wktime" %>
<script type="text/javascript">
   wkattnIndexUrl = '<%=url_for(:controller => "wkattendance", :action => "index", :tab => "leave")%>';
   clockInOutUrl = '<%=url_for(:controller => "wkattendance", :action => "clockindex", :tab => "clock")%>';
   payrollUrl = '<%=url_for(:controller => "wkpayroll", :action => "index", :tab => "payroll")%>';
   wkSchedulingUrl = '<%=url_for(:controller => "wkscheduling", :action => "index", :tab => "wkscheduling")%>';
   wkPublicHolidayUrl = '<%=url_for(:controller => "wkpublicholiday", :action => "index", :tab => "wkpublicholiday")%>';
   wkSurveyUrl = '<%=url_for(:controller => "wksurvey", :action => "user_survey", :tab => "wksurvey", :surveyForType => 'User')%>';
   apply_warn = '<%=l(:warning_schedule_shifts) %>';
</script>

<%= render_tabs time_expense_tabs %>
<%=h hidden_field_tag('tab', "#{controller_name}") %>

<%= form_tag({:controller => controller_name, :action => 'index', :project_id => @project},  :method => :get, :id => 'schedule_form') do %>
<%= hidden_field_tag 'set_filter', '1' %>
<%=h hidden_field_tag('tab', "#{controller_name}") %>
<%=h hidden_field_tag('generate', false) %>
<% if @schedulesShift %>
	<%= render :partial => 'wkscheduling/scheduling_filter', :locals => {:isApply => false} %>
<% end %>
<p style="float:right;">
  <%= link_to_previous_month(@year, @month, :accesskey => accesskey(:previous)) %> | <%= link_to_next_month(@year, @month, :accesskey => accesskey(:next)) %>
</p>
<p class="buttons">
<%= label_tag('month', l(:label_month)) %>
<%= select_month(@month, :prefix => "month", :discard_type => true) %>
<%= label_tag('year', l(:label_year)) %>
<%= select_year(@year, :prefix => "year", :discard_type => true) %>


<%= link_to_function l(:button_apply), '$("#schedule_form").submit()', :class => 'icon icon-checked' %>
<%= link_to l(:button_clear), { :project_id => @project, :set_filter => 1 }, :class => 'icon icon-reload' %>
<% if @schedulesShift %>
	<%= link_to l(:label_schedule_shifts), 'javascript:scheduleFormSubmission();', :name => 'generate', :class => 'icon icon-report' %>
<% end %>
</p>
<% end %>
<%= render :partial => 'wkscheduling/wk_calendar', :locals => {:calendar => @calendar} %>
<div id="ajax-indicator" style="display:none;"><span><%= l(:label_loading) %></span></div>
<% content_for :sidebar do %>
      <%= render :partial => 'sidebar' %>
<% end %>