<%= javascript_include_tag 'index', :plugin => "redmine_wktime" %>
<%= hidden_field_tag 'back_url', url_for(params) %>

	<%= form_tag({:controller => "wkaccountproject", :action => 'index'}, :method => :get, :id => 'query_form') do %>
	<%= hidden_field_tag "searchlist", "accountproject" %>
	<%	accid =session[:accountproject][:account_id]
		projid =session[:accountproject][:project_id] %>
	<%	projects = Project.where("#{Project.table_name}.status not in(#{Project::STATUS_CLOSED},#{Project::STATUS_ARCHIVED})").order('name') %>	
	<%	projArr = options_for_wktime_project(projects,true) %>
	<%	accArr = options_for_wktime_account() %>
		<label><%= l(:label_account_name) %></label>
		<%=h select_tag('account_id', options_for_select(accArr, :selected => accid.nil? ? accArr : accid)) %>
		<label><%= l(:label_project) %></label>
		<%=h select_tag('project_id', options_for_select(projArr, :selected => projid.nil? ? projArr : projid)) %>	
		<%= submit_tag l(:button_apply), :class => "small", :name => nil %>
		<%= link_to l(:button_clear), {:controller => controller_name, :action => 'index', :tab => controller_name}, :class => 'icon icon-reload' %>

	<% end %>
<%= render :partial => 'wkaccountproject/account_project_list'%>