<%= stylesheet_link_tag 'wk-time', :plugin => "redmine_wktime" %>
<%= javascript_include_tag 'invoice', :plugin => "redmine_wktime" %>
<%= javascript_include_tag 'accountproject', :plugin => "redmine_wktime" %>
<h2><%= l(:label_acc_projects) %></h2>
<% wkexpense_helper = Object.new.extend(WkexpenseHelper) %>
<%= form_tag({:controller => "wkaccountproject", :action => 'update'}, :method => :post, :id => 'query_form') do %>
	<%	projects = Project.where("#{Project.table_name}.status not in(#{Project::STATUS_CLOSED},#{Project::STATUS_ARCHIVED})").order('name') %>	
	<%	projArr = options_for_wktime_project(projects,false) %>	
	<%  billing_type = { 'TM'  => l(:label_time_material), 'FC' =>  l(:label_fixed_cost) } %>
	<%= hidden_field_tag "accountProjectId", @accProjEntry.blank? ? "" : @accProjEntry.id %>
	<% 
	if !params[:account_id].blank? || !params[:contact_id].blank?
		parentId = params[:account_id].blank? ? params[:contact_id] : params[:account_id]
		parentType = params[:account_id].blank? ? "WkCrmContact" : "WkAccount"
	else
		parentId = ""
		parentType = ""
		
	end
	%>	
	<div class="div-left">
	
	<table>
		<%= render partial: "wkcrm/view_polymorphic", locals: { parentObject: @accProjEntry.blank? ? nil : @accProjEntry, :parentType => parentType, :parentId => parentId, :index => false, :needParentProject => false, :padding => nil, :needblankType => false } %>
		<tr>
			<th align="left"><label><%= l(:label_project) %></label></th>
			<td style="padding-left:40px;"><%=h select_tag('project_id', options_for_select(projArr, :selected =>  @accProjEntry.blank?  ?  get_project_id(params[:project_id]) : @accProjEntry.project_id)) %></td>
		</tr>
		<tr>
			<th align="left"><label><%= l(:label_itemized_bill) %></label></th>
			<td style="padding-left:40px;"><%= check_box_tag('itemized_bill', 1, (@accProjEntry.blank? ? false : @accProjEntry.itemized_bill)) %></td>
		</tr>
		<tr>
			<th align="left"><label><%= l(:label_billing_type) %></label></th>
			<td style="padding-left:40px;"><%=h select_tag('billing_type', options_for_select(billing_type.invert, :selected => (@accProjEntry.blank? ? 'TM' : @accProjEntry.billing_type) ), :onchange => "showorHide((this.value == 'FC' ? true : false), 'billingschdules', null);") %></td>
		</tr>
	</table>
	</div>
	<div id="rightMenu" class="div-right">
	<table>	
	<tr><td><label><%= l(:label_apply_tax) %></label></td><td><%= check_box_tag('applytax', 1, (@accProjEntry.blank?  ? false : @accProjEntry.apply_tax  ), 
	:onchange => "showorHide((this.checked ? true : false), 'applicable_taxes', null);") %> </td></tr>
	<tr id="applicable_taxes"><td><label><%= l(:label_applicable_taxes) %></label></td><td><%=h select_tag('tax_id', options_for_select((@taxentry.blank? ? [] : @taxentry),  :selected => @selectedtax), :size => 5, :multiple=> true) %></td></tr>
		</table>
	</div>
	<div style="clear:both"></div>
	<div id="billingschdules" class="autoscroll">
	<div class="wk-contextual">
		<h2 style="float:left;"><%= l(:label_billing_schedules) %></h2>
		<%= link_to l(:button_add_row), "#", { :onclick => "javascript:invoiceAddRow('milestoneTable', 'mtotalrow');",  :class => 'icon icon-time-add' }%>
	</div>
	<div style="clear:both"></div>
	<% row_index = 1 %>	
	<table id="milestoneTable" class="list time-entries">
	<thead>
		<tr>
			<th></th>
			<th class="lbl-txt-align" >#</th>
			<th class="lbl-txt-align"><%= l(:label_milestone) %></th>
			<th class="lbl-txt-align"><%= l(:label_wk_currency) %></th>
			<th class="lbl-txt-align"><%= l(:field_amount) %></th>
			<th class="lbl-txt-align"><%= l(:label_bill_date) %></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<% if !@wkbillingschedule.blank? %>
		<% @wkbillingschedule.each do |entry| %>
			<tr onclick="  row_id  = this.rowIndex ">
				<td class="lbl-txt-align" headers="milestone_id">
					<%=h hidden_field_tag("milestone_id#{row_index}",   entry.id )  %>
				</td>
				<td class="lbl-txt-align" headers="item_index">
					<label id="item_index<%= row_index.to_s %>"><%= row_index  %></label>
				</td>
				<td class="lbl-txt-align" headers="milestone" >
					<%= text_field_tag "milestone#{row_index}",  entry.milestone ,  :required => false,  :style => "width:350px;" %>
				</td>
				<td class="lbl-txt-align" headers="currency" >
					<%=h select_tag("currency#{row_index}",options_for_select(wkexpense_helper.options_for_currency,:selected => entry.currency)) %>
				</td>
				<td class="lbl-txt-align" headers="amount">
					<%= text_field_tag "amount#{row_index}",  ("%.2f" % entry.amount)  , :required => false, :maxlength => 14,  :style => "width:150px;"  %>
				</td>
				<td class="lbl-txt-align" headers="billdate">
					<%= text_field_tag "billdate#{row_index}",  entry.bill_date, :required => false  , :class => "date",  :style => "width:150px;" %>
				</td>
				<td>
					<%= link_to image_tag('delete.png'), "javascript:deleteRow('milestoneTable', 'mtotalrow');", :id => row_index,
							:data => {:confirm => l(:text_are_you_sure)},
							:title => l(:button_delete) %>
				</td>	
			</tr>
			<% row_index = row_index + 1 %>
		<% end %>
	<% else %>
		<tr onclick="  row_id  = this.rowIndex ">
			<td class="lbl-txt-align" headers="milestone_id">
				<%=h hidden_field_tag("milestone_id#{row_index}",   "" )  %>
			</td>
			<td class="lbl-txt-align" headers="item_index">
				<label id="item_index<%= row_index.to_s %>"><%= row_index  %></label>
			</td>
			<td class="lbl-txt-align" headers="milestone" >
				<%= text_field_tag "milestone#{row_index}",  "" , :required => false,  :style => "width:350px;" %>
			</td>
			<td class="lbl-txt-align" headers="currency" >
				<%=h select_tag("currency#{row_index}",options_for_select(wkexpense_helper.options_for_currency)) %>
			</td>
			<td class="lbl-txt-align" headers="amount">
				<%= text_field_tag "amount#{row_index}",  "" , :required => false, :maxlength => 14, :style => "width:150px;"  %>
			</td>
			<td class="lbl-txt-align" headers="billdate">
				<%= text_field_tag "billdate#{row_index}",  ""  , :required => false, :class => "date",  :style => "width:150px;" %>
			</td>
			<td>
				<%= link_to image_tag('delete.png'), "javascript:deleteRow('milestoneTable', 'mtotalrow');", :id => row_index,
						:data => {:confirm => l(:text_are_you_sure)},
						:title => l(:button_delete) %>
			</td>	
		</tr>
		<% row_index = row_index + 1 %>
	<% end %>
	</tbody>
	</table>
	</div>
	<div style="clear:both"></div>
	<%=h hidden_field_tag("mtotalrow",  row_index-1 )  %>
	<%=h hidden_field_tag("tax_updated_id",  "" )  %>
	<%= submit_tag l(:button_save), :class => "small", :name => nil %>
<% end %>