<h2><%= l(:label_transaction) %></h2>
<%= javascript_include_tag 'index', :plugin => "redmine_wktime" %>
<script type="text/javascript"> 
    blgtxnUrl = '<%=url_for(:controller => "wktransaction", :action => "index", :tab => "wktransaction")%>';
    blgledgerUrl = '<%=url_for(:controller => "wkledger", :action => "index", :tab => "wkledger")%>';
    prevTab = 'tab-<%= "#{controller_name}" %>';   
</script>
<%= render_tabs time_expense_tabs %>

<%= hidden_field_tag 'back_url', url_for(params) %>
<h2>WktransactionController#index</h2>
