<br/>
<script type="text/javascript"> 
	prevTab = 'tab-<%= "wkreport" %>';
	wkInvReportUrl = '<%=url_for(:controller => controller_name, :action => "edit", :tab => controller_name)%>'; 
	grpUrl="<%= "#{url_for(:controller => "wkreport", :action => 'getMembersbyGroup')}" %>";
	//getMembersbyGroup
</script>
<% itemHash = { 'i' => l(:label_invoice), 'c' =>  l(:label_credit)  } %>
<% if  controller.addAdditionalTax 
		tax_hash = {'t' => l(:label_tax)}
		itemHash.merge!(tax_hash)
   end 
%>
<% if  controller.addMaterialType 
		material_hash = {'m' => l(:label_material)}
		itemHash.merge!(material_hash)
   end 
%>
<% if  controller.addAssetType 
		asset_hash = {'a' => l(:label_rental)}
		itemHash.merge!(asset_hash)
   end 
%>
<% row_index = 1 %>
<% org_total = 0 %>
<% total = 0 %>
<% toCurrency = Setting.plugin_redmine_wktime['wktime_currency']
%>
<%	#if @invoice.parent.account_billing
	#	projects = @invoice.parent.billable_projects.collect{|m| [ m.project.name, m.project_id ] } 
	#else
	#	projects = @invoice.parent.billable_projects.where("project_id = ?", @invoiceItem[0].project_id ).collect{|m| [ m.project.name, m.project_id ] } 
	#end 
	isDisable = false
	isDisable = !isEditableInvoice(@invoice.id) unless @invoice.id.blank?
%>	
<div class="wk-contextual">
<h2 style="float:left;"><%= controller.getItemLabel %></h2>
<% if !@preBilling && !isDisable %>
<%= link_to l(:button_add_row), "#", { :onclick => "javascript:invoiceAddRow('invoiceTable', 'totalrow');",  :class => 'icon icon-time-add' } %>
<% end %>
<%# unless @invoiceItem.blank? %>
<%#= link_to l(:label_pay_invoice), url_for(:controller => "wkpayment", :action => 'edit', :load_payment => true, :related_to => @invoice.parent_type, :related_parent => @invoice.parent_id, :project_id => 0 ),  :class => 'icon icon-report' %>
<%# end %>
</div>
<div style="clear:both"></div>
<div class="autoscroll">
<table id="invoiceTable" class="list time-entries">
  <thead>
         <tr>
			<th></th>
			<th class="lbl-txt-align" >#</th>
			<% if !@projectsDD.blank? %>
				<th class="lbl-txt-align" ><%= l(:field_project) %></th>
			<% end %>
			<th class="lbl-txt-align" ><%= l(:label_invoice_name) %></th>
			<th class="lbl-txt-align" ><%= l(:label_item_type) %></th>
			<th></th>
			<th class="lbl-txt-align" ><%= l(:label_rate) %></th>
			<th class="lbl-txt-align" ><%= l(:label_quantity) %></th>
			<th class="lbl-txt-align" ><%= l(:field_original_amount) %></th>
			<th></th>	
			<th class="lbl-txt-align" ><%= l(:field_amount) %></th>
			<th></th>			
         </tr>
  </thead>
   <tbody>
   <% if !@invoiceItem.blank? %>
		<% 
			sqlString = "wk_invoice_items.item_type = 'i' or wk_invoice_items.item_type = 'c' or wk_invoice_items.item_type = 'm' or wk_invoice_items.item_type = 'a' "
			sqlString = sqlString + " or wk_invoice_items.item_type = 't'" if controller.addAdditionalTax 
		%>
       <% @invoiceItem.where(sqlString).each do |entry| %>
			<tr onclick="  row_id  = this.rowIndex ">
			<% 
				exchangeRate = getExchangeRate(entry.original_currency, entry.currency)
				exchangeRate = exchangeRate.blank? ? 1 : exchangeRate
			 %>
				<td class="lbl-txt-align" headers="item_id">
					<%=h hidden_field_tag("item_id#{row_index}",   entry.id )  %>
				</td>
				<td class="lbl-txt-align" headers="item_index">
					<label id="item_index<%= row_index.to_s %>"><%= row_index  %></label>
				</td>
				<% if !@projectsDD.blank? %>
					<td class="lbl-txt-align" headers="project_id">
						<%=h select_tag("project_id#{row_index.to_s}", options_for_select(@projectsDD, :selected => entry.project_id), :disabled => isDisable) %>
						<%=h hidden_field_tag("product_id#{row_index.to_s}",  entry.product_id )  %>
						<%=h hidden_field_tag("material_id#{row_index.to_s}",  "" )  %>
					</td>
				<% end %>
				<td class="lbl-txt-align" headers="name">
					<%= text_field_tag "name#{row_index}",  entry.name, :required => true,  :style => "width:320px; ", :disabled => isDisable %>
				</td>
				<td class="lbl-txt-align" headers="item_type">
					<%=h select_tag("item_type#{row_index.to_s}", options_for_select(itemHash.invert, :selected => entry.item_type), :disabled => true) %>
					<%=h hidden_field_tag("hd_item_type#{row_index.to_s}", entry.item_type )  %>
				</td>
				<td class="lbl-txt-align" headers="original_currency">
					<%=h hidden_field_tag("original_currency#{row_index}", entry.original_currency )  %>
				</td>
				<td class="lbl-txt-align" headers="rate">
					<%= entry.original_currency %><%= text_field_tag "rate#{row_index}", ("%.2f" % entry.rate) ,:maxlength => 14,  :style => "width:150px;", :onchange => "addAmount(this.id)", :disabled => isDisable %>
				</td>
				<td class="lbl-txt-align" headers="quantity">
					<%= text_field_tag "quantity#{row_index}", ("%.4f" % entry.quantity unless entry.quantity.blank?), :maxlength => 14, :style => "width:150px;", :onchange => "addAmount(this.id)", :disabled => isDisable %>
				</td>
				<td class="lbl-txt-align" headers="original_amount">
					<%= entry.original_currency %><label id="original_amount<%= row_index.to_s %>" ><%= html_hours("%.2f" % entry.original_amount)  unless entry.original_amount.blank? %></label>
				</td>
				<td class="lbl-txt-align" headers="exchangerate_amount">
					<%=h hidden_field_tag("exchangerate_amount#{row_index}", exchangeRate )  %>
				</td>
				<td class="lbl-txt-align" headers="amount">
					<%= entry.currency %><label id="amount<%= row_index.to_s %>" ><%= html_hours("%.2f" % entry.amount)  unless entry.amount.blank? %></label>
				</td>
				<% org_total = org_total + entry.original_amount unless entry.original_amount.blank? %>
				<% total = total + entry.amount %>
				<td>
					<% unless isDisable %>
						<%= link_to image_tag('delete.png'), "javascript:deleteRow('invoiceTable', 'totalrow');", :id => row_index,
							:data => {:confirm => l(:text_are_you_sure)},
							:title => l(:button_delete) %>
					<% end %>
				</td>			
			</tr>
		    <% row_index = row_index + 1 %>
		<% end %>
	<% elsif @unbilled && !@invItems.blank? %>
		<%=h hidden_field_tag("populate_unbilled",   @unbilled )  %>	
		<% @invItems.each do |key, value| %>
			<% 
				exchangeRate = getExchangeRate(@currency, toCurrency)
				exchangeRate = exchangeRate.blank? ? 1 : exchangeRate
				amount = (value['item_amount'] * exchangeRate)
			%>
			<tr onclick="  row_id  = this.rowIndex ">
				<%=h hidden_field_tag("entry_id#{row_index}",   value['milestone_id'] )  %>
				<%=h hidden_field_tag("creditfrominvoice#{row_index}",  value['creditfromInvoice'] )  %>
				<td class="lbl-txt-align" headers="item_id">
					<%=h hidden_field_tag("item_id#{row_index}",   "" )  %>
				</td>
				<td class="lbl-txt-align" headers="item_index">
					<label id="item_index<%= row_index.to_s %>"><%= row_index  %></label>
				</td>
				<td class="lbl-txt-align" headers="project_id">
					<%=h select_tag("project_id#{row_index.to_s}", options_for_select(@projectsDD, :selected=> value['project_id'] ), :disabled => @preBilling ) %>
					<%=h hidden_field_tag("product_id#{row_index.to_s}",  value['product_id'] )  %>
					<%=h hidden_field_tag("material_id#{row_index.to_s}",  value['material_id'].blank? ? "" : value['material_id'] )  %>
				</td>
				<td class="lbl-txt-align" headers="name">
					<%= text_field_tag "name#{row_index}", value['item_desc'], :required => true,  :style => "width:320px; ", :disabled => @preBilling %>
				</td>
				<td class="lbl-txt-align" headers="item_type">
					<%=h select_tag("item_type#{row_index.to_s}", options_for_select(itemHash.invert, :selected => value['item_type'] .blank? ? itemHash.invert  : value['item_type'] ), :disabled => @preBilling) %>
					<%=h hidden_field_tag("hd_item_type#{row_index.to_s}", value['item_type'] )  %>
				</td>
				<td class="lbl-txt-align" headers="original_currency">
					<%=h hidden_field_tag("original_currency#{row_index}",   @currency )  %>
				</td>
				<td class="lbl-txt-align" headers="rate">
					<%=  @currency %><%= text_field_tag "rate#{row_index}",   value['rate'] ,:maxlength => 14,  :style => "width:150px;", :onchange => "addAmount(this.id)", :disabled => @preBilling %>
				</td>
				<td class="lbl-txt-align" headers="quantity">
					<%= text_field_tag "quantity#{row_index}", value['item_quantity'], :maxlength => 14,  :style => "width:150px;", :onchange => "addAmount(this.id)", :disabled => @preBilling %>
				</td>
				<td class="lbl-txt-align" headers="original_amount">
					<%= @currency %><label id="original_amount<%= row_index.to_s %>" ><%= html_hours("%.2f"% value['item_amount']) %></label>
				</td>
				<td class="lbl-txt-align" headers="exchangerate_amount">
					<%=h hidden_field_tag("exchangerate_amount#{row_index}", exchangeRate )  %>
				</td>
				<td class="lbl-txt-align" headers="amount">
					<%= toCurrency %><label id="amount<%= row_index.to_s %>" ><%= html_hours("%.2f"% amount) %></label>
				</td>
				<% org_total = org_total + value['item_amount'] %>
				<% total = total + amount %>
				<td>
					<% if !@preBilling && !isDisable %>
					<%= link_to image_tag('delete.png'), "javascript:deleteRow('invoiceTable', 'totalrow');", :id => row_index,
							:data => {:confirm => l(:text_are_you_sure)},
							:title => l(:button_delete), :disabled => @preBilling %>
					<% end %>
				</td>			
			</tr>
			<% row_index = row_index + 1 %>
		<% end %>
	<% else %>
		<tr onclick="  row_id  = this.rowIndex ">
			<% 
				exchangeRate = getExchangeRate(@currency, toCurrency)
				exchangeRate = exchangeRate.blank? ? 1 : exchangeRate
				exchange_amount = exchangeRate
			%>
			<td class="lbl-txt-align" headers="item_id">
				<%=h hidden_field_tag("item_id#{row_index}",   "" )  %>
			</td>
			<td class="lbl-txt-align" headers="item_index">
				<label id="item_index<%= row_index.to_s %>"><%= row_index  %></label>
			</td>
			<% if !@projectsDD.blank? %>
				<td class="lbl-txt-align" headers="project_id">
					<%=h select_tag("project_id#{row_index.to_s}", options_for_select(@projectsDD)) %>				
				</td>
			<% end %>
			<td class="lbl-txt-align" headers="name">
				<%= text_field_tag "name#{row_index}",  "", :required => true,  :style => "width:320px; " %>
			</td>
			<td class="lbl-txt-align" headers="item_type">
				<%=h select_tag("item_type#{row_index.to_s}", options_for_select(itemHash.invert)) %>
			</td>
			<td class="lbl-txt-align" headers="original_currency">
				<%=h hidden_field_tag("original_currency#{row_index}",   @currency )  %>
			</td>
			<td class="lbl-txt-align" headers="rate">
				<%=  @currency %><%= text_field_tag "rate#{row_index}",   "" ,:maxlength => 14,  :style => "width:150px;", :onchange => "addAmount(this.id)" %>
			</td>
			<td class="lbl-txt-align" headers="quantity">
				<%= text_field_tag "quantity#{row_index}", "", :maxlength => 14,  :style => "width:150px;", :onchange => "addAmount(this.id)" %>
			</td>
			<td class="lbl-txt-align" headers="original_amount">
				<%= @currency %><label id="original_amount<%= row_index.to_s %>" ><%= 0.00  %></label>
			</td>
			<td class="lbl-txt-align" headers="exchangerate_amount">
				<%=h hidden_field_tag("exchangerate_amount#{row_index}", exchange_amount )  %>
			</td>
			<td class="lbl-txt-align" headers="amount">
				<%= toCurrency %><label id="amount<%= row_index.to_s %>" ><%= 0.00  %></label>
			</td>
			<% org_total = 0 #org_total + entry.amount %>
			<% total = 0 %>
			<td>
				<%= link_to image_tag('delete.png'), "javascript:deleteRow('invoiceTable', 'totalrow');", :id => row_index,
						:data => {:confirm => l(:text_are_you_sure)},
						:title => l(:button_delete) %>
			</td>			
		</tr>
		<% row_index = row_index + 1 %>
	<% end %>
   </tbody>
</table>

<%# if @invoiceItem.where(:item_type => 't').count > 0 %>
<b><label id="invsubtotal" style="float:right; padding-right:60px;"><%= l(:label_sub_total) + "  : " %>  <%= @invoiceItem.blank? ? @currency : (@invoiceItem[0].blank? ? @currency : @invoiceItem[0].original_currency) %><%= html_hours("%.2f" % org_total) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= toCurrency %><%= html_hours("%.2f" % total) %> </label></b>
<%# end %>
<%# unless @invoiceItem.blank? %>
<% tax_index = 1 %>
<% if !controller.addAdditionalTax %>
<table id="taxTable" class="list time-entries">
	<% unless @invoiceItem.blank? %>
		<% @invoiceItem.where(:item_type => 't').each do |entry| %>
				<tr>
				<% 
					tax_amount = getExchangedAmount( entry.original_currency, entry.original_amount)
			 	%>
					<td class="lbl-txt-align" ><%=h hidden_field_tag("tax_id#{tax_index}",   entry.id )  %></td>
					<td class="lbl-txt-align" ><%=h entry.project.name%></td>
					<td  style="text-align:left; !important" ><%=  entry.name %></td>				
					<td  style=" text-align:right; !important"><label id="taxitem_type<%= tax_index.to_s %>"><%= l(:label_tax) %></label></td>
					<td  style=" text-align:right; !important"><label id="taxrate<%= tax_index.to_s %>"><%=    ("%.2f" % entry.rate) %></label> <label>%</label> </td>
					<td class="lbl-txt-align" ><%=h hidden_field_tag("tax_pjt_id#{tax_index}",   entry.project_id )  %></td>
					<td  style=" padding-right:40px;  text-align:right; !important" ><%= entry.original_currency %><label id="taxamount<%= tax_index.to_s %>"><%= html_hours("%.2f" % entry.original_amount) unless entry.original_amount.blank? %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= toCurrency %><%= html_hours("%.2f" % entry.amount) %></label></td>
					<% org_total = org_total + entry.original_amount unless entry.original_amount.blank? %>
					<% total = total + entry.amount %>
				 </tr>
				  <% tax_index = tax_index + 1 %>
		<% end %>	
	<% else %>
		<% if !@taxVal.blank? %>
		<% @taxVal.each do |key, value| %>
			<% 
				tax_amount = getExchangedAmount(value['currency'], value['amount'])
			%>
			<tr class="<%= cycle("odd", "even") %>" >
			<td class="lbl-txt-align" >
				<%=h hidden_field_tag("tax_id#{tax_index}",   "" )  %>
			</td>
			<td class="lbl-txt-align" ><%=h value['project_name'] %></td>
			<td class="lbl-txt-align" ><%=h value['name'] %></td>	
			<td  style=" text-align:right; !important">
				<label id="taxitem_type<%= tax_index.to_s %>"><%= l(:label_tax) %></label>
			</td>
			<td  style=" text-align:right; !important">
				<label id="taxrate<%= tax_index.to_s %>"><%=    ("%.2f" % value['rate']) %></label> <label>%</label> 
			</td>
			<td class="lbl-txt-align" >
				<% if value['product_id'].blank? %>
					<%=h hidden_field_tag("tax_pjt_id#{tax_index}",   value['project_id'] )  %>
				<% else %>
					<%=h hidden_field_tag("tax_product_id#{tax_index}",  value['product_id'] )  %>
				<% end %>
			</td>
			<td  style=" padding-right:40px;  text-align:right; !important" >
				<%= value['currency'] %><label id="taxamount<%= tax_index.to_s %>">
				<%= html_hours("%.2f" % value['amount'])   %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= toCurrency %><%= html_hours("%.2f" % tax_amount) %></label>
			</td>
			<% org_total = org_total + value['amount'] %>
			<% total = total + tax_amount %>
			</tr>
			<% tax_index = tax_index + 1 %>
		<% end %>
		<% end %>
	<% end %>

	<tr><td colspan="8" style="padding-right:25px;"><b><label id="invtotalamount" style="float:right;">Total : <%= @invoiceItem.blank? ? @currency : (@invoiceItem[0].blank? ? @currency : @invoiceItem[0].original_currency) %> <%= html_hours("%.2f" % org_total) %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= toCurrency %><%= html_hours("%.2f" % total) %></label></b><td></tr>
</table>
<% end %>
<% round_index = 1 %>
<% isRundFOrInvItem = true %>
<table id="roundOffTable" class="list time-entries">
	<% unless @invoiceItem.blank? %>
		<% @invoiceItem.where(:item_type => 'r').each do |entry| %>
			<% isRundFOrInvItem = false if round_index < 2 %>
			<tr>
				<td class="lbl-txt-align" style="width:20px;"><%=h hidden_field_tag("round_id#{round_index}",   entry.id )  %></td>
				<td class="lbl-txt-align" style="width:20px;"><%=h hidden_field_tag("pjt_id#{round_index}",   entry.project_id )  %></td>
				<td class="lbl-txt-align" style="width:330px;" ><%=  entry.name %></td>				
				<td class="lbl-txt-align" style="width:140px;"><label id="rounditem_type<%= round_index.to_s %>"></label></td>
				<td class="lbl-txt-align" style="width:330px;"></td>
				<td class="lbl-txt-align" style="width:330px;"></td>
				<td class="lbl-txt-align" style="padding-right:65px;" ><%= entry.original_currency %><label id="roundamount"><%= html_hours("%.2f" % entry.original_amount)   %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= toCurrency %><%= html_hours("%.2f" % entry.amount) %></label></td>
				<% org_total = org_total + entry.original_amount %>
				<% total = total + entry.amount %>
			 </tr>
			
			<tr>
				<td colspan="8" style="padding-right:50px;"><b><label id="roundtotalamount" style="float:right;">Total : <%= @invoiceItem[0].blank? ? "" : @invoiceItem[0].original_currency %> <%= html_hours("%.2f" % org_total) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= toCurrency %><%= html_hours("%.2f" % total) %> </label></b><td>
			</tr>
			  <% round_index = round_index + 1 %>	
		<% end %>
		<% if isRundFOrInvItem %>
			<% 
				roundOff_amount = getExchangedAmount( @currency, (org_total.round - org_total))
			%>
			<tr>
				<td class="lbl-txt-align" style="width:20px;">
					<%=h hidden_field_tag("round_id#{round_index}",   "" )  %>
				</td>
				<td class="lbl-txt-align" style="width:20px;">
				<%=h hidden_field_tag("pjt_id#{round_index}",   "" )  %></td>
				<td class="lbl-txt-align" style="width:330px;" ><%=  l(:label_round_off) %></td>				
				<td class="lbl-txt-align" style="width:140px;"><label id="rounditem_type<%= round_index.to_s %>"></label></td>
				<td class="lbl-txt-align" style="width:330px;"></td>
				<td class="lbl-txt-align" style="width:330px;"></td>
				<td class="lbl-txt-align" style="padding-right:85px;" ><%= @currency %><label id="roundamount"><%= html_hours("%.2f" % (org_total.round - org_total))   %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= toCurrency %><%= html_hours("%.2f" % roundOff_amount) %></label></td>
				<% org_total = org_total + (org_total.round - org_total) %>
				<% total = total + roundOff_amount %>
			</tr>
			<tr>
				<td colspan="8" style="padding-right:50px;"><b><label id="roundtotalamount" style="float:right;">Total : <%= @invoiceItem.blank? ? @currency : (@invoiceItem[0].blank? ? @currency : @invoiceItem[0].original_currency) %> <%= html_hours("%.2f" % org_total) %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= toCurrency %><%= html_hours("%.2f" % total) %></label></b><td>
			</tr>
			 <% round_index = round_index + 1 %>
		<% end %>
	<% else %>
		<% 
			roundOff_amount = getExchangedAmount( @currency, (org_total.round - org_total))
		%>
		<tr>
			<td class="lbl-txt-align" style="width:20px;">
				<%=h hidden_field_tag("round_id#{round_index}",   "" )  %>
			</td>
			<td class="lbl-txt-align" style="width:20px;">
			<%=h hidden_field_tag("pjt_id#{round_index}",   "" )  %></td>
			<td class="lbl-txt-align" style="width:330px;" ><%=  l(:label_round_off) %></td>				
			<td class="lbl-txt-align" style="width:140px;"><label id="rounditem_type<%= round_index.to_s %>"></label></td>
			<td class="lbl-txt-align" style="width:330px;"></td>
			<td class="lbl-txt-align" style="width:330px;"></td>
			<td class="lbl-txt-align" style="padding-right:65px;" ><%= @currency %><label id="roundamount"><%= html_hours("%.2f" % (org_total.round - org_total)) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= toCurrency %><%= html_hours("%.2f" % roundOff_amount) %></label></td>
			<% org_total = org_total + (org_total.round - org_total) %>
			<% total = total + roundOff_amount %>
		 </tr>
		<tr><td colspan="8" style="padding-right:50px;"><b><label id="roundtotalamount" style="float:right;">Total : <%= @invoiceItem.blank? ? @currency : (@invoiceItem[0].blank? ? @currency : @invoiceItem[0].original_currency) %> <%= html_hours("%.2f" % org_total) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= toCurrency %><%= html_hours("%.2f" % total) %></label></b><td></tr>
		  <% round_index = round_index + 1 %>
	<% end %>
</table>
</div>
<%=h hidden_field_tag("totalrow",  row_index-1 )  %>
<%=h hidden_field_tag("taxrow",  tax_index-1 )  %>
<%=h hidden_field_tag("invoice_id",  @invoice.id )  %>
<% unless @invoiceItem.blank?  %>
<% unless @invoiceItem.blank? && @invoiceItem[0].blank? %>
<%#=h hidden_field_tag("invoice_id",  @invoice.id )  %>
<% end %>
<% end %> 
<%=h hidden_field_tag("deletedids",  "" )  %>
<%= submit_tag l(:button_save),  :hidden => false, :id => 'items_save', :disabled => (@preBilling || isDisable) %>
<% if controller.isInvPaymentLink && !@invoiceItem.blank? && !@invoice.id.blank?%>
	<%= link_to l(:label_pay_invoice), url_for(:controller => controller.getPaymentController, :action => 'edit', :load_payment => true, :related_to => @invoice.parent_type, :related_parent => @invoice.parent_id, :project_id => 0 ),  :class => 'icon icon-report' %>
<% end %>
<% unless @invoiceItem.blank? || @invoice.id.blank? %>
	<div style="float:right;">
		<%= link_to l(:label_export_invoice), "javascript: openInvReportPopup();" %> 
	</div>
<% end %>
<% if !@invoice.id.blank? && controller.isInvPaymentLink  %>
<br/>
<br/>
<h2 ><%= l(:label_payments) %></h2> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp
<%= render :partial => 'inv_payment_items_list' %>
<% end %>