<%
	projects = Project.all.map{|project| [project.name, project.id]}
	project_id = session[controller_name].try( :[], :project_id)
	period = session[controller_name].try( :[], :period)
	groupid = session[controller_name].try( :[], :group_id)
%>
<%= form_tag({}, method: :get, id: 'query_form') do %>
	<%= hidden_field_tag "searchlist", controller_name %>
	<fieldset>
		<%= render :partial => "wkdashboard/side_bar" %>
		<div style="display: flex; align-items: center; gap: 10px;padding-top: 5px;">
			<%= render :partial => 'wktime/date_range' %>
			<label style="padding-left: 5px;"><%= l(:label_project_plural) %></label>
			<%= select_tag('project_id', options_for_select( [["",""]] + projects, :selected => project_id), :style => "width:125px;")  %></td>
			<label style="padding-left: 5px;"><%=l(:label_group_plural)%></label>
			<%= select_tag('group_id', options_for_select( [["",""]] + (@groups.collect {|p| [p.name, p.id ]}), :selected => groupid), :style => "width:125px;") %>&nbsp
		</div>
		<%= submit_tag l(:button_apply), :class => 'button-small', :name => 'submit' %>
		<%= link_to sprite_icon('reload', l(:button_clear)), {tab: controller_name, clear: true}, :class => 'icon icon-reload' %>
	</fieldset>
<% end %>