<div>
  <div style="float:left"><%= title l(:label_admin_dashboards) %></div>
</div>
<div style="clear:both"></div>
<%= render :partial => "wkdashboard/filters" %>

<% if showBilling && validateERPPermission("M_BILL") 	%>
	<%= render :partial => "wkdashboard/invoice_details" %>
<% end %>

<% content_for :header_tags do %>
  <%= javascript_include_tag "chart.min" %>
<% end %>
<%= javascript_include_tag "dashboard", plugin: "redmine_wktime" %>

<%= javascript_tag do %>
	$(document).ready(function(){
		<% get_graphs_yaml_path.sort.each do |path| %>
			renderChart(<%= raw url_for(action: "graph", gPath: path).to_json %>, "<%=path%>");
		<% end %>
	});
<% end %>

<div id="graph"></div>