<h2><%= l(:label_shift) %></h2>
<%= javascript_include_tag 'index', :plugin => "redmine_wktime" %>
<script type="text/javascript">
   wkattnIndexUrl = '<%=url_for(:controller => "wkattendance", :action => "index", :tab => "leave")%>';     
   clockInOutUrl = '<%=url_for(:controller => "wkattendance", :action => "clockindex", :tab => "clock")%>'; 
   payrollUrl = '<%=url_for(:controller => "wkpayroll", :action => "index", :tab => "payroll")%>';
	wkSchedulingUrl = '<%=url_for(:controller => "wkscheduling", :action => "index", :tab => "wkscheduling")%>';
	wkShiftUrl = '<%=url_for(:controller => "wkshift", :action => "index", :tab => "wkshift")%>';  
	wkPublicHolidayUrl = '<%=url_for(:controller => "wkpublicholiday", :action => "index", :tab => "wkpublicholiday")%>';
</script>

<%= render_tabs time_expense_tabs %>
<%=h hidden_field_tag('tab', "#{controller_name}") %>
<%= render :partial => 'wkshift/shift_index'%>