<%= stylesheet_link_tag 'wk-time', :plugin => "redmine_wktime" %>
 <%= form_tag({:controller => 'wkattributegroup', :action => 'index'}, :method => :post, :id => 'query_form') do %>
	  <fieldset>
		 <%=h hidden_field_tag('tab', "wkattributegroup") %>
		 <label for='name'><%= l(:field_name) %>:</label>
		 <%= text_field_tag 'name', params[:name], :size => 30 %>
		 <%= submit_tag l(:button_apply), :class => "small", :name => nil %>
		 <%= link_to l(:button_clear), {:controller => controller_name, :action => 'index', :tab => controller_name}, :class => 'icon icon-reload' %>
	  </fieldset>
 <% end %>
 <div class="wk-contextual">
        <%= link_to l(:label_new_attribute_group), url_for(:controller => controller_name, :action => 'edit'), :class => 'icon icon-time-add' %>
		<%#= link_to l(:label_category), url_for(:controller => controller_name, :action => 'category'), :class => 'icon icon-time-add' %>
 </div>
<div class="autoscroll">
<table class="list time-entries">
  <thead>
         <tr>
				<th class="lbl-txt-align">#</th>
				<%= sort_header_tag('name', :caption => l(:field_name), class: "lbl-txt-align") %>
				<%= sort_header_tag('description', :caption => l(:field_description), class: "lbl-txt-align") %>
				<th></th>
         </tr>
  </thead>
  <tbody>
     <% @groupEntries.each do |entry| %>
          <tr>
			  <td class="lbl-txt-align"><%=h entry.id %></td>
			  <td class="lbl-txt-align"><%=h entry.name  %></td>
			  <td class="lbl-txt-align"><%=h entry.description  %></td>
			  <td align="center">
                 <%= link_to image_tag('edit.png'), {:controller => controller.controller_name, :action => 'edit', :group_id => entry.id}, :title => l(:button_edit) %> 
				 <% if controller.hasDeletePermission %>
					<%= link_to image_tag('delete.png'), {:controller => controller.controller_name, :action => 'destroy', :group_id => entry.id, :tab => controller.controller_name},  :data => {:confirm => l(:text_are_you_sure)}, :method => :delete, :title => l(:button_delete) %>
				<% end %>
			  </td>
		 </tr>
   	<% end %>
  </tbody>
</table>
</div>
<span class="pagination"><%= pagination_links_full @entry_pages, @entry_count %></span>

