<table class="list time-entries">
	<thead>
		<tr>
			<%= sort_header_tag('user_name', :caption => l(:field_user), class: "lbl-txt-align") %>
			<%= sort_header_tag('skill_set', :caption => l(:label_skill_set), class: "lbl-txt-align") %>
			<%= sort_header_tag('rating', :caption => l(:label_rating), class: "lbl-txt-align") %>
			<%= sort_header_tag('last_used', :caption => l(:label_last_used), class: "lbl-txt-align") %>
			<%= sort_header_tag('experience', :caption => l(:label_years_of_exp), class: "lbl-txt-align") %>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @skillEntries.each do |entry| %>
			<tr>
				<td class="lbl-txt-align"><%= entry.user.name %></td>
				<td class="lbl-txt-align"><%= entry.skill_set.name %></td>
				<td class="lbl-txt-align"><%= entry.rating %></td>
				<td class="lbl-txt-align"><%= entry.last_used %></td>
				<td class="lbl-txt-align"><%= entry.experience %></td>
				<td align="center">
					<%= link_to image_tag('edit.png'), {:controller => controller_name, :action => 'edit', :id => entry.id, 
						:tab => controller_name}, :title => l(:button_edit) %>
					<%= link_to image_tag('delete.png'), {:controller => controller_name, :action => 'delete', :id => entry.id, 
							:tab => controller_name},  :data => {:confirm => l(:text_are_you_sure)}, :method => :delete, :title => l(:button_delete) %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>