<h2><%= @skills.blank? ? l(:label_new_skill) : l(:label_edit_skill) %></h2>
<%= form_with model: @skills, method: "post", url: {action: "save"} do |f| %>
	<%= f.hidden_field :id  %>
	<%= f.hidden_field :user_id  %>
	<fieldset class="box tabular">
		<table>
			<tr>
				<th align="left"><%= l(:label_user_name) %></th>
				<td align="left">
					<% if validateERPPermission("A_SKILL") && !@skills.id.present? %>
						<%= f.select :user_id, options_for_select(@members, :selected => User.current.id )%>
					<% else %>
						<%= @skills&.user.present? ? @skills&.user&.name : User.current.name %>
					<% end %>
				</td>
			<tr>
			<tr>
				<th align="left"><%= l(:label_skill_set) %></th>
				<td align="left">
					<%= f.select :skill_set_id, options_for_select(options_for_enum_select('SK', @skills.try(:skill_set_id), false)) %>
				</td>
			<tr>
			<tr>
				<th align="left"><%= l(:label_rating) %></th>
				<td align="left">
					<%= f.select :rating, (1..5).to_a %>
				</td>
			</tr>
			<tr>
				<th align="left"><%= l(:label_last_used) %></th>
				<td align="left">
					<%= f.select :last_used, (1970..Time.now.year).to_a.reverse %>
				</td>
			</tr>
			<tr>
				<th align="left"><%= l(:label_years_of_exp) %></th>
				<td align="left">
					<%= f.text_field :experience %>
				</td>
			</tr>
		</table>
  </fieldset>  
  <%= f.submit "Save" %>
<% end %>