<h2><%= @skills.blank? ? l(:label_new_skill) : l(:label_edit_skill) %></h2>
<%= form_with model: @skills, url: {action: "save"} do |f| %>
	<%= f.hidden_field :user_id  %>
	<fieldset class="box tabular">
		<table>
			<tr>
				<th align="left"><%= l(:label_user_name) %></th>
				<td align="left">
					<%= @skills.blank? ? User.current.name : @skills.user.name %>
				</td>
			<tr>
			<tr>
				<th align="left"><%= l(:label_skill_set) %></th>
				<td align="left">
					<%= f.select :skill_set_id, options_for_select(options_for_enum_select('SK', @skills.try(:skill_set_id), false)) %>
				</td>
			<tr>
			<tr>
				<th align="left"><%= l(:label_rating) %></th>
				<td align="left">
					<%= f.text_field :rating %>
				</td>
			</tr>
			<tr>
				<th align="left"><%= l(:label_years_of_exp) %></th>
				<td align="left">
					<%= select_year(@skills.try(:last_used) || Date.current.year, end_year: Date.current.year , prefix: "wk_skill[last_used]", discard_type: true) %>
				</td>
			</tr>
			<tr>
				<th align="left"><%= l(:label_last_used) %></th>
				<td align="left">
					<%= f.text_field :experience %>
				</td>
			</tr>
		</table>
  </fieldset>  
  <%= f.submit "Save" %>
<% end %>