<%= title l(:label_wk_skill) %>
<%= render partial: "wkattendance/render_hr_tabs" if params[:project_id].blank? %>

<div class="contextual">
	<%= link_to l(:label_new_skill), url_for(controller: controller_name, action: 'edit', project_id: params[:project_id]), :class => 'icon icon-add' %>
</div>
<div style="clear: both;" ></div>
<% if params[:project_id].blank? %>
	<%= render partial: "filters" %>
<% else %>
	<%= render partial: "proj_filters" %>
<% end %>

<% if @skillEntries.present? %>
	<%= render :partial => 'skill_list'%>
	<span class="pagination"><%= pagination_links_full @skill_pages, @skill_count %></span>
<% else %>
	<p style="clear:both" class="nodata">No data to display</p>
<% end %>
