<%= stylesheet_link_tag 'wk-time', :plugin => "redmine_wktime" %>
<%= javascript_include_tag 'index', :plugin => "redmine_wktime" %>
<script type="text/javascript">
   wkattnIndexUrl = '<%=url_for(:controller => "wkattendance", :action => "index", :tab => "leave")%>';
   wkleavereqUrl = '<%=url_for(:controller => "wkleaverequest", :action => "index", :tab => "wkleaverequest")%>';
   clockInOutUrl = '<%=url_for(:controller => "wkattendance", :action => "clockindex", :tab => "clock")%>'; 
   payrollUrl = '<%=url_for(:controller => "wkpayroll", :action => "index", :tab => "payroll")%>';
	wkSchedulingUrl = '<%=url_for(:controller => "wkscheduling", :action => "index", :tab => "wkscheduling")%>'; 
	wkPublicHolidayUrl = '<%=url_for(:controller => "wkpublicholiday", :action => "index", :tab => "wkpublicholiday")%>';
	wkSurveyUrl = '<%=url_for(:controller => "wksurvey", :action => "user_survey", :tab => "wksurvey", :surveyForType => 'User')%>'; 
	wkskillUrl = '<%=url_for(:controller => "wkskill", :action => "index", :tab => "wkskill")%>';
	grpUrl="<%= "#{url_for(:controller => "wkpayroll", :action => 'getMembersbyGroup')}" %>";
</script>
	<%= title l(:label_wk_skill) %>
<%= render_tabs time_expense_tabs %>
<div class="contextual">
	<%= link_to l(:label_new_skill), url_for(controller: controller_name, action: 'edit'), :class => 'icon icon-add' %>
</div>
<% 	groupId =session[controller_name].try(:[], :group_id)
	userID = session[controller_name].try(:[], :user_id)
	skillSet = session[controller_name].try(:[], :skill_set)
	rating = session[controller_name].try(:[], :rating)
%>
<fieldset>
	<legend><%= l(:label_filter_plural) %></legend>
	<%= form_tag({controller: controller_name, action: 'index'}, method: :get) do %>
		<%= hidden_field_tag("searchlist", controller_name) %>
		<%= hidden_field_tag('tab', controller_name) %>
		<% if validateERPPermission("A_ATTEND") %>
			<label><%=l(:label_group_plural)%></label>&nbsp;
			<%= select_tag('group_id', options_for_select( [["", 0]] + (@groups.collect {|p| [p.name, p.id ]}),
						selected: groupId), onchange: "grpChanged(this, #{User.current.id}, true);", :style=> "width:300px;") %>&nbsp;
			<label><%=l(:label_member)%></label>&nbsp;
			<%= select_tag('user_id', options_for_select( [[l(:all_users_for_select), 0]] + @members, selected: userID),
						:style=> "width:200px;") %>&nbsp;
		<% end %>
		<label><%= l(:label_skill_set) %></label>&nbsp;
		<%=h select_tag('skill_set', options_for_select(options_for_enum_select('SK', skillSet || 0, true))) %></td>
		<div>
			<%= submit_tag l(:button_apply), class: "small", name: nil %>
			<%= link_to l(:button_clear), {controller: controller_name, action: 'index', tab: controller_name}, class: 'icon icon-reload' %>
		</div>
	<% end %>
</fieldset>

<% if @skillEntries.present? %>
	<%= render :partial => 'skill_list'%>
	<span class="pagination"><%= pagination_links_full @skill_pages, @skill_count %></span>
<% else %>
	<p style="clear:both" class="nodata">No data to display</p>
<% end %>
