<%= stylesheet_link_tag 'wk-time', :plugin => "redmine_wktime" %>
<div class="autoscroll">
<table class="list time-entries">
  <thead>
         <tr>
			<%= sort_header_tag('name', :caption => l(:label_taxname), class: "lbl-txt-align") %>
			<%= sort_header_tag('rate', :caption => l(:label_rate), class: "lbl-txt-align") %>
			<th></th>
         </tr>
  </thead>
  <tbody>
     <% @tax_entries.each do |entry| %>
          <tr>
		      <td class="lbl-txt-align"><%=h entry.name %></td>
			  <td class="lbl-txt-align"><%=h entry.rate_pct  %><%=h "%" %></td>
			  <td align="center">
                 <%= link_to sprite_icon('edit'), {:controller => controller.controller_name, :action => 'edit', :tax_id => entry.id, id: entry.id}, :title => l(:button_edit) %> <%= link_to sprite_icon('del'), {:controller => controller.controller_name, :action => 'destroy', :tax_id => entry.id, id: entry.id, :tab => controller.controller_name},  :data => {:confirm => l(:text_are_you_sure)}, :method => :delete, :title => l(:button_delete) %>
			  </td>
		 </tr>
   	<% end %>
  </tbody>
</table>
</div>

