<%= javascript_include_tag 'index', :plugin => "redmine_wktime" %>
<%= stylesheet_link_tag 'wk-time', :plugin => "redmine_wktime" %>
<script type="text/javascript"> 
	prevTab = 'tab-<%= "wkattnreport" %>';
</script>
<%= form_tag({:controller => controller_name, :action => 'report'}, :method => :get, :id => 'query_form') do %>
<div style="clear:both"></div>
<%= render :partial => 'wkattendance/date_range' %>
<%= render :partial => 'wkattendance/list_attn_report'%>
<%=h hidden_field_tag('tab', "wkattnreport") %>
<%= hidden_field_tag "searchlist", "wkattnreport" %>
<% end %>