<%= javascript_include_tag 'index', :plugin => "redmine_wktime" %>
<%= stylesheet_link_tag 'wk-time', :plugin => "redmine_wktime" %>
<script type="text/javascript"> 
	prevTab = 'tab-<%= "#{controller_name}" %>';
</script>
<%= render :partial => 'wkattendance/list'%>
<span class="pagination"><%= pagination_links_full @entry_pages, @entry_count %></span>
<%=h hidden_field_tag('tab', "#{controller_name}") %>