<%= javascript_include_tag 'index', :plugin => "redmine_wktime" %>
<h2><%= l(:label_ta) %></h2>
<script type="text/javascript">
   wkattnIndexUrl = '<%=url_for(:controller => "wkattendance", :action => "index", :tab => "leave")%>';     
   wkReportUrl = '<%=url_for(:controller => "wkattendance", :action => "clockindex", :tab => "clock")%>'; 
</script>

<%= render_tabs time_expense_tabs %>

