<h2><%= l(:label_wk_attendance) %></h2>
<script type="text/javascript">
   wkattnIndexUrl = '<%=url_for(:controller => "wkattendance", :action => "index", :tab => "leave")%>';     
   clockInOutUrl = '<%=url_for(:controller => "wkattendance", :action => "clockindex", :tab => "clock")%>'; 
</script>

<%= render_tabs time_expense_tabs %>
<%= render :partial => 'attn_index' %>
<% html_title(l(:label_ta)) -%>