<%= title l(:label_depreciation) %>
<%= render partial: "wkproduct/render_inventory_tabs" %>
<%= render :partial => 'wkassetdepreciation/depreciation_index'%>

<% if @depreciation_entries.present? %>
	<%= render :partial => 'wkassetdepreciation/list'%>
	<% other_formats_links do |f| %>
		<%= f.link_to_with_query_parameters 'CSV', {} %>
	<% end %>
<% else %>
	<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
