<%= javascript_include_tag 'index', :plugin => "redmine_wktime" %>
<div class="wk-contextual" style="float:right;">
      <%= link_to l(:label_new_brand), url_for(:controller => controller_name, :action => 'edit'), :class => 'icon icon-add' %>&nbsp;
      <%= render :partial => 'wkproduct/sidebar' %>
 </div>
 <%=  title l(:label_brand) %>
<%= render :partial => 'wkbrand/brand_list'%>