<script type="text/javascript"> 
holidayAlertMsg = "<%= l(:text_are_you_sure) %>";
dateExistsAlertMsg = "<%=l(:label_wk_date_exists) %>";
selectListAlertMsg = "<%=l(:label_wk_select_holiday) %>";
</script>
<fieldset class="box tabular">
	<legend><%= l(:label_wk_public_holiday) %></legend>
	<p>
	<label><%= l(:label_wk_public_holiday) %></label>
		<%=  select_tag('settings[wktime_public_holiday]',
			options_for_select(@settings['wktime_public_holiday'].blank? ? '' : @settings['wktime_public_holiday'], :selected => 'settings[wktime_public_holiday]'), :multiple=> true, :style => "width:200px; height:150px;")%>	

	</p>			
	<p>
		<%= link_to "Add", "javascript:showDialog('Add');", :class => "button"%>  |
		<%= link_to "Edit", "javascript:showDialog('Edit');", :class => "button"%>  |
		<%= link_to "Delete", "javascript:removeSelectedValue('settings_wktime_public_holiday');", :class => "button" %>
	</p>
	
	<div id="holiday-dlg" title="<%= l(:label_wk_public_holiday) %>">
		<p>
			<span style="margin-left:3.2em;"></span><label><%= l(:label_date) %></label><span style="margin-left:0.5em;"></span><%= date_field_tag('holiday_date',Date.today.to_s,:size => 15, :required => true, :maxlength => 15) %><%= calendar_for('holiday_date') %> 
		</p>
		<p>
			<label><%= l(:label_wk_description) %></label><span style="margin-left:0.5em;"></span><%= text_field_tag('holiday_desc','',:size => 20, :maxlength => 200) %> 		
		</p>
		<p>
			<%= hidden_field_tag :hdnAction, "" %>
		</p>
	</div>
</fieldset>