<fieldset>
	<legend><%= l(:label_accounting) %></legend>
	
	
	
	<%
			accountGroups = Array.new
			accGroup = Group.all.sort
			unless accGroup.blank?
				accountGroups = accGroup.collect {|t| [t.name, t.id] }
			end
			accountGroups.unshift(["",""])
	%>
	<p style="padding-left: 220px;">
		<label><%=l(:label_accounting_group)%></label>
		<%=  select_tag('settings[wktime_accounting_group]',
				options_for_select(accountGroups, :selected => @settings['wktime_accounting_group'].blank? ? "" : @settings['wktime_accounting_group']))%>
	</p>
	
	<p style="padding-left: 220px;">
		<label><%=l(:label_accounting_admin)%></label>
		<%=  select_tag('settings[wktime_accounting_admin]',
				options_for_select(accountGroups, :selected => @settings['wktime_accounting_admin'].blank? ? "" : @settings['wktime_accounting_admin']))%>
	</p>
	
</fieldset>