	<fieldset class="box tabular">
		<legend><%= l(:label_general) %></legend>
		<p>
			<%= check_box_tag('settings[wktime_enable_report_module]', 1, @settings['wktime_enable_report_module'].to_i == 1) %> <label><%= l(:label_enable_report_module) %></label>
		</p>
		<p>
			 <label><%= l(:label_company_name) %></label><%= text_field_tag 'settings[wktime_company_name]', @settings['wktime_company_name'], :size => 30 %>
		</p>		
		
		<p>
		  <label><%= l(:label_address) %></label><%= text_area_tag 'settings[wktime_company_address]',  @settings['wktime_company_address'], :size => "23*10" %>
		</p>
		<p>
		  <label><%= l(:label_wk_header_logo) %></label><%= text_field_tag 'settings[wktime_header_logo]', @settings['wktime_header_logo']%>
		</p>
	</fieldset>		
