<fieldset>
	<legend><%= l(:label_crm) %></legend>
	
	<p style="margin-left: -110px;">
			<%= check_box_tag('settings[wktime_enable_crm_module]', 1, @settings['wktime_enable_crm_module'].to_i == 1) %> <label><%= l(:label_enable_crm_module) %></label>
	</p>
	
	<%
			accountGroups = Array.new
			accGroup = Group.order('lastname')
			unless accGroup.blank?
				accountGroups = accGroup.collect {|t| [t.lastname, t.id] }
			end
			accountGroups.unshift(["",""])
	%>
	<p style="padding-left: 190px;">
		<label><%=l(:label_crm_user_group)%></label>
		<%=  select_tag('settings[wktime_crm_group]',
				options_for_select(accountGroups, :selected => @settings['wktime_crm_group'].blank? ? "" : @settings['wktime_crm_group']))%>
	</p>
	
	<p style="padding-left: 190px;">
		<label><%=l(:label_crm_admin_group)%></label>
		<%=  select_tag('settings[wktime_crm_admin]',
				options_for_select(accountGroups, :selected => @settings['wktime_crm_admin'].blank? ? "" : @settings['wktime_crm_admin']))%>
	</p>
	
</fieldset>