<script type="text/javascript"> 
attendanceAlertMsg = "<%= l(:text_are_you_sure) %>";
selectListAlertMsg = "<%=l(:label_wk_select_break_time) %>";
</script>
<fieldset class="box tabular">
	<legend><%= l(:label_wk_attendance) %></legend>
	<p>
	<%= check_box_tag('settings[wktime_work_time_header]', 1, @settings['wktime_work_time_header'].to_i == 1) %> <label><%= l(:label_wk_work_time_header) %></label>
	</p>
	<p>
	<%= check_box_tag('settings[wktime_enable_clock_in_out]', 1, @settings['wktime_enable_clock_in_out'].to_i == 1) %> <label><%= l(:label_wk_enable_clock_in_out) %></label>
	</p>
	<p>
		<%
		breakTime = []
		if(@settings['wktime_break_time'].blank?)
			breakTime = ''
		else
			@settings['wktime_break_time'].each do |element|
			  listboxArr = element.split('|')
			  fromHr = listboxArr[0].to_i>9 ? listboxArr[0].strip  : "0"+listboxArr[0].strip
			  fromMin = listboxArr[1].to_i>9 ? listboxArr[1].strip : "0"+listboxArr[1].strip
			  toHr = listboxArr[2].to_i>9 ? listboxArr[2].strip : "0"+listboxArr[2].strip
			  toMin = listboxArr[3].to_i>9 ? listboxArr[3].strip : "0"+listboxArr[3].strip
			  optionText = fromHr + ":"  + fromMin + " to "  + toHr + ":"  + toMin
			  breakTime << [optionText,element]
			end
		end
		hr = []
		min = []
		for i in 0..23
			if i < 10
				hr << ['0' + i.to_s,i]
			else
				hr << [i,i]
			end
		end
		i = 0
		num = 5

		until i > 55  do
			if i < 10
				min << ['0' + i.to_s,i]
			else
				min << [i,i]
			end
		
		   i +=5;
		end
		%>
	<label><%= l(:label_wk_break_time) %></label>
		<%=  select_tag('settings[wktime_break_time]',
			options_for_select(breakTime, :selected => 'settings[wktime_break_time]'), :multiple=> true, :style => "width:200px; height:150px;")%>	

	</p>			
	<p>
		<%= link_to "Add", "javascript:showBreakTimeDialog('Add');", :class => "button"%>  |
		<%= link_to "Edit", "javascript:showBreakTimeDialog('Edit');", :class => "button"%>  |
		<%= link_to "Delete", "javascript:removeSelectedValue('settings_wktime_break_time');", :class => "button" %>
	</p>
	
	<div id="breaktime-dlg" title="<%= l(:label_wk_break_time) %>">
		<p>
			<label><%= l(:label_date_from) %></label><span style="margin-left:0.5em;"></span>
			<%
			hr = []
			min = []
			for i in 0..23
				if i < 10
					hr << ['0' + i.to_s,i]
				else
					hr << [i,i]
				end
			end
			i = 0
			num = 5

			until i > 55  do
				if i < 10
					min << ['0' + i.to_s,i]
				else
					min << [i,i]
				end
			
			   i +=5;
			end
			%>
			<%= select_tag('settings[wktime_break_from_hr]', options_for_select(hr, 
			:selected => @settings['wktime_break_from_hr'].blank? ? 23 : @settings['wktime_break_from_hr']))%>&nbsp<%= l(:field_hours) %>&nbsp;	
			<%= select_tag('settings[wktime_break_from_min]', options_for_select(min, 
			:selected => @settings['wktime_break_from_min'].blank? ? 0 : @settings['wktime_break_from_min']))%><%= l(:label_wk_minutes) %>								   	
		</p>
		<p>
			<label><%= l(:label_date_to) %></label><span style="margin-left:0.5em;"></span>
			<%
			hr = []
			for i in 0..23
				if i < 10
					hr << ['0' + i.to_s,i]
				else
					hr << [i,i]
				end
			end
			%>
			<%= select_tag('settings[wktime_break_to_hr]', options_for_select(hr, 
			:selected => @settings['wktime_break_to_hr'].blank? ? 23 : @settings['wktime_break_to_hr']))%>&nbsp<%= l(:field_hours) %>&nbsp;	
			<%= select_tag('settings[wktime_break_to_min]', options_for_select(min,
			:selected => @settings['wktime_break_to_min'].blank? ? 0 : @settings['wktime_break_to_min']))%><%= l(:label_wk_minutes) %>								   	
		</p>
		<p>
			<%= hidden_field_tag :hdnAction, "" %>
		</p>
	</div>
	
	<p>
		<label><%= l(:label_wk_sick_leave_accrual) %></label><%= text_field_tag 'settings[wktime_sick_leave_accrual]', @settings['wktime_sick_leave_accrual'], :size => 3 %>
	</p>
	<p>
		<label><%= l(:label_wk_paid_leave_accrual) %></label><%= text_field_tag 'settings[wktime_paid_leave_accrual]', @settings['wktime_paid_leave_accrual'], :size => 3 %>
	</p>
	<p>
		<label><%= l(:label_wk_leave_accrual_after) %></label><%= text_field_tag 'settings[wktime_leave_accrual_after]', @settings['wktime_leave_accrual_after'], :size => 3 %>
	</p>
</fieldset>