<%= stylesheet_link_tag 'wk-time', :plugin => "redmine_wktime" %>
<%#= title l(:label_group) + " " +  l(:label_permissions) %>
<%  lastmName = ""
	firstApperence = 0
	count = 1
	moduleHash = getPermissionModules()
	permissionArr = Array.new
	permissionArr = @groupPermission.pluck(:permission_id) unless @groupPermission.blank?

%>
<style>
label{
width: auto !important;}
</style>
<%= form_tag({:controller => controller_name, :action => 'index', :tab => "wkgrouppermission"}, :method => :get, :id => 'filter_query_form') do %>
<%=h hidden_field_tag('tab', "wkgrouppermission") %>
<fieldset class="box tabular">
	<table>
		<th><%=l(:label_group) %></th>
		<td><%= select_tag 'group_id', content_tag('option') + options_from_collection_for_select(@groups, :id, :name, params[:group_id].to_i), :onchange => "this.form.submit(); return false;"  %></td>

	</table>
</fieldset>
<% end %>
<%= form_tag({:controller => controller_name, :action => 'update'}, :method => :post, :id => 'query_form') do %>
<%=h hidden_field_tag("group_id", @groupPermission.blank? ? params[:group_id].to_i : @groupPermission[0].group_id) %>

<% @permission.group_by(&:plugin).each do |plugin, permissions| %>
<fieldset class="box tabular">
	
	<% permissions.group_by(&:modules).each do |m_name, m_perms| %>
		<div class="icon-gravatar">
		 <fieldset>
		 <legend><%= moduleHash[m_name || ""] %></legend>
			<% m_perms.each do |mn| %>
				<% isPermission = permissionArr.include? mn.id %>
				<p><label style="text-align: left; float:left;">
							<%= check_box_tag "is_permission#{count}", 1, isPermission     -%>
							<%= l(("#{mn.name}"), :prefix => "erpmine_module_") %></label>
						</p>
						<%=h hidden_field_tag("permission_id#{count}", mn.id) %>
						<%=h hidden_field_tag("count", count) %>
				<% count += 1 %>
			<% end %>
		 </fieldset>
		</div>
	<% end %>
</fieldset>
<% end %>

<% if @locations_tree.present? %>
<fieldset class="box">
	<legend><%= l(:label_location_permission) %></legend>
	<div class="wk-locperm-tree">
		<% @locations_tree.each do |loc| %>
			<% depth = @location_depths[loc.id] || 0 %>
			<% ancestors = (@location_ancestor_ids[loc.id] || []).join(',') %>
			<div class="wk-locperm-row" data-location-id="<%= loc.id %>" data-ancestor-ids="<%= ancestors %>" style="padding:3px 0 3px <%= depth * 18 %>px; white-space:nowrap;">
				<% if loc.leaf? %>
					<span style="display:inline-block; width:18px; vertical-align:middle;"></span>
				<% else %>
					<a href="javascript:void(0)" class="wk-locperm-toggle" data-location-id="<%= loc.id %>" data-collapsed="0" style="display:inline-block; width:18px; height:18px; line-height:16px; text-align:center; text-decoration:none; font-weight:bold; font-size:14px; border:1px solid #1976d2; border-radius:50%; background:#fff; color:#1976d2; vertical-align:middle;">&minus;</a>
				<% end %>
				<%= check_box_tag 'location_ids[]',
					loc.id,
					@group_location_ids.include?(loc.id),
					class: 'wk-locperm-check',
					id: "loc_chk_#{loc.id}",
					style: 'vertical-align:middle; margin:0 4px;' %>
				<label for="loc_chk_<%= loc.id %>" style="float:none !important; display:inline; width:auto; vertical-align:middle;"><%=h loc.name %></label>
			</div>
		<% end %>
	</div>
</fieldset>
<% end %>

 <%= submit_tag l(:button_save), :class => "small", :name => nil %>
<% end %>

<% if @locations_tree.present? %>
	<%= render 'wklocation/tree_toggle_js' %>
	<script>
	WkLocTree.init({
		rowSelector: '.wk-locperm-row',
		toggleSelector: '.wk-locperm-toggle',
		checkSelector: '.wk-locperm-check',
		cascadeCheck: true
	});
	</script>
<% end %>