<h2><%= l(:label_contracts) %></h2>
<%= javascript_include_tag 'index', :plugin => "redmine_wktime" %>
<script type="text/javascript"> 
    blgcontractsUrl = '<%=url_for(:controller => "wkcontract", :action => "index", :tab => "wkcontract")%>'; 
    blginvoiceUrl = '<%=url_for(:controller => "wkinvoice", :action => "index", :tab => "wkinvoice")%>';
	blgpaymentUrl = '<%=url_for(:controller => "wkpayment", :action => "index", :tab => "wkpayment")%>';
	blgtaxUrl = '<%=url_for(:controller => "wktax", :action => "index", :tab => "wktax")%>';
	blgexcrateUrl = '<%=url_for(:controller => "wkexchangerate", :action => "index", :tab => "wkexchangerate")%>';
    prevTab = 'tab-<%= "#{controller_name}" %>';   
//	grpUrl="<%= "#{url_for(:controller => "wkpayroll", :action => 'getMembersbyGroup')}" %>";
		//getMembersbyGroup
</script>
<%= render_tabs time_expense_tabs %>

<%= hidden_field_tag 'back_url', url_for(:controller => params[:controller], :action => params[:action]) %>

<%= render :partial => 'wkcontract/contract_index'%>