<%= javascript_include_tag 'index', :plugin => "redmine_wktime" %>
<h2><%= l(:label_payroll) %></h2>
<script type="text/javascript"> 
       
		grpUrl="<%= "#{url_for(:controller => "wkpayroll", :action => 'getMembersbyGroup')}" %>";
		//getMembersbyGroup
</script>

<%= hidden_field_tag 'back_url', url_for(params) %>
<% if isAccountUser %>
<div class="contextual">
<%= link_to l(:"label_generate_salary"), url_for(:controller => "wkpayroll", :action => 'gensalary', :tab => controller.controller_name)%>
</div>
<% end %>
<% wktime_helper = Object.new.extend(WktimeHelper) %>
<%= form_tag({:controller => controller_name, :action => 'index'}, :method => :get, :id => 'query_form') do %>
	<%= hidden_field_tag "searchlist", "#{controller_name}" %>
	<%	groupid =session[:wkpayroll][:group_id]
		userid =session[:wkpayroll][:user_id] %>	
		<table>
		
			<% if wktime_helper.isAccountUser %>
			<tr>
			<th><%=l(:label_group_plural)%> </th>
			<% if !@groups.blank? %>
				<td>
					<%=h select_tag('group_id',
					options_for_select( [["",0]] + (@groups.collect {|p| [p.name, p.id ]}),
					:selected => !groupid.nil? ? groupid.to_i: 0), :onchange => "grpChanged(this, #{User.current.id}, true);", :style=> "width:300px;") %>
				</td>
			<% end %>
			<th><%=l(:label_member)%></th>
			<td>
			<%# show the blank value if more than one user is in the list %>
			<%=h select_tag('user_id',
				options_for_select( [["All Users","0"]] + @members,
				:selected => userid.nil? ? (@user.nil? ? User.current.id : @user.id) : userid),
				:style=> "width:200px;") %></td>
			</tr>
			<% end %>
		</table>
		<%= render :partial => 'wkpayroll/date_range' %>
	<% end %>	
<%= render :partial => 'wkpayroll/payroll_list'%>


<% html_title(l(:label_ta)) -%>