<%= javascript_include_tag 'index', :plugin => "redmine_wktime" %>
<%= javascript_include_tag 'wkpayroll', :plugin => "redmine_wktime" %>
<h2><%= l(:label_payroll) %></h2>
<script type="text/javascript"> 
    wkattnIndexUrl = '<%=url_for(:controller => "wkattendance", :action => "index", :tab => "leave")%>';     
    clockInOutUrl = '<%=url_for(:controller => "wkattendance", :action => "clockindex", :tab => "clock")%>';
	payrollUrl = '<%=url_for(:controller => "wkpayroll", :action => "index", :tab => "payroll")%>';
	wkSchedulingUrl = '<%=url_for(:controller => "wkscheduling", :action => "index", :tab => "wkscheduling")%>';
	wkPublicHolidayUrl = '<%=url_for(:controller => "wkpublicholiday", :action => "index", :tab => "wkpublicholiday")%>';
	wkSurveyUrl = '<%=url_for(:controller => "wksurvey", :action => "user_survey", :tab => "wksurvey", :surveyForType => 'User')%>';
	grpUrl="<%= "#{url_for(:controller => "wkpayroll", :action => 'getMembersbyGroup')}" %>";
		//getMembersbyGroup
</script>
<%= render_tabs time_expense_tabs %>
   <% content_for :sidebar do %>
      <%= render :partial => 'sidebar' %>
   <% end %>
<%= hidden_field_tag 'back_url', url_for(:controller => params[:controller], :action => params[:action]) %>
<% wktime_helper = Object.new.extend(WktimeHelper) %>
<%= form_tag({:controller => controller_name, :action => 'index', :tap => 'payroll'}, :method => :get, :id => 'query_form') do %>
	<%= hidden_field_tag "searchlist", "#{controller_name}" %>
	<%=h hidden_field_tag('tab', 'payroll') %>
	<%	groupid =session[:wkpayroll].try(:[], :group_id)
		userid =session[:wkpayroll].try(:[], :user_id) %>	
		<table>
		
			<% if wktime_helper.validateERPPermission('A_TE_PRVLG') %>
			<tr>
			<th><%=l(:label_group_plural)%> </th>
			<% if !@groups.blank? %>
				<td>
					<%=h select_tag('group_id',
					options_for_select( [["",0]] + (@groups.collect {|p| [p.name, p.id ]}),
					:selected => !groupid.nil? ? groupid.to_i: 0), :onchange => "grpChanged(this, #{User.current.id}, true);", :style=> "width:300px;") %>
				</td>
			<% end %>
			<th><%=l(:label_member)%></th>
			<td>
			<%# show the blank value if more than one user is in the list %>
			<%=h select_tag('user_id',
				options_for_select( [[l(:all_users_for_select),"0"]] + @members,
				:selected => userid.nil? ? (@user.nil? ? User.current.id : @user.id) : userid),
				:style=> "width:200px;") %></td>
			</tr>
			<% end %>
		</table>
		<%= render :partial => 'wkpayroll/date_range' %>
	<% end %>

	<% unless @payrollEntries.blank? %>
		<div class="total-hours">
			<p><%= l(:label_total) %>: <%= @payrollEntries.values[0][:currency] %>&nbsp;<%= @total_gross %></p>
		</div>
	<% end %>
<%= render :partial => 'wkpayroll/payroll_list'%>


<% other_formats_links do |f| %>
	<% url = "?format=csv"
		params.each do |name, val|
			if !['controller', 'action', 'utf8'].include?(name)
				url = url + "&" + (name + "=" + val)
			end
		end
	%>
	<%= link_to 'CSV', url_for(:controller => controller_name, :action => 'export') + url %>	
<% end %>

<% html_title(l(:label_ta)) -%>