<%= javascript_include_tag 'index', :plugin => "redmine_wktime" %>
<h2><%= l(:label_payroll_user_settings) %></h2>

<% content_for :sidebar do %>
	<%= render :partial => 'sidebar' %>
<% end %>

<%= render :partial => 'wkpayroll/user_setting_list'%>
<span class="pagination"><%= pagination_links_full @entry_pages, @entry_count %></span>
<%=h hidden_field_tag('tab', "#{controller_name}") %>