<% if !@invoiceItem.blank? %>

	<div id="time-rpt-dlg" style="overflow-x:auto;">
		<center><b><%= l(:label_export_invoice) %></b></center>
		<div style="float:right">
			<table>
				<tr>
					<td>
						<% logo = Setting.plugin_redmine_wktime['wktime_header_logo'] %>					
						<% if !logo.blank? && (File.exist? (Redmine::Plugin.public_directory + "/redmine_wktime/images/" + logo)) %>						
							<%= image_tag("#{logo}", :plugin => "redmine_wktime") %>
						<% end %>
					</td>
				</tr>
			</table>
		</div>
		<div style="clear:both;"></div>
		<table border="1" style="border-collapse:collapse;" cellspacing="0", align="center"  frame="box">
				<tr style="width:100%;">
					<th align="left"  width="25%"><%= l(:label_name_address_of,l(:label_supplier)) %></th>
					<th align="left" width="25%"><%= l(:label_name_address_of,l(:label_customer)) %></th>
					<th align="left" width="25%"><%= l(:label_invoice_number) %></th>
					<th align="left" colspan ="3" width="25%"><%= l(:label_invoice_date) %></th>
				</tr>
				<tr style="width:100%;">
					<td align="left" width="25%"><%=h Setting.plugin_redmine_wktime['wktime_company_address'] %></td>
					<td align="left" width="25%"><%=h @invoice.account.name + " " + @invoice.account.address.address1 + " " + @invoice.account.address.address1  %></td>
					<td align="left" width="25%"><%=h @invoice.invoice_number %></td>
					<td align="left" colspan ="3" width="25%"><%=h @invoice.invoice_date %></td>
				</tr>
				<tr style="width:100%;">
					<th align="left" colspan="3" width="70%"><%= l(:label_cntrt_purchase_work_order) %></th>
					<th align="left" colspan="3" width="30%"><%= l(:label_period) %></th>
				</tr>
				<tr style="width:100%;">
					<td align="left" colspan="3" width="70%"><%=h @invoice.account.name %></td>
					<td align="left" colspan="3" width="30%"><%=h @invoice.start_date.to_s + ' to ' + @invoice.start_date.to_s %></td>
				</tr>
				<tr style="width:100%;">
					<th align="left"  ><%= l(:label_invoice_name) %></th>
					<th align="left"  ><%= l(:label_billing_type) %></th>
					<th align="left"  ><%= l(:label_rate) %></th>
					<th align="left"  ><%= l(:label_quantity) %></th>
					<th align="left"  ><%= l(:label_wk_currency) %></th>
					<th align="left" ><%= l(:field_amount) %></th>
				</tr>
				<% @invoiceItem.each do | entry | %>
				<tr style="width:100%;">
					<td ><%=h entry.name %></td>
					<td ><%=h l(:field_hours) %></td>
					<td ><%=h entry.rate %></td>
					<td ><%=h entry.quantity %></td>
					<td ><%=h entry.currency %></td>
					<td ><%=h entry.amount %></td>
				</tr>
				<% end %>
				<tr style="width:100%;">
					
					<td colspan="3" align="right"><%=h l(:label_total)   %></td>
					
					<td><%=h @invoiceItem.sum(:quantity) %></td>
					<td><%=h @invoiceItem[0].currency %></td>
					<td><%=h @invoiceItem.sum(:amount) %></td>
				</tr>
				<tr style="width:100%;">
					<td align="left" colspan="1" width="20%"><b><%= l(:label_amount_in_words) %></b></td>
					<td align="left" colspan="5" width="35%"><%=h numberInWords(@invoiceItem.sum(:amount)) %></td>
				</tr>
				<% unless Setting.plugin_redmine_wktime['wktime_invoice_components'].blank? 
				Setting.plugin_redmine_wktime['wktime_invoice_components'].each do |element| 
					listboxArr = element.split('|') %>
							<tr style="width:100%;">
								<td align="left" colspan="2" width="250px"><b><%= listboxArr[0] %></b></td>
								<td align="left" colspan="4" width="500px"><%=h listboxArr[1] %></td>
							</tr>
				<% end %>
			<% end %>
		</table>
	</div>
	<br/>		
	<table width="100%">
		<tr width="100%">
			<td class="txt-align" style="float:left;"><b><%= l(:label_place) %> :</b> </td>
			<td class="txt-align"  style="float:right;"><b><%= l(:label_authorized_signatory) %></b></td>
		</tr>
		<tr><td class="txt-align" style="float:left;" ><b><%=  l(:label_date) %> :</b> </td></tr>
	</table>	
<% else %>
	<label><b><%= l(:label_no_data) %></b></label>
<% end -%>