<h2><%= l(:label_invoice) %></h2>
<%= javascript_include_tag 'index', :plugin => "redmine_wktime" %>
<%= javascript_include_tag 'invoice', :plugin => "redmine_wktime" %>
<% parentArr = options_for_wktime_account(false)
	account = WkAccount.find(parentArr[0][1].to_i)
	projectArr = account.projects.pluck(:name, :id)
	isAccBilling = false
	if account.account_billing
		projectArr.unshift(["", 0])
		isAccBilling = true
	end
 %>
<%	projects = Project.where("#{Project.table_name}.status not in(#{Project::STATUS_CLOSED},#{Project::STATUS_ARCHIVED})").order('name') %>	
<%	projArr = options_for_wktime_project(projects,true) %>	
<%= form_tag({:controller => "wkinvoice", :action => 'edit'}, :method => :get, :id => 'query_form') do %>
<%=h hidden_field_tag("new_invoice",   true )  %>
<%=h hidden_field_tag("isAccBilling",   isAccBilling )  %>
<table>
<%= render partial: "wkcrm/view_polymorphic", locals: { parentObject:  nil , :parentType => "", :parentId => "", :index => false, :needParentProject => true } %>
<tr>
	<th align="left"><label><%= l(:label_project) %></label></th>
	<td style="padding-left:40px;"><%=h select_tag('project_id', options_for_select(projectArr)) %></td>
</tr>
<tr>
	<th align="left"><%= l(:label_start_date) %></th>
	<td align="left" style="padding-left:40px;"><%=h date_field_tag('start_date',Date.today, :size => 10, :required => true) %> <%= calendar_for('start_date') %></td>
</tr>
<tr>
	<th align="left"><%= l(:label_end_date) %></th>
	<td align="left" style="padding-left:40px;"><%=h date_field_tag('end_date',Date.today, :size => 10, :required => true) %> <%= calendar_for('end_date') %></td>
</tr>
<tr>
	<th align="left"><label><%= l(:label_populate_unbilled_items) %></label></th>
	<td style="padding-left:40px;"><%= check_box_tag('populate_items', 1, false ) %></td>
</tr>
</table>
<%= submit_tag l(:button_continue), :onclick => "return submitNewInvoiceForm(#{isAccBilling});",  :hidden => false, :id => 'new_invoice' %>
<% end %>