<h2><%= controller.contactLbl %></h2>
<%= form_tag({:controller => controller_name, :action => 'update'}, :method => :post, :id => 'query_form') do %>
<%= hidden_field_tag 'contact_id', @conEditEntry.blank? ? "" : @conEditEntry[0].id %>
<div id="account_form">
	<% addressObj =  @conEditEntry.blank? ?  nil : @conEditEntry[0].address  %>
	<div class="splitcontentleft">
		<%= render partial: "wklead/lead_info", locals: { contactObj: @conEditEntry.blank? ? nil : @conEditEntry[0], leadObj: nil, accountObj: nil, isAccount: false, isContact: true }%>
	</div>
	<div class="splitcontentright">
		<%= render partial: "wklead/contact_info", locals: { address: addressObj, :disable => false }%>
	</div>
<div style="clear:both;"></div>
<div>
	<%= submit_tag l(:button_save) ,:id => 'wkcontact_save'%>
	
</div>

<% end %>
<% unless @conEditEntry.blank? %>
	</br>
	<div>
		<%= render partial: "wkcrm/accordion_section", locals: { currentObj: @conEditEntry[0] }%>
	</div>
<% end %>