
<% if wcf.any? %>
<%= javascript_tag do %>
$( document ).ready(function() {

  $(".new_related").mousedown(function(event){
      event.preventDefault();
      event.stopImmediatePropagation();
      event.stopPropagation();
      console.log(event);
      mouseDownFired = true;
      var input = $( this );
      console.log('Im here');
      var projectId = $('#project_for_'+this.id.split("for_")[1]).val();
      if(projectId == ''){
        alert("<%= l(:label_you_have_to_pick_project) %>");
        return false;
      }
      var link = input.attr("href");
      var newLink = link.replace('project_id', projectId);
      if(event.which === 1){
        return;
      }else if (event.which === 2){
        window.open(newLink)
      }
  });

  $(".new_related").mouseup(function(event){
    event.stopImmediatePropagation();
    event.stopPropagation();
    event.preventDefault();
    return false;
  });

  $(".new_related").click(function(event){
    event.preventDefault();
    event.stopImmediatePropagation();
    event.stopPropagation();
    var input = $( this );
    console.log("im here");
    var projectId = $('#project_for_'+this.id.split("for_")[1]).val();
    if(projectId == ''){
      return;
    }
    var link = input.attr("href");
    var newLink = link.replace('project_id', projectId);
    window.open(newLink, "_self");
    if(mouseDownFired){
      mouseDownFired = false;
      return;
    }
  });
});
<% end %>
</br>
  <div id="relations" class="relations">
    <% wcfse = wcf.map(&:display_as).uniq %>
    <% wcfse.each do |wcfs| %>
         <label><%= wcfs %></label>
         <div>
           <div class="wk-contextual">
            <% wcf.where(display_as: wcfs).each do |wkcustomfield| %>
              <% if wkcustomfield.render_creation %>
                <% case CustomField.where(id: wkcustomfield.custom_fields_id).first.type %>
                <% when "DocumentCustomField" %>
                  <% link_id = 'new_document_link_for_' + wkcustomfield.id.to_s %>
                  <% select_id = 'project_for_' + wkcustomfield.id.to_s %>
                  <% doc_type = wkcustomfield.enumeration.nil? ? '' : wkcustomfield.enumeration %>
                  <% disabled = !wkcustomfield.allow_users_change_project %>
                  <div>
                    <%= link_to l(:label_document_new) + ' ' + l(:label_relates_to) + ' ' + wkcustomfield.custom_field.name.to_s + ' ' + l(:label_in) , url_for(controller: "documents", action: "new", project_id: 'project_id', "document[custom_field_values][#{wkcustomfield.custom_field.id.to_s}]" => entry.id, :continue => true, "document[enumeration]" => doc_type, :back_url => request.fullpath), class: 'icon icon-time-add new_related', id: link_id %>
                    <%= select_tag(select_id, options_for_select(options_for_project_select, selected: wkcustomfield.projects_id), disabled: disabled ) %>
                  </div>
                <% when "IssueCustomField" %>
                  <% link_id = 'new_issue_link_for_' + wkcustomfield.id.to_s %>
                  <% select_id = 'project_for_' + wkcustomfield.id.to_s %>
                  <% disabled = !wkcustomfield.allow_users_change_project %>
                  <div>
                    <%= link_to l(:label_issue_new) + ' ' + l(:label_relates_to) + ' ' + wkcustomfield.custom_field.name.to_s + ' ' + l(:label_in), url_for(controller: "issues", action: "new", project_id: 'project_id', "issue[custom_field_values][#{wkcustomfield.custom_field.id.to_s}]" => entry.id, :continue => true, :back_url => request.fullpath), class: 'icon icon-time-add new_related', id: link_id %>
                    <%= select_tag(select_id, options_for_select(options_for_project_select, selected: wkcustomfield.projects_id), disabled: disabled ) %>
                  </div>
                <% when "VersionCustomField" %>
                  <% link_id = 'new_version_link_for_' + wkcustomfield.id.to_s %>
                  <% select_id = 'project_for_' + wkcustomfield.id.to_s %>
                  <% disabled = !wkcustomfield.allow_users_change_project %>
                  <div>
                    <%= link_to l(:label_version_new) + ' ' + l(:label_relates_to) + ' ' + wkcustomfield.custom_field.name.to_s + ' ' + l(:label_in), url_for(controller: "versions", action: "new", project_id: 'project_id', "version[custom_field_values][#{wkcustomfield.custom_field.id.to_s}]" => entry.id, :continue => true, :back_url => request.fullpath), class: 'icon icon-time-add new_related', id: link_id %>
                    <%= select_tag(select_id, options_for_select(options_for_project_select, selected: wkcustomfield.projects_id), disabled: disabled ) %>
                  </div>
                <% else %>
                <% end %>
              <% end %>
            <% end %>
           </div>
         <table class="list">
           <thead>
                <tr>
                  <% if @sort_by[wcfs].eql? 'custom_field-asc' %>
                    <th class="lbl-txt-align"><%= link_to l(:label_custom_field) + '▼'.html_safe, params.merge("sort_#{wcfs}_by" => "custom_field-desc") %></th>
                  <% elsif @sort_by[wcfs].eql? 'custom_field-desc' %>
                    <th class="lbl-txt-align"><%= link_to l(:label_custom_field) + '▲'.html_safe, params.merge("sort_#{wcfs}_by" => "custom_field-asc") %></th>
                  <% else %>
                    <th class="lbl-txt-align"><%= link_to l(:label_custom_field), params.merge("sort_#{wcfs}_by" => "custom_field-asc") %></th>
                  <% end %>

                  <% if @sort_by[wcfs].eql? 'customized_type-asc' %>
                    <th class="lbl-txt-align"><%= link_to l(:label_related_to) + '▼'.html_safe, params.merge("sort_#{wcfs}_by" => "customized_type-desc") %></th>
                  <% elsif @sort_by[wcfs].eql? 'customized_type-desc' %>
                    <th class="lbl-txt-align"><%= link_to l(:label_related_to) + '▲'.html_safe, params.merge("sort_#{wcfs}_by" => "customized_type-asc") %></th>
                  <% else %>
                    <th class="lbl-txt-align"><%= link_to l(:label_related_to), params.merge("sort_#{wcfs}_by" => "customized_type-asc") %></th>
                  <% end %>

                  <% if @sort_by[wcfs].eql? 'name-asc' %>
                    <th class="lbl-txt-align"><%= link_to l(:label_link) + '▼'.html_safe, params.merge("sort_#{wcfs}_by" => "name-desc") %></th>
                  <% elsif @sort_by[wcfs].eql? 'name-desc' %>
                    <th class="lbl-txt-align"><%= link_to l(:label_link) + '▲'.html_safe, params.merge("sort_#{wcfs}_by" => "name-asc") %></th>
                  <% else %>
                    <th class="lbl-txt-align"><%= link_to l(:label_link), params.merge("sort_#{wcfs}_by" => "name-asc") %></th>
                  <% end %>

                  <% if @sort_by[wcfs].eql? 'date-asc' %>
                    <th class="lbl-txt-align"><%= link_to l(:field_updated_on) + '▼'.html_safe, params.merge("sort_#{wcfs}_by" => "date-desc") %></th>
                  <% elsif @sort_by[wcfs].eql? 'date-desc' %>
                    <th class="lbl-txt-align"><%= link_to l(:field_updated_on) + '▲'.html_safe, params.merge("sort_#{wcfs}_by" => "date-asc") %></th>
                  <% else %>
                    <th class="lbl-txt-align"><%= link_to l(:field_updated_on), params.merge("sort_#{wcfs}_by" => "date-asc") %></th>
                  <% end %>
                </tr>
           </thead>
            <tbody>
              <% @customValues[wcfs].each do |wcv| %>
                <tr>
                  <td class="lbl-txt-align"><%= wcv.custom_field.name %></td>
                  <td class="lbl-txt-align">
                    <% if wcv.custom_field.type == "IssueCustomField" %>
                      <%= l(:field_issue) %>
                    </td> <% related_value =  relationDict['issue'].find(wcv.customized_id) %>
                    <td><%= link_to related_value.subject, related_value %></td>
                    <td><%= format_time(related_value.updated_on) %></td>
                    <% elsif wcv.custom_field.type == "TimeentryCustomField" %>
                      <%= l(:label_spent_time) %>
                    </td> <% related_value = relationDict['spent_time'].find(wcv.customized_id) %>
                    <td><%= link_to "time entry: #{related_value.id.to_s}", related_value %></td>
                    <td><%= format_time(related_value.updated_on) %></td>
                    <% elsif wcv.custom_field.type == "ProjectCustomField" %>
                      <%= l(:label_project_plural) %>
                    </td><% related_value = relationDict['project'].find(wcv.customized_id) %>
                    <td><%= link_to related_value.name, related_value %></td>
                    <td><%= format_time(related_value.updated_on) %></td>
                    <% elsif wcv.custom_field.type == "VersionCustomField" %>
                      <%= l(:label_version_plural) %>
                    </td><% related_value = relationDict['version'].find(wcv.customized_id) %>
                    <td><%= link_to related_value.name, related_value %></td>
                    <td><%= format_time(related_value.updated_on) %></td>
                    <% elsif wcv.custom_field.type == "DocumentCustomField" %>
                      <%= l(:label_document_plural) %>
                    </td><% related_value = relationDict['document'].find(wcv.customized_id) %>
                    <td><%= link_to related_value.title, related_value %></td>
                    <td><%= format_time(related_value.updated_on) %></td>
                    <% elsif wcv.custom_field.type == "UserCustomField" %>
                      <%= l(:label_user_plural) %>
                    </td><% related_value = relationDict['user'].find(wcv.customized_id) %>
                    <td><%= link_to related_value.name, related_value %></td>
                    <td><%= format_time(related_value.updated_on) %></td>
                    <% elsif wcv.custom_field.type == "GroupCustomField" %>
                      <%= l(:label_group_plural) %>
                    </td><% related_value = relationDict['group'].find(wcv.customized_id) %>
                    <td><%= link_to related_value.name, related_value %></td>
                    <td><%= format_time(related_value.updated_on) %></td>
                    <% elsif wcv.custom_field.type == "TimeentryActivityCustomField" %>
                      <%= l(:enumeration_activities) %>
                    </td><% related_value = relationDict['time_entry_activity'].find(wcv.customized_id) %>
                    <td><%= link_to related_value.name, related_value %></td>
                    <td><%= format_time(related_value.updated_on) %></td>
                    <% elsif wcv.custom_field.type == "IssuePriorityCustomField" %>
                      <%= l(:enumeration_issue_priorities) %>
                    </td><% related_value = relationDict['issue_priority'].find(wcv.customized_id) %>
                    <td><%= link_to related_value.name, related_value %></td>
                    <td><%= format_time(related_value.updated_on) %></td>
                    <% elsif wcv.custom_field.type == "DocumentCategoryCustomField" %>
                      <%= l(:enumeration_doc_categories) %>
                    </td><% related_value = relationDict['document_category'].find(wcv.customized_id) %>
                    <td><%= link_to related_value.name, related_value %></td>
                    <td><%= format_time(related_value.updated_on) %></td>
                    <% elsif wcv.custom_field.type == "WktimeCustomField" %>
                      <%= l(:label_wk_time) %>
                    </td><% related_value = relationDict['wktime'].find(wcv.customized_id) %>
                    <td><%= link_to "wk time: #{related_value.id.to_s}", related_value %></td>
                    <td><%= format_time(related_value.updated_on) %></td>
                    <% else %>
                    </td>
                    <td></td>
                    <td></td>
                    <% end %>
                </tr>
          <% end %>
        </tbody>
      </table>
      <span class="pagination"><%= pagination_links_full @cv_entry_pages[wcfs], @cv_entry_count[wcfs] %></span>
    </div>
    <% end %>
</div>
<script>
$( "#relations" ).accordion();
</script>
<% end %>
