<% if !entry.nil? and entry.custom_values.any? %>
</br>
  <div id="relations" class="relations">
  <% wcfse = wcf.map(&:display_as).uniq %>
  <% wcfse.each do |wcfs| %>
    <% if entry.custom_values.where(custom_field_id: wcf.where(display_as: wcfs).map(&:custom_fields_id)).any? %>
       <label><%= wcfs %></label>
       <table class="list">
         <thead>
              <tr>
               <th class="lbl-txt-align"><%= l(:label_custom_field) %></th>
               <th class="lbl-txt-align"><%= l(:label_crm) %></th>
               <th class="lbl-txt-align"><%= l(:label_relates_to) %></th>
               <th></th>
              </tr>
         </thead>
          <tbody>
            <% wcf.where(display_as: wcfs).each do |section_values| %>
              <% entry.custom_values.where(custom_field_id: section_values.custom_fields_id).each do |wcv| %>
              <tr>
                <td class="lbl-txt-align"><%= section_values.custom_field.name %></td>
                <td class="lbl-txt-align">
                  <% if wcv.custom_field.field_format == "company" %>
                    <%= l(:label_accounts) %>
                  <% elsif wcv.custom_field.field_format == "wk_lead" %>
                    <%= l(:label_lead_plural) %>
                  <% elsif wcv.custom_field.field_format == "crm_contact" %>
                    <%= l(:label_contact_plural) %>
                  <% end %>
                </td>
                <td class="lbl-txt-align">
                  <% if wcv.custom_field.type == "IssueCustomField" %>
                    <%= l(:field_issue) %>
                  </td> <% related_value =  relationDict['issue'].find(wcv.customized_id) %>
                  <td><%= link_to related_value.subject, related_value %></td>
                  <% elsif wcv.custom_field.type == "TimeentryCustomField" %>
                    <%= l(:label_spent_time) %>
                  </td> <% related_value = relationDict['spent_time'].find(wcv.customized_id) %>
                  <td><%= link_to "time entry: #{related_value.id.to_s}", related_value %></td>
                  <% elsif wcv.custom_field.type == "ProjectCustomField" %>
                    <%= l(:label_project_plural) %>
                  </td><% related_value = relationDict['project'].find(wcv.customized_id) %>
                  <td><%= link_to related_value.name, related_value %></td>
                  <% elsif wcv.custom_field.type == "VersionCustomField" %>
                    <%= l(:label_version_plural) %>
                  </td><% related_value = relationDict['version'].find(wcv.customized_id) %>
                  <td><%= link_to related_value.name, related_value %></td>
                  <% elsif wcv.custom_field.type == "DocumentCustomField" %>
                    <%= l(:label_document_plural) %>
                  </td><% related_value = relationDict['document'].find(wcv.customized_id) %>
                  <td><%= link_to related_value.title, related_value %></td>
                  <% elsif wcv.custom_field.type == "UserCustomField" %>
                    <%= l(:label_user_plural) %>
                  </td><% related_value = relationDict['user'].find(wcv.customized_id) %>
                  <td><%= link_to related_value.name, related_value %></td>
                  <% elsif wcv.custom_field.type == "GroupCustomField" %>
                    <%= l(:label_group_plural) %>
                  </td><% related_value = relationDict['group'].find(wcv.customized_id) %>
                  <td><%= link_to related_value.name, related_value %></td>
                  <% elsif wcv.custom_field.type == "TimeentryActivityCustomField" %>
                    <%= l(:enumeration_activities) %>
                  </td><% related_value = relationDict['time_entry_activity'].find(wcv.customized_id) %>
                  <td><%= link_to related_value.name, related_value %></td>
                  <% elsif wcv.custom_field.type == "IssuePriorityCustomField" %>
                    <%= l(:enumeration_issue_priorities) %>
                  </td><% related_value = relationDict['issue_priority'].find(wcv.customized_id) %>
                  <td><%= link_to related_value.name, related_value %></td>
                  <% elsif wcv.custom_field.type == "DocumentCategoryCustomField" %>
                    <%= l(:enumeration_doc_categories) %>
                  </td><% related_value = relationDict['document_category'].find(wcv.customized_id) %>
                  <td><%= link_to related_value.name, related_value %></td>
                  <% elsif wcv.custom_field.type == "WktimeCustomField" %>
                    <%= l(:label_wk_time) %>
                  </td><% related_value = relationDict['wktime'].find(wcv.customized_id) %>
                  <td><%= link_to "wk time: #{related_value.id.to_s}", related_value %></td>
                  <% else %>
                    error
                  </td>
                  <td>dunno</td>
                  <% end %>
              </tr>
              <% end %>
        <% end %>
      </tbody>
    </table>
    <% end %>
  <% end %>
</div>
<% end %>

<script>
$( "#relations" ).accordion();
</script>
