<% if wcf.any? %>
<%= javascript_tag do %>
function no_project(){
  alert('<%= l(:label_you_have_to_pick_project) %>');
}

$( document ).ready(function() {
  $("#relations").accordion({ active: <%= @filter[:current_section].nil? ? 0 : @filter[:current_section] %> });
  if(<%= @filter[:current_section].nil? ? 'false' : 'true '%>){
    document.getElementById('relations').scrollIntoView();
  }
  paginators = $('.pagination').toArray();

  for(index in paginators){
  paginator = paginators[index];
  console.log(paginator.id)
  links = $('#' + paginator.id +' a').toArray();
  for(i in links){
    link = links[i];
    uri=link.href;

      var re = new RegExp("([?&])" + 'current_section' + "=.*?(&|$)", "i");
      var separator = uri.indexOf('?') !== -1 ? "&" : "?";
      if (uri.match(re)) {
        new_link_href=uri.replace(re, '$1' + 'current_section' + "=" + paginator.id.split('_cv_')[1] + '$2');
      }
      else {
        new_link_href=uri + separator + 'current_section' + "=" + paginator.id.split('_cv_')[1];
      }
    link.href = new_link_href;
    }
  }

  $(".project_select").change(function(event){
    var link = $('#new_link_for_' + this.id.split('_for_')[1]);
      if( this.options[this.selectedIndex].value == "" ){
        link.attr("href", "javascript:no_project();");
      }else{
        var span = $('#span_for_'+ this.id.split('_for_')[1]).text().toString();
        var new_link = span.replace(/projects\/project_id\//i, 'projects/' + this.options[this.selectedIndex].value + '/');
        link.attr("href", new_link);
      }
  });
});


function showSearchEngine(section){
  $('#search_for_'+section.toString()).css('display','block');
  $('#search_button_'+section.toString()).css('display','none');
}


<% end %>
</br>
  <div id="relations" class="relations">
    <% wcfse = wcf.map(&:display_as).uniq %>
    <% wcfse.each.with_index do |wcfs, index| %>
         <label><%= wcfs %></label>
         <div>
           <div id="relations-box-<%= index %>" class="wk-contextual">
             <%= form_tag(params.merge(action: 'edit', controller: controller_name), method: :get) do %>
             <fieldset>
               <%= link_to "<span class='icon search'> </span>".html_safe + l(:label_search), "javascript:showSearchEngine(#{index})", :style => 'float:left;', :id => "search_button_#{index}" %>
               <div id="<%="search_for_#{index}"%>" style="display:none;">
                 <%= hidden_field_tag "account_id", entry.id if entry.is_a?(WkAccount) %>
                 <%= hidden_field_tag "lead_id", entry.id if entry.is_a?(WkLead) %>
                 <%= hidden_field_tag "contact_id", entry.id if entry.is_a?(WkCrmContact) %>
                 <%= hidden_field_tag "searchlist", "#{wcfs}" %>
                 <%= hidden_field_tag "current_section", "#{index}" %>
                 <% @sort_by.each do |section, value| %>
                  <%= hidden_field_tag "sort_#{section}_by", value %>
                 <% end %>
                 <%= label("cfName[#{wcfs}]", nil, l(:label_custom_field), style: '; display:inline-block; vertical-align:middle;')%>
                 <%=h select_tag("cfName[#{wcfs}]", options_for_select(options_for_section_custom_field(wcfs), selected: (@filter[wcfs].any? ? (@filter[wcfs]['custom_field'].nil? ? nil : @filter[wcfs]['custom_field']) : nil)), style: '; display:inline-block; vertical-align:middle;') %></td>
                 <%= label("relatedTo[#{wcfs}]", nil, l(:label_related_to), style: '; display:inline-block; vertical-align:middle;')%>
                 <%=h select_tag("relatedTo[#{wcfs}]", options_for_select(options_for_section_related_to(wcfs), selected: (@filter[wcfs].any? ? (@filter[wcfs]['relatedTo'].nil? ? nil : @filter[wcfs]['relatedTo']) : nil)) , style: '; display:inline-block; vertical-align:middle;') %></td>
                 <%= label("linkTo[#{wcfs}]", nil, l(:label_link), style: '; display:inline-block; vertical-align:middle;')%>
                 <%= text_field_tag "linkTo[#{wcfs}]", (@filter[wcfs].any? ? (@filter[wcfs]['name'].nil? ? nil : @filter[wcfs]['name']) : nil),:size => 30, style: '; display:inline-block; vertical-align:middle;' %>
                 <%= label("cfrom[#{wcfs}]",nil,l(:field_created_on), style: '; display:inline-block; vertical-align:middle;') %>
                 <%= date_field_tag("cfrom[#{wcfs}]", (@filter[wcfs].any? ? (@filter[wcfs]['creation_date_from'].nil? ? nil : @filter[wcfs]['creation_date_from']) : nil), {:id => "cfrom[#{wcfs}]", style: '; display:inline-block; vertical-align:middle;', :size => 10 }) %>
                 <%= date_field_tag("cto[#{wcfs}]", (@filter[wcfs].any? ? (@filter[wcfs]['creation_date_to'].nil? ? nil : @filter[wcfs]['creation_date_to']) : nil), {:id => "cto[#{wcfs}]", style: '; display:inline-block; vertical-align:middle;', :size => 10 }) %>
                 <%= label("ufrom[#{wcfs}]",nil,l(:field_updated_on), style: '; padding-left 20px; vertical-align:middle;') %>
                 <%= date_field_tag("ufrom[#{wcfs}]", (@filter[wcfs].any? ? (@filter[wcfs]['update_date_from'].nil? ? nil : @filter[wcfs]['update_date_from']) : nil), {:id => "ufrom[#{wcfs}]", style: '; display:inline-block; vertical-align:middle;', :size => 10 }) %>
                 <%= date_field_tag("uto[#{wcfs}]", (@filter[wcfs].any? ? (@filter[wcfs]['update_date_to'].nil? ? nil : @filter[wcfs]['update_date_to']) : nil), {:id => "uto[#{wcfs}]", style: '; display:inline-block; vertical-align:middle;', :size => 10 }) %>
                 <%= link_to l(:button_clear), {:controller => controller_name, :action => 'edit', :account_id => entry.id}, :style=>";", :class => 'icon icon-reload' if entry.is_a?(WkAccount)%>
                 <%= link_to l(:button_clear), {:controller => controller_name, :action => 'edit', :contact_id => entry.id}, :style=>";", :class => 'icon icon-reload' if entry.is_a?(WkCrmContact)%>
                 <%= link_to l(:button_clear), {:controller => controller_name, :action => 'edit', :lead_id => entry.id}, :style=>";", :class => 'icon icon-reload' if entry.is_a?(WkLead)%>
                 <%= submit_tag l(:button_apply), :class => "small", :style=>";", :name => nil %>
                 <label style="; padding-left: 20px;">&nbsp;</label>
               </div>
             </fieldset>
             <% end %>

            <% wcf.where(display_as: wcfs).each do |wkcustomfield| %>
              <% if wkcustomfield.render_creation %>
                <% case wkcustomfield.custom_field.type %>
                <% when "DocumentCustomField" %>
                  <% link_id = 'new_link_for_' + wkcustomfield.id.to_s %>
                  <% select_id = 'project_for_' + wkcustomfield.id.to_s %>
                  <% doc_type = wkcustomfield.enumeration.nil? ? '' : wkcustomfield.enumeration %>
                  <% disabled = !wkcustomfield.allow_users_change_project %>
                  <div style="display: inline-block" id ='div_for_<%= wkcustomfield.id.to_s %>'>
                    <span id ='span_for_<%= wkcustomfield.id.to_s %>' style="display:none;" ><%= url_for(controller: "issues", action: "new", project_id: 'project_id', "issue[custom_field_values][#{wkcustomfield.custom_field.id.to_s}]" => entry.id, :continue => true, :back_url => request.fullpath) %></span>
                    <%= link_to l(:label_document_new) + ' ' + l(:label_relates_to) + ' ' + wkcustomfield.custom_field.name.to_s + ' ' + l(:label_in) , url_for(controller: "documents", action: "new", project_id: wkcustomfield.projects_id, "document[custom_field_values][#{wkcustomfield.custom_field.id.to_s}]" => entry.id, :continue => true, "document[enumeration]" => doc_type, :back_url => request.fullpath), class: 'icon icon-time-add new_related', id: link_id %>
                    <%= select_tag(select_id, options_for_select(options_for_project_select, selected: wkcustomfield.projects_id), disabled: disabled, class: 'project_select' ) %>
                  </div>
                <% when "IssueCustomField" %>
                  <% link_id = 'new_link_for_' + wkcustomfield.id.to_s %>
                  <% select_id = 'project_for_' + wkcustomfield.id.to_s %>
                  <% disabled = !wkcustomfield.allow_users_change_project %>
                  <div style="display: inline-block" id ='div_for_<%= wkcustomfield.id.to_s %>'>
                    <span style="display: none;" id ='span_for_<%= wkcustomfield.id.to_s %>' ><%= url_for(controller: "issues", action: "new", project_id: 'project_id', "issue[custom_field_values][#{wkcustomfield.custom_field.id.to_s}]" => entry.id, :continue => true, :back_url => request.fullpath) %></span>
                    <%= link_to l(:label_issue_new) + ' ' + l(:label_relates_to) + ' ' + wkcustomfield.custom_field.name.to_s + ' ' + l(:label_in), url_for(controller: "issues", action: "new", project_id: wkcustomfield.projects_id, "issue[custom_field_values][#{wkcustomfield.custom_field.id.to_s}]" => entry.id, :continue => true, :back_url => request.fullpath), class: 'icon icon-time-add new_related', id: link_id %>
                    <%= select_tag(select_id, options_for_select(options_for_project_select, selected: wkcustomfield.projects_id), disabled: disabled, class: 'project_select' ) %>
                  </div>
                <% when "VersionCustomField" %>
                  <% link_id = 'new_link_for_' + wkcustomfield.id.to_s %>
                  <% select_id = 'project_for_' + wkcustomfield.id.to_s %>
                  <% disabled = !wkcustomfield.allow_users_change_project %>
                  <div style="display: inline-block" id ='div_for_<%= wkcustomfield.id.to_s %>'>
                    <span id ='span_for_<%= wkcustomfield.id.to_s %>' style="display:none;" ><%= url_for(controller: "issues", action: "new", project_id: 'project_id', "issue[custom_field_values][#{wkcustomfield.custom_field.id.to_s}]" => entry.id, :continue => true, :back_url => request.fullpath) %></span>
                    <%= link_to l(:label_version_new) + ' ' + l(:label_relates_to) + ' ' + wkcustomfield.custom_field.name.to_s + ' ' + l(:label_in), url_for(controller: "versions", action: "new", project_id: wkcustomfield.projects_id, "version[custom_field_values][#{wkcustomfield.custom_field.id.to_s}]" => entry.id, :continue => true, :back_url => request.fullpath), class: 'icon icon-time-add new_related', id: link_id %>
                    <%= select_tag(select_id, options_for_select(options_for_project_select, selected: wkcustomfield.projects_id), disabled: disabled, class: 'project_select' ) %>
                  </div>
                <% else %>
                <% end %>
              <% end %>
            <% end %>
           </div>
         <table class="list">
           <thead>
                <tr>
                  <% if @sort_by[wcfs].eql? 'custom_field-asc' %>
                    <th class="lbl-txt-align"><%= link_to l(:label_custom_field), params.merge("sort_#{wcfs}_by" => "custom_field-desc", current_section: index), class: 'sort desc' %></th>
                  <% elsif @sort_by[wcfs].eql? 'custom_field-desc' %>
                    <th class="lbl-txt-align"><%= link_to l(:label_custom_field), params.merge("sort_#{wcfs}_by" => "custom_field-asc", current_section: index), class: 'sort asc' %></th>
                  <% else %>
                    <th class="lbl-txt-align"><%= link_to l(:label_custom_field), params.merge("sort_#{wcfs}_by" => "custom_field-asc", current_section: index) %></th>
                  <% end %>

                  <% if @sort_by[wcfs].eql? 'customized_type-asc' %>
                    <th class="lbl-txt-align"><%= link_to l(:label_related_to), params.merge("sort_#{wcfs}_by" => "customized_type-desc", current_section: index), class: 'sort desc' %></th>
                  <% elsif @sort_by[wcfs].eql? 'customized_type-desc' %>
                    <th class="lbl-txt-align"><%= link_to l(:label_related_to), params.merge("sort_#{wcfs}_by" => "customized_type-asc", current_section: index), class: 'sort asc' %></th>
                  <% else %>
                    <th class="lbl-txt-align"><%= link_to l(:label_related_to), params.merge("sort_#{wcfs}_by" => "customized_type-asc", current_section: index) %></th>
                  <% end %>

                  <% if @sort_by[wcfs].eql? 'name-asc' %>
                    <th class="lbl-txt-align"><%= link_to l(:label_link), params.merge("sort_#{wcfs}_by" => "name-desc", current_section: index), class: 'sort desc' %></th>
                  <% elsif @sort_by[wcfs].eql? 'name-desc' %>
                    <th class="lbl-txt-align"><%= link_to l(:label_link), params.merge("sort_#{wcfs}_by" => "name-asc", current_section: index), class: 'sort asc' %></th>
                  <% else %>
                    <th class="lbl-txt-align"><%= link_to l(:label_link), params.merge("sort_#{wcfs}_by" => "name-asc", current_section: index) %></th>
                  <% end %>

                  <% if @sort_by[wcfs].eql? 'updated_on-asc' %>
                    <th class="lbl-txt-align"><%= link_to l(:field_updated_on), params.merge("sort_#{wcfs}_by" => "updated_on-desc", current_section: index), class: 'sort desc' %></th>
                  <% elsif @sort_by[wcfs].eql? 'updated_on-desc' %>
                    <th class="lbl-txt-align"><%= link_to l(:field_updated_on), params.merge("sort_#{wcfs}_by" => "updated_on-asc", current_section: index), class: 'sort asc' %></th>
                  <% else %>
                    <th class="lbl-txt-align"><%= link_to l(:field_updated_on), params.merge("sort_#{wcfs}_by" => "updated_on-asc", current_section: index) %></th>
                  <% end %>


                  <% if @sort_by[wcfs].eql? 'created_on-asc' %>
                    <th class="lbl-txt-align"><%= link_to l(:field_created_on), params.merge("sort_#{wcfs}_by" => "created_on-desc", current_section: index), class: 'sort desc' %></th>
                  <% elsif @sort_by[wcfs].eql? 'created_on-desc' %>
                    <th class="lbl-txt-align"><%= link_to l(:field_created_on), params.merge("sort_#{wcfs}_by" => "created_on-asc", current_section: index), class: 'sort asc' %></th>
                  <% else %>
                    <th class="lbl-txt-align"><%= link_to l(:field_created_on), params.merge("sort_#{wcfs}_by" => "created_on-asc", current_section: index) %></th>
                  <% end %>
                </tr>
           </thead>
            <tbody>
              <% @customValues[wcfs].each do |wcv| %>
                <tr>
                  <td class="lbl-txt-align"><%= wcv.custom_field.name %></td>
                  <td class="lbl-txt-align">
                    <% if wcv.custom_field.type == "IssueCustomField" %>
                      <%= l(:field_issue) %>
                    </td> <% related_value =  wcv.customized %>
                    <td class="lbl-txt-align"><%= link_to related_value.subject, related_value %></td>
                    <td class="lbl-txt-align"><%= format_time(related_value.updated_on) %></td>
                    <td class="lbl-txt-align"><%= format_time(related_value.created_on) %></td>
                    <% elsif wcv.custom_field.type == "TimeentryCustomField" %>
                      <%= l(:label_spent_time) %>
                    </td> <% related_value = relationDict['spent_time'].find(wcv.customized_id) %>
                    <td class="lbl-txt-align"><%= link_to "time entry: #{related_value.id.to_s}", related_value %></td>
                    <td class="lbl-txt-align"><%= format_time(related_value.updated_on) %></td>
                    <td class="lbl-txt-align"><%= format_time(related_value.created_on) %></td>
                    <% elsif wcv.custom_field.type == "ProjectCustomField" %>
                      <%= l(:label_project_plural) %>
                    </td><% related_value = relationDict['project'].find(wcv.customized_id) %>
                    <td class="lbl-txt-align"><%= link_to related_value.name, related_value %></td>
                    <td class="lbl-txt-align"><%= format_time(related_value.updated_on) %></td>
                    <td class="lbl-txt-align"><%= format_time(related_value.created_on) %></td>
                    <% elsif wcv.custom_field.type == "VersionCustomField" %>
                      <%= l(:label_version_plural) %>
                    </td><% related_value = relationDict['version'].find(wcv.customized_id) %>
                    <td class="lbl-txt-align"><%= link_to related_value.name, related_value %></td>
                    <td class="lbl-txt-align"><%= format_time(related_value.updated_on) %></td>
                    <td class="lbl-txt-align"><%= format_time(related_value.created_on) %></td>
                    <% elsif wcv.custom_field.type == "DocumentCustomField" %>
                      <%= l(:label_document_plural) %>
                    </td><% related_value = relationDict['document'].find(wcv.customized_id) %>
                    <td class="lbl-txt-align"><%= link_to related_value.title, related_value %></td>
                    <td class="lbl-txt-align"><%= format_time(related_value.updated_on) %></td>
                    <td class="lbl-txt-align"><%= format_time(related_value.created_on) %></td>
                    <% elsif wcv.custom_field.type == "UserCustomField" %>
                      <%= l(:label_user_plural) %>
                    </td><% related_value = relationDict['user'].find(wcv.customized_id) %>
                    <td class="lbl-txt-align"><%= link_to related_value.name, related_value %></td>
                    <td class="lbl-txt-align"><%= format_time(related_value.updated_on) %></td>
                    <td class="lbl-txt-align"><%= format_time(related_value.created_on) %></td>
                    <% elsif wcv.custom_field.type == "GroupCustomField" %>
                      <%= l(:label_group_plural) %>
                    </td><% related_value = relationDict['group'].find(wcv.customized_id) %>
                    <td class="lbl-txt-align"><%= link_to related_value.name, related_value %></td>
                    <td class="lbl-txt-align"><%= format_time(related_value.updated_on) %></td>
                    <td class="lbl-txt-align"><%= format_time(related_value.created_on) %></td>
                    <% elsif wcv.custom_field.type == "TimeentryActivityCustomField" %>
                      <%= l(:enumeration_activities) %>
                    </td><% related_value = relationDict['time_entry_activity'].find(wcv.customized_id) %>
                    <td class="lbl-txt-align"><%= link_to related_value.name, related_value %></td>
                    <td class="lbl-txt-align"><%= format_time(related_value.updated_on) %></td>
                    <td class="lbl-txt-align"><%= format_time(related_value.created_on) %></td>
                    <% elsif wcv.custom_field.type == "IssuePriorityCustomField" %>
                      <%= l(:enumeration_issue_priorities) %>
                    </td><% related_value = relationDict['issue_priority'].find(wcv.customized_id) %>
                    <td class="lbl-txt-align"><%= link_to related_value.name, related_value %></td>
                    <td class="lbl-txt-align"><%= format_time(related_value.updated_on) %></td>
                    <td class="lbl-txt-align"><%= format_time(related_value.created_on) %></td>
                    <% elsif wcv.custom_field.type == "DocumentCategoryCustomField" %>
                      <%= l(:enumeration_doc_categories) %>
                    </td><% related_value = relationDict['document_category'].find(wcv.customized_id) %>
                    <td class="lbl-txt-align"><%= link_to related_value.name, related_value %></td>
                    <td class="lbl-txt-align"><%= format_time(related_value.updated_on) %></td>
                    <td class="lbl-txt-align"><%= format_time(related_value.created_on) %></td>
                    <% elsif wcv.custom_field.type == "WktimeCustomField" %>
                      <%= l(:label_wk_time) %>
                    </td><% related_value = relationDict['wktime'].find(wcv.customized_id) %>
                    <td class="lbl-txt-align"><%= link_to "wk time: #{related_value.id.to_s}", related_value %></td>
                    <td class="lbl-txt-align"><%= format_time(related_value.updated_on) %></td>
                    <td class="lbl-txt-align"><%= format_time(related_value.created_on) %></td>
                    <% else %>
                    </td>
                    <td class="lbl-txt-align"></td>
                    <td class="lbl-txt-align"></td>
                    <td class="lbl-txt-align"></td>
                    <% end %>
                </tr>
          <% end %>
        </tbody>
      </table>
      <span class="pagination" id="pagination_cv_<%= index %>"><%= pagination_links_full @cv_entry_pages[wcfs], @cv_entry_count[wcfs] %></span>
    </div>
    <% end %>
</div>
<script>
$( "#relations" ).accordion({ heightStyle: "content", collapsible: true});
</script>
<% end %>
