<%= javascript_include_tag 'index', :plugin => "redmine_wktime" %>
<%= stylesheet_link_tag 'wk-time', :plugin => "redmine_wktime" %>
<%= form_tag({:controller => controller_name, :action => 'update'}, :method => :post, :id => 'query_form') do %>
<script>
	function wkcustomfield_selected(selObj){
			if(<%= custom_fields_of_type_ids('DocumentCustomField') %>.indexOf(parseInt(selObj.value)) !== -1){
				$('#SpecificSettings').html(`<%= render :partial => "wkcustomfields/documents", locals: {wkcustomfields: @wkcustomfields, wcfEntry: @wcfEntry} %>`);
			}else if (<%= custom_fields_of_type_ids('IssueCustomField') %>.indexOf(parseInt(selObj.value)) !== -1){
				$('#SpecificSettings').html(`<%= render :partial => "wkcustomfields/issues", locals: {wkcustomfields: @wkcustomfields, wcfEntry: @wcfEntry} %>`);
			}else if (<%= custom_fields_of_type_ids('VersionCustomField') %>.indexOf(parseInt(selObj.value)) !== -1){
				$('#SpecificSettings').html(`<%= render :partial => "wkcustomfields/versions", locals: {wkcustomfields: @wkcustomfields, wcfEntry: @wcfEntry} %>`);
			}else {
				$('#SpecificSettings').html('');
			}
	}
	$( document ).ready(function(){
		wkcustomfield_selected($('#custom_fields_id').get(0));
	});
</script>
	<h2><b><%= l(:label_wk_custom_fields) %></b></h2>
	<div id="wkcustomfield_form">
		<% wkcustomfield = @wcfEntry.blank? ? nil : @wcfEntry %>
		<%=h hidden_field_tag('wcf_id', @wcfEntry.blank? ? "" : @wcfEntry.id) %>
		<div class="splitcontentleft">
			<fieldset class="box tabular">
				<table>
					<tr>
						<th align="left"><%= l(:label_display_as) %><span style="color:red;">*</span></th>
						<td align="left" style="padding-left:40px;"><%=h text_field_tag("display_as", (@wcfEntry.blank? ? "" : @wcfEntry.display_as),:size => 20) %> </td>
					</tr>
					<%  selectedWcfId = @wcfEntry.blank? ? nil : @wcfEntry.custom_fields_id %>
					<tr>
						<th align="left"><%= l(:label_wk_custom_fields) %><span style="color:red;">*</span></th>
						<td align="left" style="padding-left:40px;">
							<%=h select_tag('custom_fields_id', options_for_select(options_for_wk_custom_field_select(@wkcustomfields), selectedWcfId), :style=> "float: left;", :onchange=> 'wkcustomfield_selected(this);') %><%= link_to l(:label_custom_field_new), new_custom_field_path, :class => 'icon icon-add' %></td>
						</td>
					</tr>
				</table>
			</fieldset>
		</div>
	</div>
	<div class="splitcontentright">
		<fieldset id="SpecificSettings" class="box tabular">

		</fieldset>
	</div>
	<div style="clear:both;"></div>
	<div>
		<%= submit_tag l(:button_save) ,:id => 'wkaccount_save'%>
	</div>
<% end %>
