<%= javascript_include_tag 'edit', :plugin => "redmine_wktime" %>
<% if !Setting.plugin_redmine_wktime['wktime_enable_clock_in_out'].blank? &&
		Setting.plugin_redmine_wktime['wktime_enable_clock_in_out'].to_i == 1 %>	
	<%	if !@lastAttnEntry.blank?
			if(@lastAttnEntry.end_time.blank? && @lastAttnEntry.start_time > 24.hour.ago)
				hideStart = true
				hideEnd = false
				imglabel = "end"
				remaininghr =  (controller.computeWorkedHours(@lastAttnEntry.start_time, Time.now.localtime, false)).round(0)
			else
				hideStart = false
				hideEnd = true
			end
			imglabel = (@lastAttnEntry.end_time.blank? && @lastAttnEntry.start_time > 24.hour.ago ? "end" : "start")
		else
			hideStart = false
			hideEnd = true
		end
		 
		imgname = "#{imglabel}" == "start" ? "clockin1.jpg" : "clockout1.jpg" %>	
	<% totalhours = (controller.totalhours)*3600 %>
	<% totalhours = (hideStart ? remaininghr+totalhours : totalhours ) %>
	<% totalhours1 = Time.at(totalhours).utc.strftime("%H:%M:%S") %>
	
	<label id="appendlabel" style="float:right;"><br/><%= l(:label_grand_total) %><br/>
	   &nbsp;<%= totalhours1 %></label>
		
	<div id="startdiv" style="float:right; padding-right:10px;" >
	<% strt_image_tg = image_tag("widgetclkin.jpg", :id => 'clockin' , :plugin => "redmine_wktime", :title => l(:label_clock_in), :hidden => hideStart ) %>
	<%= link_to strt_image_tg, "javascript:signAttendance('start');", {:id => "clock_start"}  %>		
	</div>
	
	<div id="enddiv" style="float:right; padding-right:10px;" >
	<% end_image_tg = image_tag("widgetclkout.jpg", :id => 'clockout', :plugin => "redmine_wktime", :title => l(:label_clock_out),:hidden => hideEnd ) %>
	<%= link_to end_image_tg, "javascript:signAttendance('end');", {:id => "clock_end"}  %>		
	</div>
	
	<div style="clear: both;"></div>
	<% end %>	
	
