<%= stylesheet_link_tag 'wk-time', :plugin => "redmine_wktime" %>
<div>
  <% 
    if params[:control].present? && 
      (params[:control] == 'reportdetail' || params[:control] == 'report') && 
      (action_name == 'reportdetail' || action_name == 'report')
      period = params[:period]
    else
      period = session[controller_name].try(:[], :period)
    end

    if params.key?(:period) && period.blank? && @from.present? && @to.present?
      period = 'custom'
    end

    # Set default period_type for hidden field
    default_period_type = (period == 'custom') ? '2' : '1'
  %>

  <!-- hidden period_type field -->
  <%= hidden_field_tag 'period_type', default_period_type, id: 'period_type' %>

  <div class="div-left">
    <label><strong><%= l(:label_date_range) %></strong></label>
    <%= select_tag 'period',
      options_for_period_select(period),
      onchange: 'handlePeriodChange(this.value, this.form)',
      disabled: false %>
  </div>
  
  <div class="div-right" id="date_range_wrapper" style="<%= period.to_s == 'custom' ? '' : 'display:none;' %>">
    <span>
      <%= l(:label_date_from_to,
             start: (date_field_tag('from', @from, id: 'from', size: 10, disabled: (period != 'custom')) +
                     calendar_for('from')),
             end:   (date_field_tag('to',   @to,   id: 'to',   size: 10, disabled: (period != 'custom')) +
                     calendar_for('to'))
           ).html_safe %>
    </span>
  </div>

  <div style="clear:both"></div>

  <% if action_name =='reportdetail' || action_name =='report' %>
    <%= hidden_field_tag('control', "#{action_name}") %>
  <% end %>
</div>

<% if !@query.blank? %>
  <fieldset id="filters" class="collapsible <%= @query.new_record? ? "" : "collapsed" %>">
    <legend onclick="toggleFieldset(this);" class="icon icon-expanded"><%= l(:label_user_filters) %></legend>
    <div style="<%= @query.new_record? ? "" : "display: none;" %>">
      <%= render :partial => 'queries/filters', :locals => {:query => @query} %>
    </div>
  </fieldset>
<% end %>

<script>
  function handlePeriodChange(value, form) {
    if (value === 'custom') {
      $("#date_range_wrapper").show();
      $("#from,#to").removeAttr("disabled");
      $("#period_type").val("2");    // set hidden to 2 (custom)
    } else {
      var ctrl_name = form.dataset.controller;
      $("#date_range_wrapper").hide();
      $("#from,#to").attr("disabled", true);
      $("#period_type").val("1");    // set hidden to 1 (dropdown)
      ctrl_name == "wkreport" ? openReportPopup() : form.submit();
    }
  }

  // If user manually changes dates, we force hidden period_type=2
  $(document).on("change", "#from,#to", function() {
    $("#period_type").val("2");
    $("#period").val("custom");
    $("#date_range_wrapper").show();
  });
</script>
