<table id="wktimeOptions" class="list nowrap">
  <% if @editable %>
      <% if !Setting.plugin_redmine_wktime['wktime_enter_issue_as'].blank? && Setting.plugin_redmine_wktime['wktime_enter_issue_as'].to_i == 1 %>
          <tr>
            <th align="right"><%= "#{l(:label_wk_enter_issue_id)}/#{l(:field_subject)}" %></th>
            <td>
              <%= check_box_tag('enter_issue_id', 1, (!params[:enter_issue_id].blank? && params[:enter_issue_id].to_i == 1),
                                :onclick => "enterIssueIdorAssignUser();") %>
            </td>
          </tr>
      <% end %>
  <% end %>
  <% if @editable %>
      <% if !Setting.plugin_redmine_wktime['wktime_allow_filter_issue'].blank? && Setting.plugin_redmine_wktime['wktime_allow_filter_issue'].to_i == 1 %>
          <tr>
            <th align="right"><%= l(:label_issues_visibility_own) %></th>
            <td>
              <%= check_box_tag('issue_assign_user', 1, (!params[:issue_assign_user].blank? && params[:issue_assign_user].to_i == 1),:onclick => "enterIssueIdorAssignUser();") %>
            </td>
          </tr>
      <% end %>
  <% end %>
  <% status = @wktime.status unless @wktime.blank? %>
  <% if controller.filterTrackerVisible && 'a' != status && 's' != status && (params[:enter_issue_id].blank? || (!params[:enter_issue_id].blank? && !params[:enter_issue_id].to_i == 1)) %>
      <%
        #tracker = Tracker.find(:all, :order =>'name')
        tracker = Tracker.order('name')
        unless tracker.blank?
          trackers = tracker.collect {|t| [t.name, t.id] }
          trackers.unshift(["",0])
        end
      %>
      <tr>
        <th valign="top" align="right">
          <%= l(:label_wk_filter_issue_tracker) %>
        </th>
        <%
          issuetracker=nil
          if(!params[:tracker_ids].blank?)
            issuetrackerids=params[:tracker_ids]
            issuetracker= issuetrackerids.split(",")
          else
            issuetracker = Setting.plugin_redmine_wktime[controller.getTFSettingName()]
          end
        %>
        <td>
          <%=  select_tag('select_issues_tracker', options_for_select(trackers, :selected => issuetracker), :multiple=> true,
                          :onchange => "trackerFilterChanged(this);")%>
        </td>
      </tr>
  <% end %>
</table>