<tr>
	<td ></td>
	<td ></td>
	<% if showBilling && controller.showSpentFor%>
		<td></td>
	<% end %>
	<% if controller.enterCommentInRow %>
		<td ></td>
	<% end %>
	<% if controller.getUnitLabel.blank? %>
		<% if controller.enterCustomFieldInRow(1) %>
			<td ></td>
		<% end %>
		<% if controller.enterCustomFieldInRow(2) %>
			<td ></td>
		<% end %>
	<% end %>
	<% if @renderer.showSpentOnInRow %>
		<td></td>
	<% end %>
	<td align = "right">
		<%= l(:"label_#{str}") %>
	</td>
	<% col_num = -1 %>	
	<% nightclkout = false %>
	<% count = 0 %>
	<% futureTime = Time.now %>
	<% currentTime = Time.now %>	
	<% for i in 0.. @renderer.getDaysPerSheet - 1%>	
		<% if (@startday + i) == Date.today %>
			<% col_num = i %>
			<% @wkmultiple = controller.findAttnEntries %>
			<% @wkmultiple.each do |entry| %>
				<% stday = (entry.start_time.localtime).strftime('%Y-%m-%d') %>
				<%  if stday.to_s.to_date.wday == (@startday + (i-1)).wday && count != 1   %>
					<% futureTime = (entry.start_time.localtime)+1439.minutes %>
					<% count = 1 %>
				<% end %>
			<% end %>
			<%  if ($entryEndTime[i-1] == '00:00' && $entryStartTime[i-1] != '00:00') && (@startday + (i-1)) == (@startday + i).yesterday && futureTime.to_i > currentTime.to_i   %>
				<% nightclkout = true %>
				<%=h hidden_field_tag('nightshift' , nightclkout  )  %>  
			<% end %>			
			<%=h hidden_field_tag('col_num',  !nightclkout ? col_num : col_num-1 )  %>	
		<% end %>
							
		<% if (isEditable) %>  			
		<td class="hours">	
			<div style="float: left; width: 80px;">
				<div style="float: left;">	
					<%=h text_field_tag( "#{str}_#{(i+1)}" , "#{str}" == "start" ? ($headerStartTime[i+1].blank? ? '00:00' : $headerStartTime[i+1].first(1)) : ($headerEndTime[i+1].blank? ? '00:00' : $headerEndTime[i+1].last(1)),:size => 4, :disabled =>  true, :class => (@startday + i) < Date.today ? 'clock-textbox' : ((@startday + i) == Date.today ? 'clock-todaytextbox' : '' ),  :onchange => "validateHr(this,#{(i+1)});") %>
					<%=h hidden_field_tag('hd' + "#{str}_#{(i+1)}", !nightclkout ? ( $headerEntriesId[i+1].blank?  ? '' : $headerEntriesId[i+1].last(1)) : ( $headerEntriesId[i].blank?  ? '' : $headerEntriesId[i].last(1)) )  %>  
					<%=h hidden_field_tag('hours' + "#{str}_#{(i+1)}", ( $headerhoursdiff[i+1].blank?  ? '' : $headerhoursdiff[i+1].last(1)) )  %>   
				</div>				
				<div style="clear: both;"></div>
			</div>			
		</td>
		<% else %>			
				<td style="width: 80px;"></td>		
		<% end %>
	<% end %>
	<td ></td>
</tr>