<tr>
	<td ></td>
	<td ></td>
	<% if controller.enterCommentInRow %>
		<td ></td>
	<% end %>
	<% if controller.getUnitLabel.blank? %>
		<% if controller.enterCustomFieldInRow(1) %>
			<td ></td>
		<% end %>
		<% if controller.enterCustomFieldInRow(2) %>
			<td ></td>
		<% end %>
	<% end %>
	
	<td align = "right">
		<%= l(:"label_#{str}") %>
	</td>
	<% col_num = -1 %>	
	<% hiddenid = Array.new %>
	<% entrystart = Array.new %>
	<% entryend = Array.new %>
	<% entrydate = Array.new %>
	<% entryenddate = Array.new %>
	<% @wkattendances.each do |entry| %>
		<% hiddenid <<   entry.id  %>			
		<% entrystart <<  (!(entry.start_time).blank? ?  (entry.start_time).strftime('%R') : '00:00') %>
		<% entryend << (!(entry.end_time).blank? ?  (entry.end_time).strftime('%R') : '00:00') %>
		<% entrydate << (entry.start_time).strftime('%Y-%m-%d') %>
		<% entryenddate << (entry.end_time).strftime('%Y-%m-%d') if !(entry.end_time).blank? %>
	<% end %>
	<% hiddenvalue = Array.new %>
	<% startvalue = Array.new %>
	<% endvalue = Array.new %>
	<% k = 0%>	
	<% for j in 0..6%>
	
		<%  if (@startday + j).to_s == (entrydate[k]).to_s   %>
			<% startvalue[j] = entrystart[k] %>		
			<% endvalue[j] = entryend[k] %>
			<% hiddenvalue[j] = hiddenid[k] %>
			<% k += 1 %>
		<% else %>
			<% startvalue[j] = '00:00' %>
			<% endvalue[j] = '00:00' %>
			<% hiddenvalue[j] = '' %>
		<% end %>	
	<% end %>	
	<% for i in 0..6%>	
		<% if (@startday + i) == Date.today %>
			<% col_num = i %>			
			<%=h hidden_field_tag('imgdisable',  col_num )  %>			
		<% end %>
							
		<% if (isEditable) %>  			
		<td>	
			<div style="width: 3px; float: left; ">
				<%=h text_field_tag( "#{str}_#{(i+1)}" , "#{str}" == "start" ? startvalue[i] : endvalue[i],:size => 3, :disabled =>  true, :class => (@startday + i).past? ? 'clock-textbox' : ((@startday + i).today? ? 'clock-todaytextbox' : '' ),  :onchange => "validateHr(this,#{(i+1)});") %>
			 	<%=h hidden_field_tag('hd' + "#{str}_#{(i+1)}", hiddenvalue[i] )  %>  
				<%=h hidden_field_tag('hours' + "#{str}_#{(i+1)}", hiddenvalue[i] )  %>  
			</div>
			
			<% if ("#{str}" == "start" || "#{str}" == "end") && controller.showClockInOut && (i == col_num) &&  User.current.id == @user.id   %>
				<% imgname = "#{str}" == "start"  ? "clock8.jpg" : "clockout8.jpg" %>	
				<div style="width: 3px; float: left;  padding-left: 51px;">				
				<% image_tg = image_tag("#{imgname}", :id => "#{str}" == "start" ? 'start_img' : 'end_img' , :plugin => "redmine_wktime",  :title => "#{str}" == "start" ? l(:label_clock_in) : l(:label_clock_out) ) %>
				<%= link_to image_tg, "javascript:setClockInOut('#{str}','#{col_num}');" %>		
				</div>
				<div style="clear: both;"></div>
			<% end %>
			
		</td>
		<% else %>			
				<td style="width: 80px"></td>			
		<% end %>
	<% end %>
	<td ></td>
</tr>