 <%= stylesheet_link_tag 'wk-time', :plugin => "redmine_wktime" %>


  <%= javascript_include_tag 'edit', :plugin => "redmine_wktime" %>
 
	<script type="text/javascript"> 
		lblPleaseSelect = '<%=l(:actionview_instancetag_blank_option) %>'
		lblWarnUnsavedTE = '<%=l(:text_warn_on_leaving_unsaved) %>'
		decSeparator = '<%=l(:general_csv_decimal_separator) %>';
		issueField = '<%= l(:field_issue) %>';
		submissionack="<%= Setting.plugin_redmine_wktime[:wktime_submission_ack] %>";
		minHourAlertMsg = "<%= l(:text_wk_warning_min_hour, :value => "#{controller.minHour}").html_safe %>";
		editUrl = '<%= raw(url_for(:controller => controller.controller_name, :action => "edit", :startday => @startday, :user_id => params[:user_id]))%>';
		breakvalue = '<%= Setting.plugin_redmine_wktime['wktime_break_time'] %>'
		<% if !Setting.plugin_redmine_wktime['wktime_work_time_header'].blank? &&
				Setting.plugin_redmine_wktime['wktime_work_time_header'].to_i == 1 %>
				showWorkHeader = true;
				footerRows = 2;
				headerRows = 4;
				<% if controller.enterCommentInRow %>
					hStartIndex = hStartIndex + 1 ;
				<% end %>
				<% if controller.enterCustomFieldInRow(1) %>
					hStartIndex = hStartIndex + 1 ;
				<% end %>
				<% if controller.enterCustomFieldInRow(2) %>
					hStartIndex = hStartIndex + 1 ;
				<% end %>
		<% end %>
		<% if !Setting.plugin_redmine_wktime['wktime_allow_blank_issue'].blank? &&
			Setting.plugin_redmine_wktime['wktime_allow_blank_issue'].to_i == 1 %>
				allowBlankIssue = true;
		<% end %>
		<% if !Setting.plugin_redmine_wktime['wktime_enter_comment_in_row'].blank? &&
			Setting.plugin_redmine_wktime['wktime_enter_comment_in_row'].to_i == 1 %>
				commentInRow = true;
		<% end %>
		
	</script>

	<div id="comment-dlg" title="<%= l(:label_attribute_plural) %>">
	<!-- modified class .ui-widget-header to change the header color -->
		<span id="_edit_comm_proj_">project</span>, 
		<span id="_edit_comm_iss_">issue</span>,
		<span id="_edit_comm_act_">activity)</span>
		<fieldset>
		<% if Setting.plugin_redmine_wktime['wktime_enter_comment_in_row'].blank? ||
			Setting.plugin_redmine_wktime['wktime_enter_comment_in_row'].to_i == 0 %>
			<p> <label><%= l(:field_comments) %></label>
			<textarea name="_edit_comments_" id="_edit_comments_" value="" cols="25" rows="2"> </textarea> </p>
		<% end %>

		
		<% if !Setting.plugin_redmine_wktime['wktime_use_detail_popup'].blank? &&
			Setting.plugin_redmine_wktime['wktime_use_detail_popup'].to_i == 1 %>
					
			<% unless @new_custom_field_values.blank? %>
				<p><%= l(:label_custom_field_plural) %></p>
				<% 
					cf_ids = ""
					@new_custom_field_values.each do |custom_value|
						custom_field = custom_value.custom_field
						#if the custom field is not setup on the row
						if !((!Setting.plugin_redmine_wktime['wktime_enter_cf_in_row1'].blank? &&
							Setting.plugin_redmine_wktime['wktime_enter_cf_in_row1'].to_i == custom_field.id) ||
							(!Setting.plugin_redmine_wktime['wktime_enter_cf_in_row2'].blank? &&
							Setting.plugin_redmine_wktime['wktime_enter_cf_in_row2'].to_i == custom_field.id))
							
							if cf_ids.blank?
								cf_ids = "_custom_field_values_#{custom_field.id}" 
							else
								cf_ids += ",_custom_field_values_#{custom_field.id}"
							end
				%>
							<p><%= custom_field_tag_with_label '', custom_value %></p>
						<% 	end %>

				<% 	end %>
				<script type="text/javascript"> cf_ids = '<%=cf_ids%>';</script>
			<% end %>
		<% end %>

		</fieldset>

	</div>

	<div id="notes-dlg" title="<%= l(:button_wk_reject) %>">

		<fieldset>
			<p> <label><%= l(:label_wk_reject_reason) %></label>
			<textarea name="_edit_notes_" id="_edit_notes_" value="" cols="25" rows="2"> </textarea> </p>
		</fieldset>

	</div>
	
	<div id="clockInOut-dlg" title="<%= l(:label_wk_attendance) %>">
		<fieldset>
			 <table >
				 <th  style="width: 80px;"><label><%= l(:label_clock_in) %></label></th> 
				 <th style="width: 80px;"><label><%= l(:label_clock_out) %></label></th>
				 <th style="width: 80px;"> <label><%= l(:label_difference) %></label></th>
				<tbody>
					</tbody>
			</table>				
			<% totalid = Array.new %>
			<% totalvalue =  " " %>
			<% j = 0   %>
			<% @wkmultiple = controller.multipleClockInOut %>							
			<% l = 0%>	
			<%=h hidden_field_tag("break_time" , Setting.plugin_redmine_wktime['wktime_break_time'] )  %> 
			<% for i in 1..7%>
				<% showtotal = false   %>
				<div id="img_<%= i %>" >
						
					<% @wkmultiple.each do |entry| %>			
						<% multipleid = (entry.start_time).strftime('%Y-%m-%d') %>
						<% multiid = (entry.start_time).strftime('%Y-%m-%d').to_s.to_date.wday %>
						<%  if i != j    %>
						<% totalvalue += '|'  %>										
						<% end %>
						<% j = i %>
						<%  if multipleid.to_s.to_date.wday == (@startday + (i-1)).wday   %>		
							<% showtotal = true   %>
							<% totalid[i] = l   %>
							<% totalvalue +=  l.to_s + ','  %>						
							<table >
							<tbody>		
							<tr>
							<td style="width: 80px; padding-left: 10px;"><%= text_field_tag "popupstart_#{l}" , ( (entry.start_time).strftime('%R')  ).to_s, :size => 4, :disabled => isAccountUser ? false : true ,  :onchange => "hoursClockInOut(1,#{l}); validateHr(this,#{(i+1)});"  %></td> 
							<td style="width: 80px; padding-left: 10px;"><%= text_field_tag "popupend_#{l}"  , (!(entry.end_time).blank? ? ( (entry.end_time).strftime('%R')  ).to_s : '' ) , :size => 4, :disabled =>  isAccountUser ? false : true,  :onchange => "hoursClockInOut(1,#{l}); validateHr(this,#{(i+1)});"   %></td>
							<td style="width: 80px; padding-left: 10px;"><%= text_field_tag "total_#{l}"  , "0:00" , :size => 4, :disabled =>  isAccountUser ? false : true, :onchange => "totalClockInOut();"   %></td>
							<td><%=h hidden_field_tag("hiddenpopup_#{l}", entry.id )  %></td>							
							</tr>
							</tbody>
							</table>
							<% l += 1 %>							
						<% end %>							
					<% end %>	
					<%  if showtotal    %>
						<p style = "padding-left: 90px;">
						<%= l(:label_grand_total) %></label>
						<%= text_field_tag "grandTotal_#{i}"  , "" , :size => 4, :disabled =>  isAccountUser ? false : true   %></p>
					<%  elsif isAccountUser  && !(@startday + (i-1)).future?   %>
							 <table> <tbody> <tr> <td style="width: 80px; padding-left: 10px;"><%= text_field_tag "newstart_#{j}" , "", :size => 4, :disabled => isAccountUser ? false : true , :onchange => "validateHr(this,#{(i)}); hoursClockInOut(2,#{j});"  %></td>
							<td style="width: 80px; padding-left: 10px;"><%= text_field_tag "newend_#{j}" , "", :size => 4, :disabled => isAccountUser ? false : true , :onchange => "validateHr(this,#{(i)}); hoursClockInOut(2,#{j});"  %></td>
							<td style="width: 80px; padding-left: 10px;"><%= text_field_tag "newdiff_#{j}" , "", :size => 4, :disabled => isAccountUser ? false : true , :onchange => "validateHr(this,#{(i)});"  %></td></tr></tbody>
							</table>							
						
					<% end %>
				</div>					
			<% end %>
			<%=h hidden_field_tag("textlength", l )  %>	
			<%=h hidden_field_tag("grandtotal", totalvalue )  %>	
		</fieldset>
	</div>
		

<%= render :partial => 'row_template' %>

<%= form_tag({:controller => controller.controller_name, :action => 'update'}, :method => :post, :id => 'wktime_edit') do %>

<h2><%= l(:label_wktime) %></h2>
<%=h hidden_field_tag('tab', "#{controller_name}") %>

<%= render :partial => 'edit_header' %>

<% if !@wktime.blank? && @wktime.status == 'r' && !@wktime.notes.blank? %>
	<tr>
	<th align="left"><%=l(:label_wk_reject_reason)%></th>
	<td><%=h @wktime.notes %>
	</td>
	</tr>
<% end %>

			<% custom_values = @wktime.nil? ?  Wktime.new.custom_field_values : @wktime.custom_field_values %>
			<% unless custom_values.blank? %>
				<% 
					# wk time custom fields
					wkcf_ids = ""
					custom_values.each do |custom_value|
						custom_field = custom_value.custom_field
						if wkcf_ids.blank?
							wkcf_ids = "wktime_custom_field_values_#{custom_field.id}" 
						else
							wkcf_ids += ",wktime_custom_field_values_#{custom_field.id}"
						end
				%>
						<tr><th>
						<% # = custom_field.name %> 
						<% # Martin Dube Contribution: show required field in Wktime custom field %>
						<%= custom_field_label_tag "wktime", custom_value %></th>
						<td>
						<% if @editable %>
							<%= custom_field_tag "wktime", custom_value %>
						<% else %>
							<%=h custom_value.value %>
						<% end %>
						</td></tr>

				<% 	end %>
				<!-- script type="text/javascript"> wkcf_ids = '<%=wkcf_ids%>';</script -->
			<% end %>
	<% # Martin Dube Contribution: show previous and next time entry %>
	<tr>	
	<td colspan="2">
		 <%= link_to("\xc2\xab " + l(:label_previous ), {:controller => controller.controller_name, :action => 'edit', :startday => @startday-7, :user_id => @user.id, :project_id => params[:project_id]},
                  :title => l(:label_wk_prev_week_tip)) %>
      |
      <%= link_to(l(:label_next) + " \xc2\xbb", {:controller => controller.controller_name, :action => 'edit', :startday => @startday+7, :user_id => @user.id, :project_id => params[:project_id]},
                  :title => l(:label_wk_next_week_tip)) %> 
	</td>
	</tr>
</table>

<%= render :partial => 'edit_issues', :locals => { :entries => @prev_template ? @prev_entries : @entries }%>

<%= render :partial => 'edit_footer' %>

<% end %>