<div style="float: left;">
<h2><%= l(:label_wktime) %></h2>
</div>
<div style="clear: both;"></div>
<script type="text/javascript">
   wktimeIndexUrl = '<%=url_for(:controller => "wktime", :action => "index", :tab => "wktime")%>';
   wkexpIndexUrl = '<%=url_for(:controller => "wkexpense", :action => "index", :tab => "wkexpense")%>';
   wkattnIndexUrl = '<%=url_for(:controller => "wkattendance", :action => "index", :tab => "leave")%>';     
   clockInOutUrl = '<%=url_for(:controller => "wkattendance", :action => "clockindex", :tab => "clock")%>';
   payrollUrl = '<%=url_for(:controller => "wkpayroll", :action => "index", :tab => "payroll")%>';
</script>

<% if showExpense %>
<%= render_tabs time_expense_tabs %>
<% end %>
<%= render :partial => 'te_index' %>

<% html_title(l(:label_ta)) -%>