<style type="text/css">
	table { 
		table-layout: fixed; 
		word-wrap: break-word; text-align: center; 
		margin-top:5px; margin-bottom:10px; padding-left: 10px; color:#333333;
		font-family:Verdana, sans-serif; font-size:12px; 
	}		
	.txt-align {
		text-align: left; !important;
	}
</style>
<% @entries = controller.findEntries() %>
<div id="time-rpt-dlg" style="overflow-x:auto;">
	<center><b><%= controller.getTELabel() %></b></center>
	<div>
	<div style="float:left">
		<table>
			<tr>
				<td class="txt-align" width="100px"><b><%= l(:field_name) %></b></td>
				<td class="txt-align" width="200px">: <%= @user.name %></td>
			</tr>
			<tr>
				<td class="txt-align" width="100px"><b><%= l(:label_week) %></b></td>
				<td class="txt-align" width="200px">: <%= @startday.to_s + " - " + (@startday+6).to_s %>
			</tr>		
		</table>
	</div>
	<div style="float:right">
		<table>
			<tr>
				<td>
					<% logo = Setting.plugin_redmine_wktime['wktime_header_logo'] %>					
					<% if !logo.blank? && (File.exist? (Redmine::Plugin.public_directory + "/redmine_wktime/images/" + logo)) %>						
						<%= image_tag("#{logo}", :plugin => "redmine_wktime") %>
					<% end %>
				</td>
			</tr>
		</table>
	</div>
	</div>
	<div style="clear:both;"></div>
	
	<table border="1" style="border-collapse:collapse;" cellspacing="0", frame="box">
	
	<% startOfWeek = getStartOfWeek %>
	<% columnCount = 2 %> <!-- Project - 0, Issue - 1, Activity - 2 -->
	<thead bgcolor="#e6e6e6">
		<tr>
		<th align="left" width="10%"><%= l(:field_project) %></th>
		<th align="left" width="15%"><%= l(:field_issue) %></th>
		<th align="left" width="5%"><%= l(:field_activity) %></th>
		<% if !Setting.plugin_redmine_wktime['wktime_enter_comment_in_row'].blank? &&
			Setting.plugin_redmine_wktime['wktime_enter_comment_in_row'].to_i == 1 %>
			<th align="left"><%= l(:field_comments)%></th>
			<% columnCount = columnCount + 1 %>
		<% end %>
		<% @new_custom_field_values = controller.getNewCustomField #TimeEntry.new.custom_field_values %>
		<%  if !@new_custom_field_values.blank? %>
			<%	cf_value = nil
			if !Setting.plugin_redmine_wktime['wktime_enter_cf_in_row1'].blank? &&
					(cf_value = @new_custom_field_values.detect { |cfv| 
						cfv.custom_field.id == Setting.plugin_redmine_wktime['wktime_enter_cf_in_row1'].to_i }) != nil %>
				<th align="left">
					<%= cf_value.custom_field.name %>
				</th>
					<% columnCount = columnCount + 1 %>
			<%	end %>

			<%	cf_value = nil
			if !Setting.plugin_redmine_wktime['wktime_enter_cf_in_row2'].blank? &&
					(cf_value = @new_custom_field_values.detect { |cfv| 
						cfv.custom_field.id == Setting.plugin_redmine_wktime['wktime_enter_cf_in_row2'].to_i }) != nil %>
				<th align="left">
					<%= cf_value.custom_field.name %>
				</th>
					<% columnCount = columnCount + 1 %>
			<%	end %>
		<%	end %>
		<%#= render :partial => controller.getCFInRowHeaderHTML %>
		
		<!-- For currency -->
		<% unitLabel = controller.getUnitLabel %>
		<% if !unitLabel.blank? %>
			<th align="left" width="5%"><%= unitLabel %></th>
			<% columnCount = columnCount + 1 %>
		<% end %>
		
		<% for i in 0..6%>
		<!-- Martin Dube contribution: 'start of the week' configuration -->
		<th align="center" width="5%"><%= l('date.abbr_day_names')[(i+(startOfWeek))%7] %><br /><%= I18n.localize(@startday+i, :format=>:short) unless @startday.nil? %></th>
		<% end %>
		<% columnCount = columnCount + 7 %>
		</tr>
	</thead>
	<tbody>
		<%  
		col_values = []
		matrix_values = nil
		totals = [0.0,0.0,0.0,0.0,0.0,0.0,0.0] 
		wktime_helper = Object.new.extend(WktimeHelper)
		%>
		<% 
		unless @entries.blank?		
		weeklyHash = getWeeklyView(@entries, nil, false, nil, 7)
		weeklyHash.each do |key, matrix|
			matrix_values, j = wktime_helper.getColumnValues(matrix, totals, unitLabel, false, 0, true)
			matrix_values.each do |col_val|
				col_values = col_val #matrix_values[1]
				tmpColCount = 0
		%>
		<tr class="time-entry <%= cycle("odd", "even") %>">
		<%	
			col_values.each_with_index do |val, i|
			tmpColCount = i
		%>		
			<td <% if (i < columnCount-6)%>class="txt-align"<% end %>><%= val %></td>
		<% end %>
		<% 
				if tmpColCount < columnCount
					remainingColCount = columnCount - tmpColCount
					for colIndex in 0..remainingColCount - 1 
		%>
			<td></td>
		<% 
				end
			end 
		end 
		%>		
		</tr>
		<% end %>
		<% end %>
		<tr>
		<% 
			unit = nil
			if !unitLabel.blank? && !matrix_values.blank?
				unit = matrix_values[0][columnCount-7]
			end
			total_values = getTotalValues(totals, columnCount - 6, unit)
			total_values.each_with_index do |val, i|
		%>
			<td><%= val %></td>
		<% end %>
		</tr>
	</tbody>		
	</table>		
	<% submissionAck = Setting.plugin_redmine_wktime['wktime_submission_ack'] %>
	<p style="font-family:Verdana, sans-serif; font-size:12px;"><%= submissionAck %></p>
	<div style="float:right;">
		
		<table>
			<tr>
				<td class="txt-align" width="90px"><b><%= l(:label_wk_signature) %> : </b></td>
				<td></td>
			</tr>
			<tr>
				<td class="txt-align" width="90px"><b><%= l(:label_wk_submitted_by) %></b></td>
				<td>________________________________</td>
			</tr>
			<tr>
				<td class="txt-align" width="90px"><b><%= l(:label_wk_approved_by) %></b></td>
				<td>________________________________</td>
			</tr>
		</table>
	</div>
</div>
