<%= stylesheet_link_tag 'wk-time', :plugin => "redmine_wktime" %>
<% show_on_map = session[controller_name].try(:[], :show_on_map) %>
<div class="autoscroll">

	<table class="list time-entries" style="width:<%= !show_on_map ? "100%" : "35%" %>; float:left;">
		<thead>
			<tr>
				<th class="lbl-txt-align" style="<%= show_on_map ? 'width:30%' : '' %>"><%= l(:field_name) %></th>
				<% if !show_on_map %>
					<th class="lbl-txt-align"><%= l(:field_parent_location) %></th>
				<% end %>
				<th class="lbl-txt-align" style="<%= show_on_map ? 'width:30%' : '' %>"><%= l(:field_type) %></th>
				<% if !show_on_map %>
					<th class="lbl-txt-align"><%= l(:label_account_address1)   %></th>
				<% end %>
				<th class="lbl-txt-align" style="<%= show_on_map ? 'width:15%' : '' %>"><%= l(:label_city) %></th>
				<th class="lbl-txt-align" style="<%= show_on_map ? 'width:15%' : '' %>"><%= l(:label_state) %></th>
				<% if !show_on_map %>
					<th class="lbl-txt-align"><%= l(:field_is_default)   %></th>
					<th class="lbl-txt-align"><%= l(:label_main_location)   %></th>
				<% end %>
				<th  style='<%= show_on_map ? "width:10%" : "" %>'></th>
			</tr>
		</thead>
		<tbody>
		<% @locationObj.each do |entry| %>
			<% depth = @depths[entry.id] || 0 %>
			<% ancestors = (@ancestor_ids[entry.id] || []).join(',') %>
			<% confirm_msg = entry.leaf? ? l(:text_are_you_sure) : l(:text_location_destroy_cascade) %>
			<tr class="location-row" data-location-id="<%= entry.id %>" data-ancestor-ids="<%= ancestors %>">
				<td class="lbl-txt-align">
					<span style="display:inline-block; width:<%= depth * 18 %>px;"></span>
					<% if entry.leaf? %>
						<span class="wk-loc-toggle-spacer" style="display:inline-block; width:18px;"></span>
					<% else %>
						<a href="javascript:void(0)" class="wk-loc-toggle" data-location-id="<%= entry.id %>" data-collapsed="0" style="display:inline-block; width:18px; height:18px; line-height:16px; text-align:center; text-decoration:none; font-weight:bold; font-size:14px; border:1px solid #1976d2; border-radius:50%; background:#fff; color:#1976d2;">&minus;</a>
					<% end %>
					<%=h entry.name %>
				</td>
				<% if !show_on_map %>
					<td class="lbl-txt-align"><%=h entry.parent&.name %></td>
				<% end %>
				<td class="lbl-txt-align"><%=h entry.location_type.name unless entry.location_type.blank?  %></td>
				<% if !show_on_map %>
					<td class="lbl-txt-align"><%=h entry.address.blank? ? nil : entry.address.address1  %></td>
				<% end %>
				<td class="lbl-txt-align"><%=h entry.address.blank? ? nil : entry.address.city  %></td>
				<td class="lbl-txt-align"><%=h entry.address.blank? ? nil : entry.address.state  %></td>
				<% if !show_on_map %>
					<td class="lbl-txt-align"><%=h  checked_image entry.is_default?  %></td>
					<td class="lbl-txt-align"><%=h  checked_image entry.is_main?  %></td>
				<% end %>
				<td class="lbl-txt-align"><%= link_to sprite_icon('edit'), {:controller => controller_name, :action => 'edit', :location_id => entry.id, id: entry.id, :tab => 'wklocation'}, :title => l(:button_edit) %>
								<%= link_to sprite_icon('del'), {:controller => controller_name, :action => 'destroy', :location_id => entry.id, id: entry.id, :tab => 'wklocation'},  :data => {:confirm => confirm_msg}, :method => :delete, :title => l(:button_delete) %></td>
			</tr>
		<% end %>
		</tbody>
	</table>

	<% if show_on_map %>
		<%= render partial: "wkgeolocation/show_on_map", locals: { entries: @locationObj, model: "address", height: '94%', width: '64%'} %>
	<% end %>
</div>

<%= render 'wklocation/tree_toggle_js' %>
<script>
WkLocTree.init({
	rowSelector: 'tr.location-row',
	toggleSelector: '.wk-loc-toggle',
	rowClickToggle: true
});
</script>