<%= title l(:field_location) %>
<%= render partial: "wkcrmenumeration/render_settings_tabs" %>

<%= form_tag({:controller => "wklocation", :action => 'index'}, :method => :get, :id => 'query_form') do %>
<%= hidden_field_tag "searchlist", controller_name %>
<%=h hidden_field_tag('tab', "wklocation") %>
<%	locName = session[controller_name].try(:[], :location_name) %>
<%	locType = session[controller_name].try(:[], :location_type) %>
<%	showOnMap = session[controller_name].try(:[], :show_on_map) %>
<fieldset>
	<div style="float:right; display:flex; align-items:center; gap:8px;">
		<%= link_to sprite_icon('add', l(:label_new_location)), url_for(:controller => controller_name, :action => 'edit'), :class => 'icon icon-add' %>
	</div>
	<div class="wk-loc-filter" style="display:flex; flex-wrap:wrap; align-items:center; gap:6px 14px;">
		<span style="display:inline-flex; align-items:center; gap:6px;">
			<label for="location_name"><%= l(:field_name) %></label>
			<%= text_field_tag 'location_name', locName, :size => 25 %>
		</span>
		<span style="display:inline-flex; align-items:center; gap:6px;">
			<label for="location_type"><%= l(:field_type) %></label>
			<%=h select_tag('location_type', options_for_select(options_for_enum_select('LT', locType, true))) %>
		</span>
		<% (@level_options || []).each_with_index do |opts, idx| %>
			<% level_num = idx + 1 %>
			<span style="display:inline-flex; align-items:center; gap:6px;">
				<label for="location_level_<%= level_num %>"><%= l(:label_level) %> <%= level_num %></label>
				<%= select_tag("location_level_#{level_num}",
					options_for_select([['', '']] + opts, @level_selections[idx]),
					onchange: '$("#query_form").submit();') %>
			</span>
		<% end %>
		<span style="display:inline-flex; align-items:center; gap:6px;">
			<%= submit_tag l(:button_apply), :class => "small", :name => nil %>
			<%= link_to sprite_icon('reload', l(:button_clear)), {tab: controller_name, clear: true}, class: 'icon icon-reload' %>
		</span>
		<% if isChecked('te_save_geo_location') %>
			<span style="display:inline-flex; align-items:center; gap:4px;">
				<%= check_box_tag('show_on_map', true, showOnMap, onclick: '$("#query_form").submit(); return false;') %>
				<label for="show_on_map"><%= l(:label_show_on_map) %></label>
			</span>
		<% end %>
	</div>
</fieldset>
<% end %>

<% if @locationObj.present? %>
	<%= render :partial => 'wklocation/location_list'%>
	<span class="pagination"><%= pagination_links_full @entry_pages, @entry_count %></span>
	<% other_formats_links do |f| %>
		<%= f.link_to_with_query_parameters 'CSV', {} %>
	<% end %>
<% else %>
	<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
