<%= javascript_include_tag 'index', :plugin => "redmine_wktime" %>

<%= form_tag({:controller => 'wkexpense', :action => 'edit'}, :method => :post, :id => 'wktime_new') do %>

<%=h hidden_field_tag('getusers_url', "#{url_for(:controller => 'wkexpense', :action => 'getusers')}") %>

<h2><%= l(:label_wkexpense) %></h2>


<%= render :partial => 'wktime/te_new' %>

<% end %>
