<div id ="inventoryDiv" style="display:<%= invntItem.blank? ? 'none' : 'block' %>;" class="<%= controller.showAssetProperties ? 'splitcontentright' : 'splitcontentleft' %> ">
	<% 
	#isDisable = isTransfer 
	isDisable = isUsedInventoryItem(invntItem)
	%>
	<%	locationId = nil
		currentParent = invntItem.blank? ? nil : invntItem.id
		parentArr = parentArray(controller.getItemType, true, false, locationId, currentParent)
	%>
	<%  productItem = @productItem 
		attributeSql = ""
		unless productItem.blank?
			sqlCond = " product_id = " + productItem.product_id.to_s
		else
			firstProduct = WkProduct.where(:product_type => controller.getItemType).order(:name).first
			unless firstProduct.blank?		
				attributeSql = " group_id = " + firstProduct.attribute_group_id.to_s 		
			end
		end	
	%>
	<fieldset class="box tabular">
		<legend><%= isTransfer ? l(:button_transfer) : controller.lblInventory %></legend>
		<table width='100%'>  
			<% if controller.showAssetProperties   %>
			<tr>
				<th align="left"><%= "Parent" %></th>
				<td align="left" style="padding-left:40px;"><%=h select_tag("parent_id", options_for_select(parentArr, :selected => (invntItem.blank? ? (@parentEntry.blank? ? parentArr : @parentEntry.id) : invntItem.parent_id)), :disabled => isDisable && !isTransfer) %></td>
			</tr>
			<% end %>
			<tr>
				<th align="left"><%= l(:label_serial_number) %></th>
				<td align="left" style="padding-left:40px;"><%= text_field_tag "serial_number",  invntItem.blank? ? '' : invntItem.serial_number, :disabled => isDisable || isTransfer %></td>
			</tr>
			<% inventoryHook = call_hook(:view_asset_inventory, :inventoryItem => invntItem) %>
			<% if controller.showInventoryFields %>
				<%= render :partial => 'wkproductitem/partial_inventory_item', locals: {invntItem: invntItem, isDisable: isDisable, isTransfer: isTransfer} %>
			<%# else %>
				<%#=  inventoryHook %>
			<% end %>
			<tr>
				<th align="left"><%= l(:label_attribute) %></th>
				<td align="left" style="padding-left:40px;">
					<%=h select_tag("product_attribute_id", generic_options_for_select(WkProductAttribute, attributeSql, 'name', 'name', 'id', invntItem.blank? ? '' : invntItem.product_attribute_id, true), :disabled => isDisable || isTransfer) %>
				</td>
			</tr>
			<% if invntItem.blank? || invntItem.parent_id.blank? %>
				<tr>
					<th align="left"><%= l(:label_location) %></th>
					<td align="left" style="padding-left:40px;">
						<%=h select_tag("location_id", generic_options_for_select(WkLocation, nil, 'name', 'name', 'id', invntItem.blank? ? nil : invntItem.location_id, false), :disabled => isDisable && !isTransfer) %>
						<% unless invntItem.blank? || isTransfer || controller.getItemType != 'I' %>
									<%= link_to l(:button_transfer), url_for(:controller => controller_name, :action => 'transfer', :inventory_item_id => invntItem.id), :class => 'icon icon-bullet-go' %>
						<% end %>
					</td>
				</tr>
				<tr>
					<th align="left"><%= l(:label_project) %></th>
					<td align="left" style="padding-left:40px;">
						<%=h select_tag("project_id", options_for_select(getProjects, :selected => invntItem.blank? ? "" : invntItem.project_id), :disabled => isDisable && !isTransfer) %>
					</td>
				</tr>
			<% end %>
			<tr>
				<th align="left"><%= l(:field_notes) %></th>
				<td align="left" style="padding-left:40px;"><%= text_area_tag "notes",  invntItem.blank? ? '' : invntItem.notes, :disabled => isDisable && !isTransfer %></td>
			</tr>  		
		</table>
	</fieldset>
</div>