<%= hidden_field_tag 'back_url', url_for(:controller => params[:controller], :action => params[:action]) %>
<script type="text/javascript"> 
	productModifyUrl="<%= "#{url_for(:controller => "wklogmaterial", :action => 'modifyProductDD')}" %>";
</script>
<div class="wk-contextual">
	<%= link_to controller.newItemLabel, url_for(:controller => controller_name, :action => 'edit', :newItem => true), :class => 'icon icon-add' %>
</div>
	<%= form_tag({:controller => controller_name, :action => 'index', :tab => controller_name}, :method => :get, :id => 
     'query_form') do %>
		<%= hidden_field_tag "searchlist", controller_name %>
		<%=h hidden_field_tag('tab', controller_name) %>
		<%
			wktime_helper = Object.new.extend(WktimeHelper)
			productId = session[controller_name].try(:[], :product_id)
			brandId = session[controller_name].try(:[], :brand_id)
			locationId =session[controller_name].try(:[], :location_id)
			availabilityId =session[controller_name].try(:[], :availability)
			projectId =session[controller_name].try(:[], :project_id)
			isDisposed =session[controller_name].try(:[], :is_dispose)
			showOnMap =session[controller_name].try(:[], :show_on_map)
		%>
		<%	projArr = getProjects %>
		<%	projArr[0] = [l(:label_all_projects),'AP'] %>
		<%	projArr.unshift(["",''])  %>
		<fieldset style="font-wight: bold;">
			<%= l(:label_location) %>&nbsp;
			<%=h select_tag("location_id", generic_options_for_select(WkLocation, nil, 'name', 'name', 'id', locationId, true)) %>&nbsp;
			<% if controller.getItemType == "I" || controller.getItemType == "A" %>
				<%= l(:label_product) %>&nbsp;
				<%=h select_tag("product_id", generic_options_for_select(WkProduct, nil, 'name', 'name', 'id', productId, true)) %>&nbsp;
			<% end %>
			<% if controller.getItemType == "I" %>
				<%= l(:label_brand) %>&nbsp;
				<%=h select_tag("brand_id", generic_options_for_select(WkBrand, nil, 'name', 'name', 'id', brandId, true)) %>&nbsp;
				</td>
			<% else %>
				<%= l(:label_availability) %>&nbsp;
				<%=h select_tag("availability", options_for_select(availabilityHash.invert, :selected=> availabilityId)) %>
				</td>&nbsp;
			<% end %>
			<%= l(:label_project) %>&nbsp;
			<%=h select_tag("project_id", options_for_select(projArr, :selected=> projectId)) %>&nbsp;
			<% if controller.getItemType == "A" %>
				<label><%= check_box_tag('is_dispose', 1, isDisposed) %> <%= l(:label_disposed) %></label>&nbsp;
			<% end %>
			<%= link_to_function l(:button_apply), '$("#query_form").submit(); return false;', :class => 'icon icon-checked' %>&nbsp;
			<%= link_to l(:button_clear), {:controller => controller_name, :action => action_name, :tab => 'clock'}, :class => 'icon icon-reload' %>
			<% if wktime_helper.isChecked('asset_save_geo_location') && params[:controller] == 'wkasset' %>
			<label style="padding-left:5px">
				<%= check_box_tag('show_on_map', true, showOnMap, onclick: '$("#query_form").submit(); return false;') %>
				<%= l(:label_show_on_map) %>
			</label>
		<% end %>
		</fieldset>
		<br>
	<% end %>
 <%= render :partial => 'wkproductitem/product_item_list'%>
 <span class="pagination"><%= pagination_links_full @entry_pages, @entry_count %></span>