<%= javascript_include_tag 'index', :plugin => "redmine_wktime" %>
<%= javascript_include_tag 'accountproject', :plugin => "redmine_wktime" %>
<script type="text/javascript"> 
	productModifyUrl="<%= "#{url_for(:controller => "wklogmaterial", :action => 'modifyProductDD')}" %>";
</script>
<%= form_tag({:controller => controller_name, :action => 'update'}, :method => :post, :id => 'query_form') do %>
	<%	if @inventoryItem.blank?			
			if @parentEntry.blank?		
				newLbl = controller.newItemLabel
				editLbl = controller.editItemLabel
			else
				newLbl = controller.newcomponentLbl
				editLbl = controller.editcomponentLbl
			end
		else
			newLbl = controller.newcomponentLbl
			editLbl = @inventoryItem.parent_id.blank? ? controller.editItemLabel : controller.editcomponentLbl			
		end
	%>
	<h2><b><%= @productItem.blank? ?  newLbl : editLbl %></b></h2>
	
	
	<div id="product_item_form">
           <%=h hidden_field_tag('product_item_id', @productItem.blank? ? "" :@productItem.id) %>
		   <%=h hidden_field_tag('inventory_item_id', @inventoryItem.blank? ? "" :@inventoryItem.id) %>
			<%=h hidden_field_tag('product_type', controller.getItemType) %>	
			<%= call_hook(:view_product_item, :inventoryItem => @inventoryItem) %>
			<%# if controller.showProductItem  %>
				<%= render :partial => 'wkproductitem/edit_product_item' %>			
			<%# end %>	
			<div style="clear:both;"></div>
		<fieldset id="date-range" class="collapsible">
			<legend onclick="toggleFieldset(this);"><%= l(:label_additional_info) %></legend>
		
		<% if controller.showAssetProperties  # if controller.showAssetProperties && !@inventoryItem.blank?%>
			<%= render :partial => 'wkasset/asset_property', locals: {invntItem: @inventoryItem, isTransfer: false}%>
		<% end %>
		<%# if (!@inventoryItem.blank? || controller.newAsset) %>
			<%= render :partial => 'wkproductitem/edit_inventory', locals: {invntItem: @inventoryItem, isTransfer: false}%>		
		<%# end %>
		</fieldset>
	</div>
	<div style="clear:both;"></div>
	<div  align='center'>
		<%= submit_tag l(:button_save) ,:id => 'wkproductitem_save'%>
	</div>
<% end %>

<% if !@inventoryItem.blank? && controller.showAssetProperties   %>
	</br>
	<div>
		<%= render partial: "wkcrm/accordion_section", locals: { currentObj: @inventoryItem }%>
	</div>
<% end %>