<%= javascript_include_tag 'index', :plugin => "redmine_wktime" %>
<div class="wk-contextual">
	<%= link_to l(:label_new_account), url_for(:controller => controller_name, :action => 'edit'), :class => 'icon icon-add' %>
</div>
<%= form_tag({:controller => controller_name, :action => 'index', :tab => controller_name}, :method => :post, :id => 'query_form') do %>
	<%= hidden_field_tag "searchlist", controller_name %>
	<fieldset>
		<table>
			<tr>
				<%=h hidden_field_tag('tab', controller_name) %>
				<th><label for='location'><%= l(:label_location) %></label></th>
					<td><%=h select_tag("location_id", generic_options_for_select(WkLocation, nil, 'name', 'name', 'id', session[controller_name].try(:[], :location_id), true)) %></td>
				<th><label for='name' style="padding-left: 10px;"><%= controller.getAccountLbl %></label></th>
					<td><%= text_field_tag 'accountname', session[controller_name].try(:[], :accountname), :size => 30 %></td>
				<td><%= submit_tag l(:button_apply), :class => "small", :name => nil %></td>
				<td><%= link_to l(:button_clear), {:controller => controller_name, :action => 'index', :tab => controller_name}, :class => 'icon icon-reload' %></td>
			</tr>
		</table>
	</fieldset>
<% end %>
<%= render :partial => 'wkaccount/account_list'%>