<%= javascript_include_tag 'index', :plugin => "redmine_wktime" %>
<%= form_tag({:controller => controller_name, :action => 'index', :tab => controller_name}, :method => :post, :id => 'query_form') do %>
		<%= hidden_field_tag "searchlist", controller_name %>
		<fieldset>
			<%=h hidden_field_tag('tab', controller_name) %>
			<label for='location'><%= l(:label_location) %>:</label>									
			<%=h select_tag("location_id", generic_options_for_select(WkLocation, nil, 'name', 'name', 'id', session[controller_name].try(:[], :location_id), true)) %>
			<label for='name'><%= controller.getAccountLbl %>:</label>
			<%= text_field_tag 'accountname', session[controller_name].try(:[], :accountname), :size => 30 %>
			<%= submit_tag l(:button_apply), :class => "small", :name => nil %>
			<%= link_to l(:button_clear), {:controller => controller_name, :action => 'index', :tab => controller_name}, :class => 'icon icon-reload' %>
		</fieldset>
<% end %>
		<div class="wk-contextual">
			<%= link_to l(:label_new_account), url_for(:controller => controller_name, :action => 'edit'), :class => 'icon icon-time-add' %>
		</div>
<%= render :partial => 'wkaccount/account_list'%>