<%= form_tag({:controller => controller_name, :action => 'update'}, :method => :post, :id => 'query_form') do %>
<div style="display: flex; justify-content: space-between; align-items: center;">
  <h2><b><%=@accountEntry.blank? ? (l(:label_new_account)) : controller.getAccountLbl %></b></h2>
	<% inv_type = @accountEntry&.account_type == 'S' ? 'SI' : 'I' %>
	<% if @accountEntry.present? && (@accountEntry.account_type == 'S' || (showBilling && validateERPPermission("M_BILL") && @accountEntry.has_billable_projects?)) %>
		<% balance_amt = WkCrmContact.total_invoice_payable_for("WkAccount", @accountEntry.id, inv_type) %>
		<p style="color: red; font-weight: bold;font-size: large;margin-left: auto"><%= l(:wk_field_balance) %> : <%= number_to_currency(balance_amt[:amount], unit: balance_amt[:currency].present? ? balance_amt[:currency] : number_currency_format_unit) %></p>
	<% end %>
</div>
	<div id="account_form">
		<% addressObj = @accountEntry.blank? ? nil : @accountEntry.address %>
		<%=h hidden_field_tag('account_id', @accountEntry.blank? ? "" : @accountEntry.id) %>
		<%=h hidden_field_tag('address_id', @accountEntry.blank? ? "" : @accountEntry.address_id) %>
		<div class="splitcontent">
			<div class="splitcontentleft">
				<%= render partial: "wklead/lead_info", locals: { contactObj: nil, leadObj: nil, accountObj: @accountEntry, isAccount: true, isContact: false }%>
			</div>
			<div class="splitcontentright">
				<%= render partial: "wklead/contact_info", locals: { address: addressObj, :disable => false, showMap: true  }%>
			</div>
		</div>
	</div>
	<div style="clear:both;"></div>
	<div>
		<%= submit_tag l(:button_save) ,:id => 'wkaccount_save'%>
		<%= call_hook(:view_additional_lead_info, { moveInObj: @accountEntry }) unless @accountEntry.blank? || controller.getAccountType != 'A' %> 
	</div>
<% end %>
<% unless @accountEntry.blank? || @accountEntry.new_record? %>
	</br>
	<div>
		<%= render partial: "wkcrm/accordion_section", locals: { currentObj: @accountEntry }%>
	</div>
<% end %>