<%= stylesheet_link_tag 'wk-time', :plugin => "redmine_wktime" %>
<% typeHash = { 'C'  => l(:label_txn_contra), 'P' =>  l(:label_txn_payment),  } %>
<div class="autoscroll">
<table class="list time-entries">
  <thead>
         <tr>
				<th class="lbl-txt-align"><%=  l(:label_type) %></th>
				<th class="lbl-txt-align"><%=  l(:label_date) %></th>				
				<th class="lbl-txt-align"><%= l(:field_amount) %></th>
				<th></th>
         </tr>
  </thead>
   <tbody>
	<% @transEntries.each do |entry| %>
		<tr>
		    <td class="lbl-txt-align"><%=h transTypeHash[entry.trans_type]  %></td>
			<td class="lbl-txt-align"><%=h entry.trans_date %></td>
			<td class="lbl-txt-align"><%=h html_hours("%.2f" % entry.transaction_details.where(:detail_type => "d" ).sum(:amount))  %></td>
			<td class="lbl-txt-align"><%= link_to image_tag('edit.png'), {:controller => controller.controller_name, :action => 'edit', :txn_id => entry.id, :tab => controller.controller_name},   :title => l(:button_edit) %>
			<% if isModuleAdmin('wktime_accounting_admin') %>
				<%= link_to image_tag('delete.png'), {:controller => controller.controller_name, :action => 'destroy', :txn_id => entry.id, :tab => controller.controller_name},  :data => {:confirm => l(:text_are_you_sure)}, :method => :delete, :title => l(:button_delete) %>
			<% end %>
			</td>
		</tr>
	<% end %>
   </tbody>
</table>
</div>
<span class="pagination"><%= pagination_links_full @entry_pages, @entry_count %></span>