<%= stylesheet_link_tag 'wk-time', :plugin => "redmine_wktime" %>
<% salestage = Array.new %> 
<% salestage = WkCrmEnumeration.where(:enum_type => "SS").order(enum_type: :asc, name: :asc).pluck(:id, :name) %> 
<%  salestagehash = Hash[*salestage.flatten] %>
<div class="autoscroll">
<table class="list time-entries">
  <thead>
         <tr>
				<th class="lbl-txt-align"><%= l(:field_name)   %></th>
			<!--	<th class="lbl-txt-align"><%#=  l(:label_account_name) %></th> -->
				<th class="lbl-txt-align"><%= l(:label_related_to) %></th>
				<th class="lbl-txt-align"><%=  l(:label_txn_sales) + " " + l(:label_stage) %></th>
				<th class="lbl-txt-align"><%=  l(:field_amount)  %></th>
				<th class="lbl-txt-align"><%=  l(:label_expected) + " " + l(:button_close) + " " + l(:field_spent_on)  %></th>
				<th class="lbl-txt-align"><%=  l(:field_assigned_to)  %></th>
				<th class="lbl-txt-align"><%= l(:label_modified).capitalize %></th>
				<th></th>
         </tr>
  </thead>
   <tbody>
	<% opportunities.each do |entry| %>
		<tr>
		    <td class="lbl-txt-align"><%=h entry.name  %></td>
		<!--	<td class="lbl-txt-align"><%#=h entry.parent.name unless entry.parent.blank? %></td> -->
			<td class="lbl-txt-align"><%=h relatedHash[entry.parent_type] %></td>
			<td class="lbl-txt-align"><%=h entry.sales_stage_id.blank? ? "" : salestagehash[entry.sales_stage_id] %></td>
			<td class="lbl-txt-align"><%=h entry.currency + " "  %><%=h html_hours("%.2f" % entry.amount) %></td>
			<td class="lbl-txt-align"><%=h entry.close_date.localtime.strftime("%Y-%m-%d") %></td>
			<td class="lbl-txt-align"><%=h entry.assigned_user.name(:firstname_lastname)  unless entry.assigned_user.blank? %></td>
			<td class="lbl-txt-align"><%=h entry.updated_at.localtime.strftime("%Y-%m-%d") %></td>
			<td class="lbl-txt-align"><%= link_to image_tag('edit.png'), {:controller => 'wkopportunity', :action => 'edit', :opp_id => entry.id, :tab => 'wkopportunity'}, :title => l(:button_edit) %>
							<%= link_to image_tag('delete.png'), {:controller => 'wkopportunity', :action => 'destroy', :opp_id => entry.id, :tab => 'wkopportunity'},  :data => {:confirm => l(:text_are_you_sure)}, :method => :delete, :title => l(:button_delete) %></td>
		</tr>
	<% end %>
   </tbody>
</table>
</div>