<h2><%= l(:label_opportunity_plural) %></h2>
<%= javascript_include_tag 'index', :plugin => "redmine_wktime" %>
<%= stylesheet_link_tag 'wk-time', :plugin => "redmine_wktime" %>
<script type="text/javascript"> 
   
	blgaccUrl = '<%=url_for(:controller => "wkcrmaccount", :action => "index", :tab => "wkcrmaccount")%>';
	crmleadsUrl = '<%=url_for(:controller => "wklead", :action => "index", :tab => "wklead")%>';
    crmopportunityUrl = '<%=url_for(:controller => "wkopportunity", :action => "index", :tab => "wkopportunity")%>';
	crmactivityUrl = '<%=url_for(:controller => "wkcrmactivity", :action => "index", :tab => "wkcrmactivity")%>';
	crmcontactUrl = '<%=url_for(:controller => "wkcrmcontact", :action => "index", :tab => "wkcrmcontact")%>';	
    prevTab = 'tab-<%= "#{controller_name}" %>';   
</script>
<%= render_tabs time_expense_tabs %>

<%= hidden_field_tag 'back_url', url_for(:controller => params[:controller], :action => params[:action]) %>
<%= form_tag({:controller => "wkopportunity", :action => 'index', :tab => "wkopportunity"}, :method => :post, :id => 'query_form') do %>
<%=h hidden_field_tag('tab', "wkopportunity") %>
<%= hidden_field_tag "searchlist", "wkopportunity" %>
<%	accname = session[:wkopportunity].try(:[], :oppname) %>
<%	accId = session[:wkopportunity].try(:[], :account_id) %>
<%	accArr = options_for_wktime_account(true, 'A') %>		
<div class="wk-contextual">
    <label for='name' style="float:left"><%= l(:label_opportunity) + " " + l(:field_name) %>:</label>
	<%= text_field_tag 'oppname', accname.blank? ? "" : accname, :size => 30, :style=> "float: left;" %>	
	<label style="float:left; padding-left: 20px;"><%= l(:label_account_name) %></label>
		<%=h select_tag('account_id', options_for_select(accArr,  :selected => accId.nil? ? accArr : accId), :style=> "float: left;") %>
        <%= link_to l(:label_new_item_adjusted, l(:label_opportunity)), url_for(:controller => controller_name, :action => 'edit'), :class => 'icon icon-time-add' %>
</div>
<%= render :partial => 'wkopportunity/date_range' %>

<% end %>
<%= render :partial => 'wkopportunity/opportunity_list', locals: { opportunities: @opportunity} %>
<span class="pagination"><%= pagination_links_full @entry_pages, @entry_count %></span>