<table class="list time-entries">
	<thead>
		<tr>
			<%= sort_header_tag('user_name', :caption => l(:field_user), class: "lbl-txt-align") %>
			<%= sort_header_tag('leave_type', :caption => l(:label_leave_type), class: "lbl-txt-align") %>
			<%= sort_header_tag('start_date', :caption => l(:label_start_date), class: "lbl-txt-align") %>
			<%= sort_header_tag('end_date', :caption => l(:label_end_date), class: "lbl-txt-align") %>
			<%= sort_header_tag('submitted_date', :caption => l(:label_submitted_date), class: "lbl-txt-align") %>
			<%= sort_header_tag('status', :caption => l(:field_status), class: "lbl-txt-align") %>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @leaveReqEntires.each do |entry| %>
		<% status = getLeaveStatus[entry.try(:status)] %>
			<tr>
				<td class="lbl-txt-align"><%= entry.user_name %></td>
				<td class="lbl-txt-align"><%= entry.leave_type&.subject %></td>
				<td class="lbl-txt-align"><%= entry.startDate %></td>
				<td class="lbl-txt-align"><%= entry.endDate %></td>
				<td class="lbl-txt-align"><%= (entry.created_at)&.to_date %></td>
				<td class="lbl-txt-align colorcode-bg-setup col-status-<%= entry.try(:status) %>"><%= status %></td>
				<td align="center">
					<%= link_to sprite_icon('edit'), {:controller => controller_name, :action => 'edit', :id => entry.id,
						:tab => controller_name}, :title => l(:button_edit) %>
				</td></td>
			</tr>
		<% end %>
	</tbody>
</table>