<h2><%= l(:label_leave_request) %></h2>
<% html_title(l(:label_leave_request)) %>

<% content_for :sidebar do %>
	<%= render partial: 'sidebar' %>
<% end %>

<% 	group_id =session[controller_name].try(:[], :group_id)
	userID =session[controller_name].try(:[], :user_id)
	statusList = {'' => ''}.merge(getLeaveStatus)
%>
<script type="text/javascript"> 
	grpUrl="<%= "#{url_for(:controller => "wkpayroll", :action => 'getMembersbyGroup')}" %>";
</script>
<fieldset><legend><%= l(:label_filter_plural) %></legend>
	<%= form_tag({controller: controller_name, action: 'index'}, method: :get) do %>
		<%= hidden_field_tag("searchlist", controller_name) %>
		<% if isLeaveReqAdmin %>
		<p>
			<%=l(:label_group_plural)%>
			<% if !@groups.blank? %>
				<%= select_tag('group_id', options_for_select( [["", 0]] + (@groups.collect {|p| [p.name, p.id ]}),
					:selected => group_id), :onchange => "grpChanged(this, #{User.current.id}, true);", :style=> "width:300px;") %>
			<% end %>
			<%=l(:label_member)%>
			<%= select_tag('user_id', options_for_select( [[l(:all_users_for_select), 0]] + @members, :selected => userID),
				:style=> "width:200px;") %>
		</p>
		<% end %>
		<p>
			<label><%= l(:label_leave_type) %></label>
			<%= select_tag('leave_type', options_for_select(get_leave_type.unshift(['','']), session[controller_name].try(:[], :leave_type))) %>
			<label><%= l(:label_status) %></label>
			<%= select_tag('status', options_for_select(statusList.invert, session[controller_name].try(:[], :status))) %>
		</p>
		<p>
			<%= submit_tag l(:button_apply), class: "small", name: nil %>
			<%= link_to l(:button_clear), {controller: controller_name, action: 'index', tab: controller_name}, class: 'icon icon-reload' %>
		</p>
	<% end %>
</fieldset>
<p class="contextual">
  	<%= link_to l(:label_new_leave_request), url_for(controller: controller_name, action: 'edit'), :class => 'icon icon-time-add' %>
</p>

<% if @leaveReqEntires.present? %>
	<%= render :partial => 'leaverequest_list'%>
	<span class="pagination"><%= pagination_links_full @leave_pages, @leave_count %></span>
<% else %>
	<p style="clear:both" class="nodata">No data to display</p>
<% end %>