<%= stylesheet_link_tag 'wk-time', :plugin => "redmine_wktime" %>
<%= javascript_include_tag 'index', :plugin => "redmine_wktime" %>
<script type="text/javascript">
   wkattnIndexUrl = '<%=url_for(:controller => "wkattendance", :action => "index", :tab => "leave")%>';
   wkleavereqUrl = '<%=url_for(:controller => "wkleaverequest", :action => "index", :tab => "wkleaverequest")%>';
   clockInOutUrl = '<%=url_for(:controller => "wkattendance", :action => "clockindex", :tab => "clock")%>'; 
   payrollUrl = '<%=url_for(:controller => "wkpayroll", :action => "index", :tab => "payroll")%>';
	wkSchedulingUrl = '<%=url_for(:controller => "wkscheduling", :action => "index", :tab => "wkscheduling")%>'; 
	wkPublicHolidayUrl = '<%=url_for(:controller => "wkpublicholiday", :action => "index", :tab => "wkpublicholiday")%>';
	wkSurveyUrl = '<%=url_for(:controller => "wksurvey", :action => "user_survey", :tab => "wksurvey", :surveyForType => 'User')%>';
	grpUrl="<%= "#{url_for(:controller => "wkpayroll", :action => 'getMembersbyGroup')}" %>";
</script>

<div class="contextual">
  	<%= link_to l(:label_new_leave_request), url_for(controller: controller_name, action: 'edit'), :class => 'icon icon-add' %>
</div>
<%= title l(:label_leave_request) %>
<%= render_tabs time_expense_tabs %>
<% 	group_id =session[controller_name].try(:[], :group_id)
	userID =session[controller_name].try(:[], :user_id)
	statusList = {'' => ''}.merge(getLeaveStatus)
%>
<fieldset>
	<legend><%= l(:label_filter_plural) %></legend>
	<%= form_tag({controller: controller_name, action: 'index'}, method: :get) do %>
		<%= hidden_field_tag("searchlist", controller_name) %>
		<%= hidden_field_tag('tab', controller_name) %>
		<% period = session[:wkleaverequest].try(:[], :period) %>
		<% if isLeaveReqAdmin %>
			<label><%=l(:label_group_plural)%></label>&nbsp;
			<%= select_tag('group_id', options_for_select( [["", 0]] + (@groups.collect {|p| [p.name, p.id ]}),
						:selected => group_id), :onchange => "grpChanged(this, #{User.current.id}, true);", :style=> "width:300px;") %>&nbsp;
			<label><%=l(:label_member)%></label>&nbsp;
			<%= select_tag('user_id', options_for_select( [[l(:all_users_for_select), 0]] + @members, :selected => userID),
						:style=> "width:200px;") %>&nbsp;
		<% end %>
		<label><%= l(:label_leave_type) %></label>&nbsp;
		<%= select_tag('leave_type', options_for_select(get_leave_type.unshift(['','']), session[controller_name].try(:[], :leave_type))) %>&nbsp;
		<label><%= l(:label_status) %></label>&nbsp;
		<%= select_tag('lveStatus', options_for_select(statusList.invert, session[controller_name].try(:[], :lveStatus))) %>&nbsp;
		<fieldset id="date-range" class="collapsible">
			<legend onclick="toggleFieldset(this);" class="icon icon-expended"><%= l(:label_date_range) %></legend>
			<div>
				<%= radio_button_tag 'period_type', '1', !@free_period, :onclick => '$("#from,#to").attr("disabled", true); $("#period").removeAttr("disabled");' %>
				<%= select_tag 'period', options_for_period_select(period),
										:onchange => 'this.form.submit();',
										:onfocus => '$("period_type_1").checked = true;',
										:disabled => @free_period %>
				<%= radio_button_tag 'period_type', '2', @free_period, :onclick => '$("#from,#to").removeAttr("disabled"); $("#period").attr("disabled", true);' %>
				<span onclick="$('period_type_2').checked = true;">
				<%= l(:label_date_from_to, :start => ( date_field_tag('from', @from, {:id => 'from', :size => 10, :disabled => !@free_period,
				 		:onchange =>"dateRangeValidation('from', 'to')"}) +
						calendar_for('from')), :end => ( date_field_tag('to', @to, {:id => 'to', :size => 10, :disabled => !@free_period,
						 :onchange =>"dateRangeValidation('from', 'to')"}) +
						calendar_for('to'))).html_safe %>
				</span>
			</div>
		</fieldset>
		<div>
			<%= submit_tag l(:button_apply), class: "small", name: nil %>
			<%= link_to l(:button_clear), {controller: controller_name, action: 'index', tab: controller_name}, class: 'icon icon-reload' %>
		</div>
	<% end %>
</fieldset>

<% if @leaveReqEntires.present? %>
	<%= render :partial => 'leaverequest_list'%>
	<span class="pagination"><%= pagination_links_full @leave_pages, @leave_count %></span>
<% else %>
	<p style="clear:both" class="nodata">No data to display</p>
<% end %>