
<% group = f.object %>
<div class="group-ungrouped-questions">
  <% if group.name.present? || !survey.persisted? %>
    <div id="accordion">
      <div class="group-accordion-item" id="group-<%= group.id || 'new' %>">
        <%= f.hidden_field :id %>
        <%= f.hidden_field :sort_order %>

        <h3 class="group-accordion-header">
          <span id="group-name">
            <%= group.name.presence || l(:label_group) +"-1" %>
          </span>
        </h3>
        <div class="group-accordion-content">
            <span class="group-actions">
              <table width="100%" style="padding-bottom: 1px;">
                <tr>
                  <td align="left">
                    <%= f.label :name, l(:label_grp_name) %><span style="color:red;">*</span>
                    <%= f.text_field :name, size: 20, maxlength: 100, disabled: isDisable, class: 'group-name-input', onchange: 'updateGroupHeader(this)' %>
                  </td>
                  <% unless isDisable %>
                    <td width="25%" align="right">
                      <%= f.check_box :_destroy, class: 'hide', style: 'display:none' %>
                      <%= link_to sprite_icon('del', l(:button_delete_group)),
                                'javascript:void(0)',
                                title: l(:button_delete_group),
                                class: 'icon-del',
                                onclick: 'DeleteGroup(this)' %>
                    </td>
                  <% end %>
                </tr>
              </table>
            </span>

          <div class="group-questions">
            <%= f.fields_for :wk_survey_questions do |q| %>
              <%= render partial: 'question_fields', locals: { f: q, isDisable: isDisable } %>
            <% end %>
            <template id="question-template">
              <%= f.fields_for :wk_survey_questions, WkSurveyQuestion.new.tap { |q| q.wk_survey_choices.build } ,child_index: "NEW_RECORD" do  |q| %>
                <%= render partial: 'question_fields', locals: { f: q, isDisable: isDisable } %>
              <% end %>
            </template>

            <% unless isDisable %>
              <div class="add-question-link">
                <%= link_to sprite_icon('add', l(:button_add_question)),
                                  'javascript:void(0)',
                                  onclick: 'addQuestions(this)', class: 'icon icon-add' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="ungrouped-questions">
      <%= f.fields_for :wk_survey_questions do |q| %>
        <%= render partial: 'question_fields', locals: { f: q, isDisable: isDisable } %>
      <% end %>
    </div>
  <% end %>
</div>