<table class="list time-entries">
    <tr>				
        <th class="lbl-txt-align">#</th>
        <th class="lbl-txt-align"><%= l(:label_survey_name) %></th>
        <th class="lbl-txt-align"><%= l(:label_status) %></th>
        <th></th>
    </tr>
	<% survey_helper = Object.new.extend(WksurveyHelper) %>
    <%  unless controller_name == "wksurvey"
            @all_surveys = survey_helper.surveyList(params)
        end
    %>
    <% @all_surveys.each do |entry| %>
        <tr>
            <td class="lbl-txt-align"><%=h entry.id %></td>
                <td class="lbl-txt-align">
                    <% if ['O', 'C'].include? (entry.status )%>
                        <% urlhash = {:controller => "wksurvey", :action => "survey", :survey_id => entry.id} %>
                        <%=h link_to entry.name, url_for(survey_helper.get_survey_url(urlhash, params, false))%>
                    <% else %>
                        <%=h entry.name %>
                    <% end %>
                </td>
            <td class="lbl-txt-align"><%=h survey_helper.getSurveyStatusArr.invert[entry.status] %></td>
            <td class="lbl-txt-align">
                <% if survey_helper.checkEditSurveyPermission %>
                    <% urlhash = {:controller => "wksurvey", :action => "edit", :survey_id => entry.id} %>
                    <%= link_to image_tag('edit.png'), url_for(survey_helper.get_survey_url(urlhash, params, false)), :title => l(:button_edit) %>
                    <% urlhash = {:controller => "wksurvey", :action => "destroy", :survey_id => entry.id} %>
                    <%= link_to image_tag('delete.png'), url_for(survey_helper.get_survey_url(urlhash, params, false)), :data => {:confirm => l(:text_are_you_sure)}, :title => l(:button_delete) %>
                <% end %>
            </td>
        </tr>
    <% end %>
</table>