<table class="list time-entries">
    <tr>				
        <th class="lbl-txt-align">#</th>
        <th class="lbl-txt-align"><%= l(:label_survey_name) %></th>
        <th class="lbl-txt-align"><%= l(:label_status) %></th>
        <th></th>
    </tr>
    <% @all_surveys.each do |entry| %>
        <tr>
            <td class="lbl-txt-align"><%=h entry.id %></td>
                <td class="lbl-txt-align">
                    <% if ['O', 'C'].include? (entry.status )%>
                        <% if params[:project_id].blank? %>
                            <%=h link_to entry.name, url_for(:controller => "wksurvey", :action => "survey", :survey_id => entry.id, :tab => "wksurvey")%>
                        <% else %>
                            <%= link_to entry.name, url_for(:project_id => params[:project_id], :controller => "wksurvey", :id => entry.id, :action => "survey") %>
                        <% end %>
                    <% else %>
                        <%=h entry.name %>
                    <% end %>
                </td>
            <td class="lbl-txt-align"><%=h getSurveyStatusArr.invert[entry.status] %></td>
            <td class="lbl-txt-align">
                <% if checkEditSurveyPermission %>
                    <% if params[:project_id].blank?
                        editLink = {:controller => "wksurvey", :action => 'edit', :survey_id => entry.id, :tab => "wksurvey"}
                    else
                        editLink = {:controller => "wksurvey", :action => 'edit', :id => entry.id}
                    end %>
                    <%= link_to image_tag('edit.png'), editLink, :title => l(:button_edit) %>
                    <%= link_to image_tag('delete.png'), {:controller => "wksurvey", :action => 'destroy', :survey_id => entry.id, :tab => "wksurvey"},  :data => {:confirm => l(:text_are_you_sure)}, :title => l(:button_delete) %>
                <% end %>
            </td>
        </tr>
    <% end %>
</table>