<%
survey_helper = Object.new.extend(WksurveyHelper)

if params[:isIssue] == "true"
    style = "list issues odd-even"
else   
    style = "list time-entries"
end
%>
<table class="<%= style %>">
    <tr>
        <th>#</th>
        <th class="lbl-txt-align"><%= l(:label_survey) %></th>
        <%= sort_header_tag('Response_status', :caption => l(:label_response_status)) %>
        <%= sort_header_tag('Response_By', :caption => l(:label_response_by)) %>
        <%= sort_header_tag('Response_date', :caption => l(:label_response_date)) %>
    </tr>
    <% @response_entries.each_with_index do |entry, index| %>
        <% entry = entry.last %>
        <% if User.current.id == entry[:user_id] || (User.current.id == entry[:parent_id] || 
            validateERPPermission("E_SUR")) %>
            <% urlhash = { :survey_id => entry[:survey_id], :surveyForType => entry[:survey_for_type], :surveyForID => entry[:survey_for_id], response_id: entry[:id] } %>
            <tr>
                <td class="lbl-txt-align"><%=h index+1 %></td>
                <td class="lbl-txt-align">
                <% if @surveyForID.blank? && !@surveyForType.blank? %>
                    <%= entry[:name] %>
                <% else %>
                    <%= link_to entry[:name], url_for(survey_helper.get_survey_url(urlhash, params, "survey")) %>
                <% end %>
                </td>
                <td class="lbl-txt-align"><%=h survey_helper.getResponseStatus.invert[entry[:status]] %></td>
                <td class="lbl-txt-align"><%=h entry[:firstname] + " " + entry[:lastname] %></td>
                <td class="lbl-txt-align"><%=h entry[:status_date].strftime("%Y-%m-%d") %></</td>
            </tr>
        <% end %>
    <% end %>
</table>