<% response_id = !params[:response_id].blank? ? params[:response_id] : 
    (!@response_status.blank? && @responseStatus == "O" ? @response_status.id : nil) %>
<%= form_tag({:controller => 'wksurvey', :action => 'update_survey'}, :method => :post, :id => 'survey_form') do %>
    <%=h hidden_field_tag('surveyForID', params[:surveyForID]) %>
    <%=h hidden_field_tag('surveyForType', params[:surveyForType]) %>
    <%=h hidden_field_tag("survey_id", @survey.id) %>
    <%=h hidden_field_tag("isReview", @isReview) %>
    <%=h hidden_field_tag("survey_response_id", response_id) %>
    <% @question_Entries.each do |entry| %>
        <% isReviewerOnly = ActiveModel::Type::Boolean.new.cast(entry.is_reviewer_only) %>
        <% isMandatory = ActiveModel::Type::Boolean.new.cast(entry.is_mandatory) && !(["CB"].include? entry.question_type) %>
        <% if !isReviewerOnly || (@isReview && isReviewerOnly)
            disableReviewerOnly = isReviewerOnly && !@isReviewed
            if @reviewerOnlyQuestions.blank? && isReviewerOnly
                @reviewerOnlyQuestions = entry.question_id.to_s
            elsif isReviewerOnly
                @reviewerOnlyQuestions += "," + entry.question_id.to_s
            end
            isMandatory = isReviewerOnly && entry.question_type != "CB"
        %>
        <%=h hidden_field_tag("question_type_"+ (entry.question_id).to_s, entry.question_type) %>
        <%=h hidden_field_tag("isReviewerOnly_"+ (entry.question_id).to_s, isReviewerOnly) %>
        <%  survey_ans = @survey_response.blank? ? nil : @survey_response.where("SA.survey_question_id = #{entry.question_id}").first 
            choice_text = (!@survey_response.blank? && !survey_ans.blank?) ? survey_ans.choice_text : nil
            comment_text = (!@survey_response.blank? && !survey_ans.blank?) ? survey_ans.comment_text : nil
        %>
        <fieldset class="box tabular">
        <table>
            <tr>
                <th align="left"><%= l(:label_question_name) %>
                <% if isMandatory %><%= content_tag(:span, "*", :class => "required") %><% end %>
                </th>
                <td align="left" style="padding-left:40px;"><%= entry.question_name %></td>
            </tr>
            <tr>
                <th align="left"><%= l(:label_question_choices) %></th>
                <td></td>
            </tr>

            <% if ["RB","CB"].include? entry.question_type %>
                <% @question_Choice_Entries.each do |choice_entry| %>
                    <% if choice_entry.survey_question_id == entry.question_id %>
                    <%  survey_ans = @survey_response.blank? ? nil : @survey_response.where("SA.survey_choice_id = #{choice_entry.id} 
                        AND SA.survey_question_id = #{entry.question_id}").first
                        isChecked = !@survey_response.blank? && !survey_ans.blank? 
                    %>
                    <tr>
                        <td></td>
                        <td align="left" style="padding-left:40px;">
                            <% case entry.question_type %>
                            <% when 'CB' %>
                                <%= check_box_tag(("survey_sel_choice_"+ (entry.question_id).to_s + "_" + (choice_entry.id).to_s  ), 
                                    choice_entry.id, isChecked, :disabled => disableReviewerOnly ? @isReviewed : @isDisable, 
                                    :required => isMandatory) %>
                                <%= choice_entry.name %>
                            <% when 'RB' %>
                                <%= radio_button_tag("survey_sel_choice_"+ (entry.question_id).to_s + "_", choice_entry.id, isChecked, 
                                    :disabled => disableReviewerOnly ? @isReviewed : @isDisable, :required => isMandatory) %>
                                <%= choice_entry.name %>
                            <% end %>
                        </td>
                    </tr>
                    <% end %>
                <% end %>

            <% elsif ["TB","MTB"].include? entry.question_type %>
                <tr>
                    <td></td>
                    <td align="left" style="padding-left:40px;">
                        <% case entry.question_type %>
                        <% when 'TB' %>
                            <%=h text_field_tag("survey_sel_choice_"+ (entry.question_id).to_s + "_", choice_text, size: 60, 
                                :disabled => disableReviewerOnly ? @isReviewed : @isDisable, :required => isMandatory, :autofocus => false) %>
                        <% when 'MTB' %>
                            <%=h text_area_tag("survey_sel_choice_"+ (entry.question_id).to_s + "_", choice_text, rows: 5, cols: 60, 
                                :disabled => disableReviewerOnly ? @isReviewed : @isDisable, :required => isMandatory, :autofocus => false) %>
                        <% end %>
                    </td>
                </tr>
            <% end %>
            <% if @isReview && !isReviewerOnly %>
            <tr>
                <th align="left"><%= l(:label_review_comment) %></th>
                <td align="left" style="padding-left:40px;">
                    <%=h text_area_tag("survey_review_"+ (entry.question_id).to_s, comment_text, rows: 5, cols: 60, :disabled => @isReviewed, 
                        :required => false)   %>
                </td>
            </tr>
            <% end %>
        </table>
        </fieldset>
        <% end %>
    <% end %>
    <%=h hidden_field_tag("reviewerOnlyQuestions", @reviewerOnlyQuestions) %>
    <% if (!@isDisable || @isReview) && !@isReviewed %>
        <div>
        <%= button_tag(l(:button_save), type: 'button', onclick: 'survey_submit();') %>
        <%= button_tag(l(:button_submit), type: 'button', onclick: 'validation();') %>
        <%=h hidden_field_tag("commit", "") %>
        </div>
    <% end %>
<% end %>