<% if @response.present? %>
<% points =  Object.new.extend(WksurveyHelper).showSurveyPoints(params,@survey.id) %>
	<fieldset class="box tabular">
		<table width="40%" style="text-align: justify;">
			<tr>
				<th class="lbl-txt-align"><%= l(:label_response_status) %></th>
				<th class="lbl-txt-align"><%= l(:label_response_by) %></th>
				<th class="lbl-txt-align"><%= l(:label_response_date) %></th>
				<%  if points[:show_points].present?  %>
					<th class="lbl-txt-align"><%= l(:label_points) %></th>
				<% end %>
			</tr>
			<tr>
				<td><%= getResponseStatus.invert[@response.status] %></td>
				<td><%= @response.user.name %></td>
				<td><%= @response.status_date.strftime("%Y-%m-%d") %></td>
				<%  if points[:show_points].present?  %>
					<td><%= @response.total_points %></td>
				<% end %>
			</tr>
		</table>
	</fieldset>
<% end %>

<% if @isReview && @survey.status == "O" %>
	<fieldset class="box tabular">
		<%= form_tag({:controller => 'wksurvey', :action => 'update_status'}, :method => :post) do %>
			<%=h hidden_field_tag("survey_response_id", params[:response_id]) %>
			<%=h hidden_field_tag("survey_id", @survey.id) %>
			<table>
				<tr>
					<th align="left"><%= l(:label_response_status) %></th>
					<th align="left" style="padding-left:10px;">
						<%= select_tag('response_status', options_for_select(getResponseStatus, :selected => @response.status)) %>
					</th>
					<th style="padding-left:10px;"><%= button_tag l(:button_submit) %></th>
				</tr>
			</table>
		<% end %>
	</fieldset>
<% end %>

<% isPrint ||= false %>
<% if @survey.wk_survey_questions.present? %>
	<%= render partial: "response_detail", locals: { isPrint: isPrint } %>
<% end %>