<%
helperObj = Object.new.extend(WksurveyHelper)

unless controller_name == "wksurvey"
    @all_surveys = helperObj.surveyList(params)
end

if params[:isIssue]
    style = "list issues odd-even"
else
    style = "list time-entries"
end
points =  helperObj.showSurveyPoints(params,nil)
label =  helperObj.getSurveyLabel(params)
%>
<table class="<%= style %>">
    <tr>
        <th>#</th>
        <% if ["index", "user_survey"].include? action_name %>
            <%= sort_header_tag('survey', :caption => label["header"] || l(:label_survey), class: "lbl-txt-align") %>
            <%= sort_header_tag('status', :caption => l(:field_status)) %>
        <% else %>
            <th class="lbl-txt-align"><%= label["header"] || l(:label_survey) %></th>
            <th><%= l(:field_status) %></th>
        <% end %>
        <% if points[:show_points].present? %>
            <th><%= l(:label_points) %></th>
        <% end %>
        <th></th>
    </tr>
    <% @all_surveys.each_with_index do |entry, index| %>
        <% points =  helperObj.showSurveyPoints(params,entry.id) %>
        <% urlhash = { :survey_id => entry.id, :surveyForType => entry.survey_for_type, :surveyForID => entry.survey_for_id, id: entry.id} %>
        <% surveyLink = helperObj.get_survey_with_userGroup(entry.id, false) %>
        <% params["surveyForID"] = entry.survey_for_id %>
        <%= call_hook(:resident_evaluation, params: params, link: url_for(helperObj.get_survey_url(urlhash, params, "survey"))) %>
        <tr>
            <td><%=h index+1 %></td>
            <td class="lbl-txt-align">
                <% if surveyLink.blank? || (@surveyForID.blank? && !@surveyForType.blank? && helperObj.showSurveyLink(params, entry)) %>
                    <%=h entry.name %>
                <% else %>
                    <%=h link_to entry.name, url_for(helperObj.get_survey_url(urlhash, params, "survey")), id: "survey_link_#{entry.id.to_s}"%>
                <% end %>
            </td>
            <td class="colorcode-bg-setup col-status-<%= entry.status %>"><%=h helperObj.getSurveyStatus.invert[entry.status] %></td>
            <% if points[:show_points].present? && points[:id].present? %>
                <td class="colorcode-bg-setup col-status-<%= entry.status %>"><% if entry.use_points %><%=h h entry.total_points.to_f  %><% end %></td>
            <% end %>
            <td class="lbl-txt-align">
                <% if !entry.hide_response && (["O","C"].include? entry.status) %>
                    <%= link_to sprite_icon('list'),
                        url_for(helperObj.get_survey_url(urlhash, params, "survey_response")), :title => l(:label_survey_response) %>&emsp;
                <% else %>&emsp;&emsp;&nbsp;
                <% end %>
                <% if (entry.status == "O" && helperObj.validateERPPermission("E_SUR")) || entry.status == "C" || helperObj.getResponseGroup(entry.id).present? %>
                    <%= link_to sprite_icon('stats'), url_for(helperObj.get_survey_url(urlhash, params, "survey_result")),
                        :title => l(:label_survey_result) %>&emsp;
                <% else %>&emsp;&emsp;&nbsp;
                <% end %>
                <% if helperObj.checkEditSurveyPermission && params[:isIssue].blank? %>
                    <%= link_to sprite_icon('edit'), url_for(helperObj.get_survey_url(urlhash, params, "edit")),
                        :title => l(:button_edit) %>&emsp;
                    <%= link_to sprite_icon('del'), url_for(helperObj.get_survey_url(urlhash, params, "destroy")),
                        :data => {:confirm => l(:text_are_you_sure)}, method: "delete", :title => l(:button_delete) %>
                <% end %>
            </td>
        </tr>
    <% end %>
</table>