<%= javascript_include_tag 'survey', :plugin => "redmine_wktime" %>
<%= stylesheet_link_tag 'wk-time', :plugin => "redmine_wktime" %>

<% 	if @edit_Survey_Entry.blank?
		survey_name = nil
		status = nil
		survey_id = nil
		group_id = ''
		isDisable = false
		recur = false
		recur_every = nil
		
		if !params[:project_id].blank?
			survey_for_id = @project.id
			survey_for = "Project"
		elsif !params[:contact_id].blank?
			survey_for_id = params[:contact_id]
			survey_for = "Contact"
		elsif !params[:account_id].blank?
			survey_for_id = params[:account_id]
			survey_for = "Accounts"
		end
	else
		survey_id = @edit_Survey_Entry.id
		survey_name = @edit_Survey_Entry.name
		status = @edit_Survey_Entry.status
		group_id =  @edit_Survey_Entry.group_id
		isDisable = isStatusNew(@edit_Survey_Entry.status)
		recur = @edit_Survey_Entry.recur
		recur_every = @edit_Survey_Entry.recur_every
		survey_for = @edit_Survey_Entry.survey_for_type
		survey_for_id = @edit_Survey_Entry.survey_for_id
	end
%>
<% if @edit_Survey_Entry.blank?%>
	<%= title l(:label_new_survey) %>
<% else %>
	<%= title l(:label_edit_survey) %>
<% end %>

<div>
<%= form_tag({:controller => 'wksurvey', :action => 'save_survey'}, :method => :post, :id => 'survey_form') do %>
	<%=h hidden_field_tag('project_id', params[:project_id]) %>
	<%=h hidden_field_tag('survey_id', survey_id) %>
	<%=h hidden_field_tag('delete_question_ids', "") %>

	<fieldset class="box tabular">
	<table>
		<tr>
		<th align="left"><%= l(:label_survey_name) %><span style="color:red;">*</span></th>
		<td align="left">
			<%=h text_field_tag("survey_name", survey_name, :disabled => isDisable, :size => "40%", :maxlength => 100) %>
		</td>
		<tr>
		<th align="left"><%= l(:label_survey_for) %></th>
		<td>
			<%=h select_tag("survey_for", options_for_select(getSurveyFor, survey_for), :disabled => isDisable) %>
			<%=h text_field_tag("survey_for_id", survey_for_id, :disabled => isDisable, :size => 3, :maxlength => 30) %>
			<span id="SurveyFor"></span>
			<%=h hidden_field_tag('IsSurveyForValid', false) %>
		</td>
        </tr>
        <tr>
            <th align="left"><%= l(:label_status) %></th>
            <td align="left">
                <%=h select_tag("survey_status", options_for_select(getSurveyStatusArr.drop(1), status)) %>
            </td>
        </tr>
		<tr>
			<th align="left"><%= l(:label_user_group) %></th>
			<td>
				<%=h select_tag('group_id', options_for_select(getUserGroup, :selected => group_id), :disabled => isDisable) %>
				<%=h hidden_field_tag('user_group', group_id) %>
			</td>
			<td></td>
		</tr>
		<tr>
			<th align="left"><%= l(:label_recur) %></th>
			<td>
				<%= check_box_tag 'recur', true, recur %>	
				<span id="tr_recur_every">
					<b><%= l(:label_recur_every) %></b>
					<%=h text_field_tag("recur_every", recur_every, :size => "3", :maxlength => 10) %>&nbsp;<b><%= l(:label_day_plural) %></b>
				</span>
			</td>
		</tr>
	</table>
	</fieldset>
    
	<div id="accordion">
		<h2><%= l(:label_survey_questions) %></h2>
		<div id="questionsection">
			<% unless @edit_Question_Entries.blank? || ((@edit_Question_Entries.first).question_id).blank? %>
				<% @edit_Question_Entries.each_with_index do |question, qIndex| %>
					<%=h hidden_field_tag('deleteChoiceIds_' + qIndex.to_s, "") %>
					<fieldset id="QuestionID_<%=qIndex.to_s%>" class="surveyquestions">
					<table width="100%">
						<tr>
							<td class="indexNo"><b><%=(qIndex+1).to_s + "."%></b></td>
							<th width="15%" align="left"><%= l(:label_question_name) %></th>
							<td align="left">
								<%=h text_field_tag("questionName_" + (question.question_id).to_s + "_" + qIndex.to_s, question.question_name, :disabled => isDisable, :size => "40%", :maxlength => 255) %>
							</td>
							<% unless isDisable%>
								<td width="45%" align="right">
									<%=link_to (image_tag('delete.png') + l(:button_delete_question)), "javascript:deletequestion(" + qIndex.to_s + ",'" + (question.question_id).to_s + "');", :title => l(:button_delete) %>
							    </td>
						   <% end %>
						</tr>
						<tr>
							<td></td>
							<th align="left"><%= l(:label_question_type) %></th>
							<td>
								<%=h select_tag('question_type_' + qIndex.to_s,
								options_for_select( getQuestionType, :selected => question.question_type), :disabled => isDisable, 
								:onchange => "check_question_type('" + qIndex.to_s + "')") %>
							</td>
							<td></td>
						</tr>
						<% firstchoice = true %>
						<% @edit_Choice_Entries.each_with_index do |choice, cIndex| %>
							<% if (choice.question_id == question.question_id) %>
							<tr>
								<td></td>
								<% if firstchoice %>
									<% firstchoice = false %>
									<th align="left"><%= l(:label_question_choices) %></th>
									<td align="left">
										<%=h text_field_tag(("questionChoices_" + (question.question_id).to_s + "_" + qIndex.to_s + "_" + (choice.choice_id).to_s + "_" + cIndex.to_s), choice.name, :disabled => isDisable, :size => "40%", :maxlength => 255) %>
									</td>
								<% else %>
									<td></td>
									<td align="left">
										<%=h text_field_tag(("questionChoices_" + (question.question_id).to_s + "_" + qIndex.to_s + "_" + (choice.choice_id).to_s + "_" + cIndex.to_s), choice.name, :disabled => isDisable, :size => "40%", :maxlength => 255) %>
									<% unless isDisable%>
										<%=link_to image_tag('delete.png'), "javascript:deleterow(" + qIndex.to_s + "," +(question.question_id).to_s + "," + cIndex.to_s + "," + (choice.choice_id).to_s + ");", :title => l(:button_delete) %>
									<% end %>	
									</td>
								<% end %>
			                     <td align="right">
								 <b><%= l(:label_points) %></b>&nbsp;<%=h text_field_tag(("points_" + (question.question_id).to_s + "_" + qIndex.to_s + "_" + (choice.choice_id).to_s + "_" + cIndex.to_s), choice.points, :size => 5, :maxlength => 10) %>
								</td>
							</tr>
							<% end %>
						<% end %>
								
						<% unless isDisable%>
							<tr id="lastrow_<%=qIndex%>">
								<td></td>
								<td></td>
									<td align="left">
										<%= link_to l(:button_add), "#", { :onclick => "javascript:addrows(" + qIndex.to_s + "," + (question.question_id).to_s + ");", :class => 'icon icon-add' } %>
									</td>
								<td></td>
							</tr>
						<% end %>	
					</table>
					</fieldset>
				<% end %>
			<% end %>
			<% unless isDisable%>
				<div id="add_link" class="wk-contextual">
					<%= link_to l(:button_add_question), "#", { :onclick => "javascript:addquestion();", :class => 'icon icon-add' } %>
				</div>
		   <% end %>	
		</div>
	</div>

	<div>
		<%= submit_tag l(:button_save), :id => 'wksurvey_save' %>
<%= link_to l(:button_email_user), "javascript:showConfirmationDlg();", :class => 'icon icon-email-add'%>
	</div>
<% end %>

<div id="add_question_template" style="display:none">
	<%=h hidden_field_tag('deleteChoiceIds_QINDEX', '') %>
	<fieldset id="QuestionID_QINDEX" class="surveyquestions">
	<table width="100%">
		<tr>
			<td class="indexNo"><b>SINDEX.</b></td>
			<th width="15%" align="left"><%= l(:label_question_name) %></th>
			<td align="left">
				<%=h text_field_tag("questionName__QINDEX", "", :disabled => isDisable, :size => "40%", :maxlength => 255) %>
			</td>
			<% unless isDisable%>
				<td width="45%" align="right">
					<%=link_to (image_tag('delete.png') + l(:button_delete_question)), "javascript:deletequestion(QINDEX,'')", :title => l(:button_delete) %>
				</td>
		   <% end %>
		</tr>
		<tr>
			<td></td>
			<th align="left"><%= l(:label_question_type) %></th>
			<td>
				<%=h select_tag('question_type_QINDEX',
					options_for_select( getQuestionType,
					:selected => 'RB'), :disabled => isDisable, :onchange => "check_question_type('QINDEX')") %>
			</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<th align="left"><%= l(:label_question_choices) %></th>
			<td align="left">
				<%=h text_field_tag("questionChoices__QINDEX__0", "", :disabled => isDisable, :size => "40%", :maxlength => 255) %>
			</td>
			<td align="right">
			  <b><%= l(:label_points) %></b>&nbsp;<%=h text_field_tag("points__QINDEX__0", "", :size => 5, :maxlength => 10) %>
			</td>
		</tr>
		<% unless isDisable%>
			<tr id="lastrow_QINDEX">
				<td></td>
				<td></td>
				<td align="left">
					<%= link_to l(:button_add), "#", { :onclick => "javascript:addrows(QINDEX, '');", :class => 'icon icon-add' } %>	
				</td>
				<td></td>
			</tr>
		<% end %>
	</table>
	</fieldset>
</div>
</div>
<% userGroupName = group_id.blank? ? l(:all_users_for_select) : getUserGroup.invert[group_id] + " Group" %>
<div id="reminder-email-dlg" title="<%=l(:label_email_users) %>">
	<fieldset class="">
		<p> <label><%= l(:label_notes) %></label>
			<textarea name="email_notes" id="email_notes" value="" cols="25" rows="2"> </textarea>
		</p>
		<p>
			<%=h check_box_tag("includeUserGroup", 1, true) %>
			<label for="includeUserGroup"><%=h l(:label_include_user_group) +" "+ userGroupName %></label>
		</p>
		<p> <label><%= l(:label_aditional_emails) %></label>
			<textarea name="additional_emails" id="additional_emails" value="" cols="25" rows="2"> </textarea>
		</p>
	</fieldset>
	<div id="dialog-confirm" title="Empty the recycle bin?">
  		<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0px 10px 0px 10px;"></span>Do you want to continue?</p>
	</div>
</div>
