<%= javascript_include_tag 'survey', :plugin => "redmine_wktime" %>
<%= stylesheet_link_tag 'wk-time', :plugin => "redmine_wktime" %>

<% 	if @edit_Question_Entries.blank?
		survey_name = nil
		status = nil
		inActive = nil
		survey_id = nil
		responseSurveyID = nil
	else
		survey_id = @edit_Question_Entries.first.id
		survey_name = @edit_Question_Entries.first.survey_name
		status = @edit_Question_Entries.first.status
		inActive = @edit_Question_Entries.first.in_active
		responseSurveyID =  @edit_Question_Entries.first.responseSurveyID
	end 
%>
<% if @edit_Question_Entries.blank?%>
<h2><%= l(:label_new_survey) %></h2>
<% else %>
<h2><%= l(:label_edit_survey) %></h2>
<% end %>


<div>
<%= form_tag({:controller => 'wksurvey', :action => 'save_survey'}, :method => :post, :id => 'query_form') do %>
	<%=h hidden_field_tag('survey_id', survey_id) %>
	<%=h hidden_field_tag('responseSurveyID', responseSurveyID) %>
	<%=h hidden_field_tag('delete_question_ids', "") %>

	<fieldset>
	<table>
		<tr>
		<th align="left"><%= l(:label_survey_name) %></th>
		<td align="left" style="padding-left:40px;">
			<%=h text_field_tag("survey_name", survey_name, :size => 40) %>
		</td>
        <tr>
            <th align="left"><%= l(:label_status) %></th>
            <td align="left" style="padding-left:40px;">
                <%=h select_tag("survey_status", options_for_select(getSurveyStatusArr.drop(1), status)) %>
            </td>
        </tr>
	<% unless @edit_Question_Entries.blank? %>
        <tr>
            <th align="left"><%= l(:label_inactive) %></th>
            <td align="left" style="padding-left:40px;">
                <%=h check_box_tag("survey_inactive", true, inActive ) %>
            </td>
        </tr>
	<% end %>
	</table>
	</fieldset>
    
	<div id="accordion">
		<h2><%= l(:label_survey_questions) %></h2>
		<div id="questionsection">
		<% unless @edit_Question_Entries.blank? || ((@edit_Question_Entries.first).question_id).blank? %>
			<% @edit_Question_Entries.each_with_index do |question, qIndex| %>
			<%=h hidden_field_tag('deleteChoiceIds_' + qIndex.to_s, "") %>
			<fieldset id="QuestionID_<%=qIndex.to_s%>" class="surveyquestions">
				<table width="100%">
					<tr>
						<th width="10%" align="left"><%= l(:label_question_name) %></th>
						<td align="left" style="padding-left:40px;">
							<%=h text_field_tag("questionName_" + (question.question_id).to_s + "_" + qIndex.to_s, question.question_name, :size => 40) %>
						</td>
						<td width="60%" align="right">
							<%=link_to (image_tag('delete.png') + l(:button_delete_question)), "javascript:deletequestion(" + qIndex.to_s + ",'" + (question.question_id).to_s + "');", :title => l(:button_delete) %>
						</td>
					</tr>
					<% 
					firstchoice = true;
					@edit_Choice_Entries.each_with_index do |choice, cIndex| 
					if choice.question_id == question.question_id
					%>
						<tr>
							<% 
							if firstchoice
							firstchoice = false
							%>
								<th align="left"><%= l(:label_question_choices) %></th>
								<td align="left" style="padding-left:40px;">
									<%=h text_field_tag(("questionChoices_" + (question.question_id).to_s + "_" + qIndex.to_s + "_" + (choice.choice_id).to_s + "_" + cIndex.to_s), choice.name, :size => 40) %>
								</td>
							<% else %>
								<td></td>
								<td align="left" style="padding-left:40px;">
									<%=h text_field_tag(("questionChoices_" + (question.question_id).to_s + "_" + qIndex.to_s + "_" + (choice.choice_id).to_s + "_" + cIndex.to_s), choice.name, :size => 40) %>
									<%=link_to image_tag('delete.png'), "javascript:deleterow(" + qIndex.to_s + "," +(question.question_id).to_s + "," + cIndex.to_s + "," + (choice.choice_id).to_s + ");", :title => l(:button_delete) %>
								</td>
							<% end %>
						<td></td>
						</tr>
					<% end
					end %>
							
					<tr id="lastrow_<%=qIndex%>">
						<td></td>
						<td align="right" style="padding-left:40px;">
							<%= link_to l(:button_add), "#", { :onclick => "javascript:addrows(" + qIndex.to_s + "," + (question.question_id).to_s + ");", :class => 'icon icon-add' } %>
						</td>
						<td></td>
					</tr>
				</table>
			</fieldset>
			<% end %>
		<% end %>
			<div id="add_link" class="wk-contextual">
				<%= link_to l(:button_add_question), "#", { :onclick => "javascript:addquestion();", :class => 'icon icon-add' } %>
			</div>
		</div>
	</div>

	<div>
		<%= submit_tag l(:button_save), :id => 'wksurvey_save' %>
	</div>
<% end %>
<div id="add_question_template" style="display:none">
	<%=h hidden_field_tag('deleteChoiceIds_QINDEX', '') %>
	<fieldset id="QuestionID_QINDEX" class="surveyquestions">
	<table width="100%">
		<tr>
			<th width="10%" align="left"><%= l(:label_question_name) %></th>
			<td align="left" style="padding-left:40px;">
				<%=h text_field_tag("questionName__QINDEX", "", :size => 40) %>
			</td>
			<td width="60%" align="right">
				<%=link_to (image_tag('delete.png') + l(:button_delete_question)), "javascript:deletequestion(QINDEX,'')", :title => l(:button_delete) %>
			</td>
		</tr>
		<tr>
			<th align="left"><%= l(:label_question_choices) %></th>
			<td align="left" style="padding-left:40px;">
				<%=h text_field_tag("questionChoices__QINDEX__0", "", :size => 40) %>
			</td>
			<td></td>
		</tr>
		<tr id="lastrow_QINDEX">
			<td></td>
			<td align="right" style="padding-left:40px;">
				<%= link_to l(:button_add), "#", { :onclick => "javascript:addrows(QINDEX, '');", :class => 'icon icon-add' } %>
			</td>
			<td></td>
		</tr>
	</table>
	</fieldset>
</div>
</div>