<h2><%= l(:label_survey) %></h2>
<%= javascript_include_tag 'index', :plugin => "redmine_wktime" %>
<%= stylesheet_link_tag 'wk-time', :plugin => "redmine_wktime" %>

<% unless @survey_Entries.blank? %>
<div>
<%= form_tag({:controller => 'wksurvey', :action => 'update_selected_survey'}, :method => :post, :id => 'query_form') do %>
   <fieldset class="box tabular">
      <legend><%=l(:label_survey)%>:</legend>
      <% @survey_Entries.each do |entry| %>
		 <fieldset class="box tabular">
         <table id="newsurvey" class="odd-even">
            <tr>
               <th align="left"><%= l(:label_survey_name) %></th>
               <td align="left" style="padding-left:40px;"><%= entry.name %></td>
            </tr>
            <tr>
               <th align="left"><%= l(:label_survey_choices) %></th>
               <td></td>
            </tr>
            <% @survey_Choice_Entries.each do |choice_entry| %>
            <% if choice_entry.survey_id == entry.id
            %>
            <tr>
               <td></td>
               <td align="left" style="padding-left:40px;">
                 <%= radio_button_tag("survey_sel_choice"+ (entry.id).to_s, choice_entry.id, false) %>
                 <%= choice_entry.name %>
               </td>
            <tr>
            <% end %>
            <% end %>
         </table>
		 </fieldset>			
      <% end %>
   <div>
      <%= submit_tag l(:button_save), :id => 'wksurvey_save' %>
   </div>
   </fieldset>

<% end %>
</div>
<% end %>

<% unless @closed_surveyed_Entries.blank? %>
<div>
   <fieldset class="box tabular">
      <legend><%=l(:label_survey_result)%>:</legend>
      <% @closed_surveyed_Entries.each do |entry| %>
	  <fieldset class="box tabular">
         <table class="odd-even">
            <tr>
               <th align="left"><%= l(:label_survey_name) %></th>
               <td align="left" style="padding-left:40px;"><%= entry.name %></td>
            </tr>
            <tr>
               <th align="left"><%= l(:label_survey_choices) %></th>
               <td>
			   </td>
            </tr>
            <tr>
               <td></td>
               <td>
			    <%= render :partial => 'graph', :locals => { :entry => entry } %>
               </td>
            <tr>
         </table>
		 </fieldset>
      <% end %>
   </fieldset>
</div>											  
<% end %>
