<%= stylesheet_link_tag 'wk-time', :plugin => "redmine_wktime" %>
<%= javascript_include_tag 'survey', :plugin => "redmine_wktime" %>
<%
	url = url_for(controller: 'wksurvey', action: 'print_survey', survey_id: params[:survey_id], groupName: params[:groupName],
		surveyForID: params[:surveyForID], surveyForType: params[:surveyForType], response_id: params[:response_id])
%>
<script>
	var warn_survey_mandatory = "<%= l(:warn_survey_mandatory) %>";
	var warn_survey_submit = "<%= l(:warn_survey_submit) %>";
</script>
<div class ="contextual">
	<%= link_to l(:label_export_invoice), "javascript:void(window.open('#{url}', '_blank', 'location=yes,scrollbars=yes,status=yes'));",
		style: 'color:blue;text-decoration: underline;' %>
</div>
<%= title @survey.name %>
<div>
	<fieldset class="box tabular">
		<%= render :partial => 'wksurvey/survey', :local => {:params => params}%>
	</fieldset>
</div>
