<%= stylesheet_link_tag 'wk-time', :plugin => "redmine_wktime" %>

<%= title l(@isSurvey ? :label_survey : :label_survey_result) %>
<h3><%= l(:label_survey_name) %>:&nbsp;&nbsp; <%= @survey_details.name %></h3>

<% unless @closed_surveyed_Entries.blank? && @question_Entries.blank? %>
	<fieldset class="box tabular">
		<% if  @isSurvey %>
			<%= render :partial => "survey" %>
			<% content_for :sidebar do %>
				<%= render :partial => 'sidebar' %>
			<% end %>
		<% else %>
			<%= render :partial => "survey_result" %>
		<% end %>
	</fieldset>
<% end %>