<%= stylesheet_link_tag 'wk-time', :plugin => "redmine_wktime" %>
<%= javascript_include_tag 'survey', :plugin => "redmine_wktime" %>

<%= title l(:label_survey) %>
<h3><%= l(:label_survey_name) %>:&nbsp;&nbsp; <%= @survey.name %></h3>
<% if @response_status.present? %>
	<fieldset class="box tabular">
		<table width="40%">
			<tr>
				<th class="lbl-txt-align"><%= l(:label_response_status) %></th>
				<th class="lbl-txt-align"><%= l(:label_response_by) %></th>
				<th class="lbl-txt-align"><%= l(:label_response_date) %></th>
			</tr>
			<tr>
				<td><%= getResponseStatus.invert[@response_status.status] %></td>
				<td><%= @response_status.firstname %> <%= @response_status.lastname %></td>
				<td><%= @response_status.status_date.strftime("%Y-%m-%d") %></td>
			</tr>
		</table>
	</fieldset>
<% end %>
<% if @reviewer && @survey.status == "O" %>
	<fieldset class="box tabular">
		<% response_id = !params[:response_id].blank? ? params[:response_id] : 
			(!@response_status.blank? && @responseStatus == "O" ? @response_status.id : nil) %>
		<%= form_tag({:controller => 'wksurvey', :action => 'update_status'}, :method => :post) do %>
			<%=h hidden_field_tag("survey_response_id", response_id) %>
			<%=h hidden_field_tag("survey_id", @survey.id) %>
			<table>
				<tr>
					<th align="left"><%= l(:label_response_status) %></th>
					<th align="left" style="padding-left:10px;">
						<%= select_tag('response_status', options_for_select(getResponseStatus, :selected => @responseStatus)) %>
					</th>
					<th style="padding-left:10px;"><%= button_tag l(:button_submit) %></th>
				</tr>
			</table>
		<% end %>
	</fieldset>
<% end %>

<% unless @survey_result_Entries.blank? && @question_Entries.blank? %>
	<fieldset class="box tabular">
		<%= render :partial => "survey" %>
	</fieldset>
<% end %>