<%= title l(:label_survey) %>
<%= render partial: "wkattendance/render_hr_tabs" %>

<div class="autoscroll">
    <% if checkEditSurveyPermission %>
        <div class="contextual">
            <%= link_to l(:label_new_survey), url_for(:controller => "wksurvey", :action => "edit", :surveyForType => 'User', :surveyForID => User.current.id), :class => 'icon icon-add' %>
        </div>
    <% end %>
	<%= render :partial => 'survey_list' %>
    <span class="pagination"><%= pagination_links_full @entry_pages, @entry_count %></span>
</div>