<%= stylesheet_link_tag 'wk-time', plugin: "redmine_wktime" %>
<%= title controller.ItemLabel %>
<%= render partial: "wkattendance/render_hr_tabs" %>

<div class="autoscroll">
    <% if checkEditSurveyPermission %>
        <div class="contextual">
            <%= link_to sprite_icon('add', controller.newItemLabel), url_for(:controller => "wksurvey", :action => "edit", :surveyForType => 'User', :surveyForID => User.current.id), :class => 'icon icon-add' %>
        </div>
    <% end %>

    <% if @all_surveys.present? %>
        <%= render :partial => 'survey_list' %>
        <span class="pagination"><%= pagination_links_full @entry_pages, @entry_count %></span>
        <% other_formats_links do |f| %>
            <%= f.link_to_with_query_parameters 'CSV', {} %>
        <% end %>
    <% else %>
        <p class="nodata"><%= l(:label_no_data) %></p>
    <% end %>
</div>