<%= stylesheet_link_tag 'wk-time', :plugin => "redmine_wktime" %>
 <%= form_tag({:controller => 'wkproduct', :action => 'index'}, :method => :post, :id => 'query_form') do %>
		<%= hidden_field_tag "searchlist", controller_name %>
		<%=h hidden_field_tag('tab', controller_name) %>
		<%
			categoryId =session[controller_name].try(:[], :category_id)
			name =session[controller_name].try(:[], :name)
		%>
	  <fieldset>
		 <%=h hidden_field_tag('tab', "wkproduct") %>
		 <label ><%= l(:label_category) %>:</label>
		 <%=h select_tag("category_id", generic_options_for_select(WkProductCategory, nil, 'name', 'name', 'id', categoryId, true), :disabled => false) %>
		 <label for='name'><%= l(:field_name) %>:</label>
		 <%= text_field_tag 'name', name, :size => 30 %>
		 <%= submit_tag l(:button_apply), :class => "small", :name => nil %>
		 <%= link_to l(:button_clear), {:controller => controller_name, :action => 'index', :tab => controller_name}, :class => 'icon icon-reload' %>
	  </fieldset>
 <% end %>
 <div class="wk-contextual">
        <%= link_to l(:label_new_product), url_for(:controller => controller_name, :action => 'edit'), :class => 'icon icon-time-add' %>
 </div>
<div class="autoscroll">
<table class="list time-entries">
  <thead>
         <tr>
				<th class="lbl-txt-align">#</th>
				<%= sort_header_tag('product_name', :caption => l(:field_name), class: "lbl-txt-align") %>
				<%= sort_header_tag('category', :caption => l(:label_category), class: "lbl-txt-align") %>
				<%= sort_header_tag('uom', :caption => l(:label_uom), class: "lbl-txt-align") %>
				<th></th>
         </tr>
  </thead>
  <tbody>
     <% @productEntries.each do |entry| %>
          <tr>
			  <td class="lbl-txt-align"><%=h entry.id %></td>
			  <td class="lbl-txt-align"><%=h entry.name  %></td>
		      <td class="lbl-txt-align"><%=h entry.category.name %></td>
			  <td class="lbl-txt-align"><%=h entry.uom.short_desc unless entry.uom.blank? %></td>
			  <td align="center">
                 <%= link_to image_tag('edit.png'), {:controller => controller.controller_name, :action => 'edit', :product_id => entry.id}, :title => l(:button_edit) %> 
				 <% if controller.hasDeletePermission %>
				<%= link_to image_tag('delete.png'), {:controller => controller.controller_name, :action => 'destroy', :product_id => entry.id, :tab => controller.controller_name},  :data => {:confirm => l(:text_are_you_sure)}, :method => :delete, :title => l(:button_delete) %>
				<% end %>
			  </td>
		 </tr>
   	<% end %>
  </tbody>
</table>
</div>
<span class="pagination"><%= pagination_links_full @entry_pages, @entry_count %></span>

