<%= stylesheet_link_tag 'wk-time', :plugin => "redmine_wktime" %>
<h2><%= l(:label_category) %></h2>
<%= form_tag({:controller => "wkproduct", :action => 'updateCategory'}, :method => :post, :id => 'query_form') do %>
	<fieldset class="box tabular" >
	<legend><%= l(:label_details) %></legend>	
	<%=h hidden_field_tag('category_id', @categoryEntry.blank? ? nil : @categoryEntry.id) %>
	<table >
		<tr>
			<th align="left"><%= l(:field_name) %></th>
			<td align="left" style="padding-left:40px;"><%=h text_field_tag("name",@categoryEntry.blank? ? nil : @categoryEntry.name, :required => true,:size => 85) %> </td></tr>
		</tr> 
		<tr>				
			<th align="left"><%= l(:field_description) %></th>
			<td colspan=4 align="left" style="padding-left:40px;"><%=h text_area_tag("description",@categoryEntry.blank? ? '' : @categoryEntry.description, :maxlength => 255, :style => "width:600px; height:90px;") %> </td>
		</tr>
	</table>	
</fieldset>
	<%= submit_tag l(:button_save), :class => "small", :name => nil %>
<% end %>
<div class="autoscroll">
	<table class="list time-entries">
	  <thead>
			 <tr>
					<th class="lbl-txt-align">#</th>
					<th class="lbl-txt-align"><%= l(:field_name) %></th>
					<th class="lbl-txt-align"><%= l(:field_description) %></th>
					<th></th>
			 </tr>
	  </thead>
	  <tbody>
		 <% WkProductCategory.all.order(:name).each do |entry| %>
			  <tr>
				  <td class="lbl-txt-align"><%=h entry.id %></td>
				  <td class="lbl-txt-align"><%=h entry.name %></td>
				  <td class="lbl-txt-align"><%=h entry.description  %></td>
				  <td align="center">
					 <%= link_to image_tag('edit.png'), {:controller => controller.controller_name, :action => 'edit_category', :category_id => entry.id}, :title => l(:button_edit) %> 
					<%= link_to image_tag('delete.png'), {:controller => controller.controller_name, :action => 'destroyCategory', :category_id => entry.id, :tab => controller.controller_name},  :data => {:confirm => l(:text_are_you_sure)}, :method => :delete, :title => l(:button_delete) %>
				  </td>
			 </tr>
		<% end %>
	  </tbody>
	</table>
</div>