<%= stylesheet_link_tag 'wk-time', :plugin => "redmine_wktime" %>
<%= javascript_include_tag 'survey', :plugin => "redmine_wktime" %>
	<div id="time-rpt-dlg" style="overflow-x:auto;">
		<center><b><%= (l(:label_delivery_slip)).upcase %></b></center>
		<table cellspacing="0", align="center">
			<tr>
				<td style="text-align: right" colspan="4">
					<% attachment = WkLocation.getMainLogo() %>
					<% if attachment.present? %>
						<%= image_tag(download_location_attachment_path(attachment, attachment.filename), class: 'filecontent image') %>
					<% end %>
				</td>
			</tr>
			<tr style="background-color: #f2f2f2;" width="100%">
				<th style="text-align: left" width="30%"><%= l(:label_name_address_of,l(:label_supplier)) %></th>
				<th style="text-align: left" width="30%"><%= l(:label_name_address_of,l(:label_customer)) %></th>
				<th style="text-align: left" colspan="2"><%= l(:label_date) %></th>
			</tr>
			<tr>
				<td style="white-space:pre;" width="30%"><%= controller.getSupplierAddress(@shipment) %></td>
				<td style="white-space:pre;" width="30%"><%= controller.getCustomerAddress(@shipment) %></td>
				<td colspan="2"><%= @shipment.shipment_date.to_formatted_s(:long) %></td>
			</tr>
				
			<tr>
				<td colspan="4">
					<table width="100%" cellspacing="0">
						<tr style="background-color: #f2f2f2;" width="100%">
							<th style="text-align: left"><%= l(:label_item) %></th>
							<th style="text-align: right" width="10%"><%= l(:label_rate) %></th>
							<th style="text-align: right" width="10%"><%= l(:field_quantity) %></th>
							<th style="text-align: right" width="15%"><%= l(:field_amount) %></th>
						</tr>
						<% @deliveryItem.each do | entry | %>
							<% inventory_item = entry.inventory_item %>
							<tr>
								<td style="line-height: 20px;"><%= inventory_item.product_item.product.name + "-" + inventory_item.product_item.brand.name + "-" + inventory_item.product_item.product_model.name%></td>
								<td style="text-align: right;line-height: 20px;" width="10%"><%= entry.currency %> <%= entry.selling_price %></td>
								<td style="text-align: right;line-height: 20px;" width="10%"><%= entry.total_quantity %></td>
								<td style="text-align: right;line-height: 20px;" width="15%"><%= entry.currency %> <%= (entry.total_quantity * entry.selling_price).to_f.round(2) %></td>
							</tr>
						<% end %>
						<tr style="background-color: #f2f2f2;" width="100%">
							<td style="width:45%;"></td>
							<td style="text-align: right" width="10%"><b><%=  l(:label_grand_total)   %></b></td>					
							<td style="text-align: right" width="10%"><b><%= "%.2f" % @deliveryItem.sum(:total_quantity) %></b></td>
							<td style="text-align: right" width="15%" ><b><%= @deliveryItem[0].currency %> <%=h "%.2f" % @deliveryItem.sum("selling_price * total_quantity") %></b></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr style="height: 10px;"></tr>
			<!-- <tr>
				<th style="text-align: left"><%= l(:label_amount_in_words) %>:</th>
				<td><%= numberInWords(@deliveryItem.sum("selling_price * total_quantity")) + " " + l(:label_only) + "." %></td>
			</tr> -->
			<tr>
				<td><b><%= l(:label_amount_in_words) %>:</b>&emsp;<%= numberInWords(@deliveryItem.sum("selling_price * total_quantity")) + " " + l(:label_only) + "." %></td>
			</tr>
			<% notes = "" %>
			<% @deliveryItem.each{|item| notes += item.notes.present? ? (item.notes + "\n") : "" } %>
			<tr style="height: 10px;"></tr>
			<tr><th style="text-align: left"><%= l(:field_notes) %></th></tr>
			<tr><td style="white-space: pre-line;padding-left: 10px;"><%= notes %></td></tr>
			<tr style="height: 30px;"></tr>
			<tr><td><b><%= l(:label_place) %> :</b> </td></tr>
			<tr>
				<td><b><%=  l(:label_date) %> :</b> </td>
				<td style="text-align: right" colspan="3"><b><%= l(:label_authorized_signatory) %></b></td>
			</tr>
		</table>
	</div>