<%= javascript_include_tag 'index', :plugin => "redmine_wktime" %>
<%= stylesheet_link_tag 'wk-time', :plugin => "redmine_wktime" %>
<script type="text/javascript"> 
	prevTab = 'tab-<%= "wkreport" %>';
	wkattnReportUrl = '<%=url_for(:controller => "wkreport", :action => "index", :tab => "wkreport")%>'; 
	grpUrl="<%= "#{url_for(:controller => "wkreport", :action => 'getMembersbyGroup')}" %>";
	//getMembersbyGroup
</script>
<%= form_tag({:controller => controller_name, :action => 'index'}, :method => :get, :id => 'query_form') do %>
<%
	rpttype =session[:wkreport][:report_type]
	groupid =session[:wkreport][:group_id]
	userid =session[:wkreport][:user_id]
%>
<div style="clear:both"></div>
<table>
<tr>
<th><%= l(:label_report) + " " + l(:field_type) %> </th>
<td><%= select_tag 'report_type', options_for_report_select(rpttype),:onchange => "reportChanged(this, #{User.current.id});", :style=> "width:200px;" %></td>
</tr>
<% if User.current.admin? || isAccountUser %>
<tr>
<th><%=l(:label_group_plural)%> </th>
<td>
	<%=h select_tag('group_id',
	options_for_select( [["",0]] + (@groups.collect {|p| [p.name, p.id ]}),
	:selected => !groupid.nil? ? groupid.to_i: 0), :onchange => "var reportDD = document.getElementById('report_type');var id = reportDD.options[reportDD.selectedIndex].value;
	var needBlankOption = (id!='attendance_report' ? false : true) ; grpChanged(this, #{User.current.id}, needBlankOption);", :style=> "width:300px;") %>
</td>
<th><%=l(:label_member)%></th>
<td>
<%# show the blank value if more than one user is in the list %>
<%=h select_tag('user_id',
	options_for_select( [["All Users","0"]] + @members,
		:selected => userid.nil? ? (@user.nil? ? User.current.id : @user.id) : userid),
	 :style=> "width:200px;") %></td>
</tr>
<% end %>
</table>
<%= render :partial => 'wkreport/date_range' %>
<%= hidden_field_tag "searchlist", "wkreport" %>
<% end %>