<%
	@from = session[controller_name].try(:[], :from)
	@to = session[controller_name].try(:[], :to)
	groupId = session[controller_name].try(:[], :group_id)
	userId = session[controller_name].try(:[], :user_id)
	if userId.blank?			
		userId = validateERPPermission("B_CRM_PRVLG") ? User.current.id : 0
	end
	@leadList = getLeadList(@from, @to, groupId, userId)
%>
<%= stylesheet_link_tag 'application' , :media => "all" %>
<%= stylesheet_link_tag 'wk-time', :plugin => "redmine_wktime" %>
<div style="float:right">
	<table>
		<tr>
			<td>
				<% logo = Setting.plugin_redmine_wktime['wktime_header_logo'] %>					
				<% if !logo.blank? && (File.exist? (Redmine::Plugin.public_directory + "/redmine_wktime/images/" + logo)) %>						
					<%= image_tag("#{logo}", :plugin => "redmine_wktime") %>
				<% end %>
			</td>
		</tr>
	</table>
</div>
<div style="clear:both;"></div>
<div id="attn-rpt-dlg", style="overflow-x:auto;">
	<table style="width:100%; border-collapse: collapse;">
		 <caption style="text-align:center"><b><%= getMainLocation %><br><%= l(:report_lead_conversion) + " " + l(:label_report) %></b></br>
		 <%= @from.strftime("%d-%b-%Y") + " " + l(:label_date_to) + " " + @to.strftime("%d-%b-%Y")%>
		
		<thead bgcolor="#e6e6e6">
			<tr>
				<th align="left"><%= l(:label_lead)%></th>
				<th align="left"><%= l(:field_status) %></th>
				<th align="left"><%= l(:field_created_on)%></th>
				<th align="left"><%= l(:label_converted)%></th>
				<th align="center"><%= l(:label_sales_cycle)%><br><%= l(:label_days) %></th>
				<th align="left"><%= l(:field_assigned_to)%></th>
			</tr>
		</thead>
		<tbody>
			<% @leadList.each do |lead| %>
				<tr class="<%= cycle("odd", "even") %>">
						<td><%= lead.contact.name %></td>
						<td><%=h getLeadStatusHash[lead.status] %></td>
						<td><%= lead.created_at.localtime.strftime("%Y-%m-%d %H:%M:%S") %></td>
						<td><%= lead.status_update_on.localtime.strftime("%Y-%m-%d %H:%M:%S") if lead.status == 'C'%></td>
						<td align="center"><%= convertSecToDays(lead.status_update_on - lead.created_at) if lead.status == 'C' %></td>
						<td><%= lead.contact.assigned_user.name unless lead.contact.assigned_user.blank? %></td>
				</tr>
			<% end %>
			<% convRate = getConversionRate(@leadList, @from, @to)
			unless convRate.blank?  %>
			<tr bgcolor="#e6e6e6">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td align="right"><b><%= l(:label_conversion_rate)%>:</b></td>
				<td align="left"><b><%= convRate %>%</b></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>