<%
	@to = session[controller_name].try(:[], :to)
	@from = session[controller_name].try(:[], :from)
%>
<%= stylesheet_link_tag 'application' , :media => "all" %>
<%= stylesheet_link_tag 'wk-time', :plugin => "redmine_wktime" %>
<style type="text/css">		
		.tbl-report{
			width : 100%;
			table-layout: fixed; !important;
			word-wrap: break-word; !important;
			text-align: center; 
			margin-top:5px; margin-bottom:10px; padding-left: 25px; color:#333333;
			font-family:Verdana, sans-serif; font-size:12px; 
		}
 </style>
<div id="attn-rpt-dlg", style="overflow-x:auto;">
	<table style="width:100%; border-collapse: collapse;">
		 <caption style="text-align:center"><b><%= getMainLocation %><br><%= l(:report_trial_balance) %></b></br>
		 <%= l(:label_as_at) + " " + @to.to_formatted_s(:long) %>
		<thead bgcolor="#e6e6e6">
			<tr style="border-bottom: solid thin;border-top: solid thin;">
				<th align="left" width=65% style="padding-left: 25px;"></th>
				<th colspan="2" align="right" width=35%></th>
			</tr>
		</thead>
		<body>
			<% 
				@mainEnriesHash = Hash.new
				@subEntriesHash = Hash.new
				@creditDebitTotalHash = Hash.new
				@creditTotal = 0
				@debitTotal = 0 
				@ledgerArr = ['C', 'L', 'CL', 'SP', 'DI', 'DE', 'II', 'IE', 'SA', 'PA', 'FA', 'CA']
				@ledgerArr.each do |type|
					@mainEnriesHash[type] = getEachLedgerCDAmt(@to, type)
					@subEntriesHash[type] = getTBSubEntries(@to, type)
					@creditDebitTotalHash[type] = getCreditDebitTotal(@mainEnriesHash[type], @subEntriesHash[type])
				end
				@mainEnriesHash['PL'] = getSubEntries(@from, @to, 'PL')
			%>
		<tr style="width:100%;">
			<td><b><%= l(:label_particulars) %></b></td>
			<td><b><%= l(:label_debit) %></b></td>
			<td><b><%= l(:label_credit) %></b></td>
		</tr>
		<% @ledgerArr.each do |ledger|  %>
			<% @debitTotal += @creditDebitTotalHash[ledger]['debit'] unless @creditDebitTotalHash[ledger]['debit'].blank? %>
			<% @creditTotal += @creditDebitTotalHash[ledger]['credit'] unless @creditDebitTotalHash[ledger]['credit'].blank? %>
			<% unless (@creditDebitTotalHash[ledger]['debit'] == 0) && (@creditDebitTotalHash[ledger]['credit'] == 0) %>
				<tr style="width:100%;">
					<td align="left"><b><u><%= getSectionHeader(ledger)%></u></b></td>
					<td style="border-bottom: solid thin;"><b><%= "%.2f" % @creditDebitTotalHash[ledger]['debit']%></b></td>
					<td style="border-bottom: solid thin;"><b><%= "%.2f" % @creditDebitTotalHash[ledger]['credit']%></b></td>
				</tr>
				<% unless @subEntriesHash[ledger].blank?
					@subEntriesHash[ledger].each do |subledger, subEntry| %>
						<% unless subEntry.blank? || subEntry.nil? %>
							<tr style="width:100%;">
								<td align="left" style="padding-left: 25px;"><b><%= getSectionHeader(subledger) %></b></td>
								<td></td>
								<td></td>
							</tr>
							<%= render partial: "rpt_trial_bal_rows", locals: { entries: subEntry, padding:50  }%>
						<% end %>
					<% end %>
				<% end %>
				<%= render partial: "rpt_trial_bal_rows", locals: { entries: @mainEnriesHash[ledger], padding:25  }%>
			<% end %>
		<% end %>
		<% @creditTotal += @mainEnriesHash['PL']['Opening Balance'] unless @mainEnriesHash['PL']['Opening Balance'].blank? %>
		<tr style="width:100%;">
			<td align="left"><b><%= l(:report_profit_loss) %></b></td>
			<td style="border-bottom: solid thin;"><b><%=  %></b></td>
			<td style="border-bottom: solid thin;"><b><%= @mainEnriesHash['PL']['Opening Balance'] %></b></td>
		</tr>
		<tr style="width:100%;">
			<td align="left" style="padding-left: 25px;" style=""><b><%= l(:label_total) + " : "%></b></td>
			<td style="border-top: solid thin;border-bottom: solid thin;"><b><%= "%.2f" % @debitTotal %></b></td>
			<td style="border-top: solid thin;border-bottom: solid thin;"><b><%= "%.2f" % @creditTotal %></b></td>
		</tr>
		</body>
	</table>
</div>