<%
	userId = (session[controller_name].try(:[], :user_id).blank? || (session[controller_name].try(:[], :user_id)).to_i < 1) ? User.current.id : session[controller_name].try(:[], :user_id)
	from = session[controller_name].try(:[], :from)
	to = session[controller_name].try(:[], :to)
	minSalaryDate = WkSalary.where("salary_date between '#{from}' and '#{to}'").minimum(:salary_date)
	if minSalaryDate.blank?
		@wksalaryEntries = nil
	else
		getSalaryDetail(userId,minSalaryDate.to_date)
		@userYTDAmountHash = getYTDDetail(userId,minSalaryDate.to_date)
	end
%>
<style type="text/css">
	table { 
		table-layout: fixed; 
		word-wrap: break-word; text-align: center; 
		margin-top:5px; margin-bottom:10px; padding-left: 10px; color:#333333;
		font-family:Verdana, sans-serif; font-size:12px; 
	}		
	.txt-align {
		text-align: left; !important;
	}
</style>
<% unless @wksalaryEntries.blank? %>
 <% 
	componentHash = Hash.new()
	userName = @wksalaryEntries[0].firstname + ' ' + @wksalaryEntries[0].lastname if !@wksalaryEntries[0].blank?
	@wksalaryEntries.each do |entry|
		componentHash[entry.component_type] = componentHash[entry.component_type].blank? ? [[entry.component_name,entry.amount,entry.currency,@userYTDAmountHash[entry.sc_component_id]]] :  componentHash[entry.component_type] << [entry.component_name,entry.amount,entry.currency,@userYTDAmountHash[entry.sc_component_id]]
	end 
 %>
<div id="time-rpt-dlg" style="overflow-x:auto;">
	<center><b>Payslip</b></center>
		<div>
		<div style="float:left">
			<table>
				<tr>
					<td class="txt-align" width="100px"><b><%= getMainLocation %></b></td>
				</tr>
				<tr>
					<td class="txt-align" width="200px"><%= getAddress %>
				</tr>		
			</table>
		</div>
		<div style="float:right">
			<table>
				<tr>
					<td>
						<% logo = Setting.plugin_redmine_wktime['wktime_header_logo'] %>					
						<% if !logo.blank? && (File.exist? (Redmine::Plugin.public_directory + "/redmine_wktime/images/" + logo)) %>						
							<%= image_tag("#{logo}", :plugin => "redmine_wktime") %>
						<% end %>
					</td>
				</tr>
			</table>
		</div>
		</div>
		<div style="clear:both;"></div>
		<table border="1" style="border-collapse:collapse;" cellspacing="0", frame="box"  >
			<tr>
			
			<td bgcolor="#e6e6e6" class="txt-align" width="52px"><b><%= l(:label_salarydate) %></b></td>
			<td class="txt-align" width="50px"> <%= @wksalaryEntries[0].salary_date %></td>
			<td bgcolor="#e6e6e6" class="txt-align" width="150px"><b><%= l(:label_emp_name) %></b></td>
			<td class="txt-align" width="360px">  <%= userName %></td>
			<td bgcolor="#e6e6e6" class="txt-align" width="100px"><b><%= l(:label_employee_id) %></b></td>
			<td class="txt-align" width="180px"> <%=h @wksalaryEntries[0].id1 %></td>
			</tr>
			<tr>
				<td bgcolor="#e6e6e6" class="txt-align" width="100px"><b>Join Date</b></td>
				<td class="txt-align" width="100px"><%=h @wksalaryEntries[0].join_date %></td>
			</tr>		
		</table>	
	
	<table border="1" style="border-collapse:collapse;" cellspacing="0", frame="box">
	<thead bgcolor="#e6e6e6">
		<tr  class="time-entry <%= cycle("odd", "even") %>">
			<th colspan="3"  width="500px" ><%= l(:label_earning)%></th>
			<th colspan="3"  width="500px"><%= l(:label_deduction)%></th>
		</tr>
		<tr>
			<td> </td>
			<td><%= l(:label_monthly) %></td>
			<td><%= l(:label_ytd) %></td>
			<td> </td>
			<td><%= l(:label_monthly) %></td>
			<td><%= l(:label_ytd) %></td>
		</tr>	
	</thead>
	<tbody>
		<% 
			componentHash['e'] = componentHash['b'].concat(componentHash['a'])
			componentlength=componentHash['e'].length>componentHash['d'].length ? componentHash['e'].length : componentHash['d'].length
			totalEarnings = 0
			totalDeductions = 0
			totalYTDEarnings = 0
			totalYTDDeductions = 0
		%>
					
					
		<%for i in 0..componentlength-1 %>
			<tr>
				<% if componentHash['e'].length > i%>
					<td class="txt-align"><b><%=h componentHash['e'][i][0]  %></b></td>
					<td align="right"><%=h componentHash['e'][i][2]%> <%=h "%.2f" % componentHash['e'][i][1] %></td>
					<td align="right"><%=h componentHash['e'][i][2]%> <%=h "%.2f" % componentHash['e'][i][3] %></td>
					<% 
						totalEarnings = totalEarnings + componentHash['e'][i][1] 
						totalYTDEarnings = totalYTDEarnings + componentHash['e'][i][3]
						earnCurrency = componentHash['e'][i][2]
					%>
				<%end%>	
				
				<% if componentHash['d'].length > i%>
					<td class="txt-align"><b><%=h componentHash['d'][i][0]  %></b></td>
					<td align="right"><%=h componentHash['d'][i][2]%> <%=h "%.2f" % componentHash['d'][i][1] %></td>
					<td align="right"><%=h componentHash['d'][i][2]%> <%=h "%.2f" % componentHash['d'][i][3] %></td>
					<% 
						totalDeductions = totalDeductions + componentHash['d'][i][1]
						totalYTDDeductions = totalYTDDeductions + componentHash['d'][i][3]
						deductionCurrency = componentHash['d'][i][2]
					%>
				<%else%>
					<td></td>
					<td></td>
					<td></td>
				<%end%>	
			</tr>
		<%end%>
		<tr> 
			<td class="txt-align"><b><%=l(:label_total_earning)%></b></td>
			<td align="right"><%=h earnCurrency %> <%=h "%.2f" % totalEarnings %></td>
			<td align="right"><%=h earnCurrency %> <%=h "%.2f" % totalYTDEarnings %></td>
			<td class="txt-align"><b><%=l(:label_total_deduction)%></b></td>
			<td align="right"><%=h deductionCurrency %> <%=h "%.2f" % totalDeductions %></td>
			<td align="right"><%=h deductionCurrency %> <%=h "%.2f" % totalYTDDeductions %></td>
		</tr>
		
		<tr> 
			<td class="txt-align"><b><%=l(:label_net_earning)%></b></td>
			<td align="right"><%=h earnCurrency %><%=h "%.2f" % (totalEarnings - totalDeductions) %></td>
			<td align="right"><%=h earnCurrency %><%=h "%.2f" % (totalYTDEarnings - totalYTDDeductions) %></td>
		</tr>	
	</tbody>		
	</table>
	<label><%= l(:label_ytd_description, :start => @financialPeriod[0].strftime("%B %d, %Y"), :end =>@financialPeriod[1].strftime("%B %d, %Y") )%></label>
<% else %>
	<label><b><%= l(:label_no_data) %></b></label>
<% end %>


