<%
	@to = session[controller_name].try(:[], :to)
	@from = session[controller_name].try(:[], :from)
	groupId = session[controller_name].try(:[], :group_id)
	userId = session[controller_name].try(:[], :user_id)
	if userId.blank?			
		userId = validateERPPermission("B_CRM_PRVLG") ? User.current.id : 0
	end
	@activityList = getActivityList(@from,@to, groupId, userId)
%>
<%= stylesheet_link_tag 'application' , :media => "all" %>
<%= stylesheet_link_tag 'wk-time', :plugin => "redmine_wktime" %>
<div style="float:right">
	<table>
		<tr>
			<td>
				<% logo = Setting.plugin_redmine_wktime['wktime_header_logo'] %>					
				<% if !logo.blank? && (File.exist? (Redmine::Plugin.public_directory + "/redmine_wktime/images/" + logo)) %>						
					<%= image_tag("#{logo}", :plugin => "redmine_wktime") %>
				<% end %>
			</td>
		</tr>
	</table>
</div>
<div style="clear:both;"></div>
<div id="attn-rpt-dlg", style="overflow-x:auto;">
	<table style="width:100%; border-collapse: collapse;">
		 <caption style="text-align:center"><b><%= getMainLocation %><br><%= l(:report_sales_activity) + " " + l(:label_report) %></b></br>
		 <%= @from.strftime("%d-%b-%Y") + " " + l(:label_date_to) + " " + @to.strftime("%d-%b-%Y")%>
		
		<thead bgcolor="#e6e6e6">
			<tr>
				<th class="lbl-txt-align"><%= l(:label_activity_type) %></th>
				<th class="lbl-txt-align"><%= l(:field_subject) %></th>
				<th align="left"><%= l(:field_status) %></th>
				<th class="lbl-txt-align"><%= l(:label_related_to) %></th>
				<th class="lbl-txt-align"><%= l(:field_name) %></th>
				<th class="lbl-txt-align"><%= l(:label_start_date_time) %></th>
				<th class="lbl-txt-align"><%= l(:label_completed_date_time) %></th>
				<th class="lbl-txt-align"><%= l(:field_assigned_to) %></th>
				<th align="center"><%= l(:label_duration) %><br><%= l(:label_days) %></th>
			</tr>
		</thead>
		<tbody>
			<% 
				totalTime = 0 
				count = 0
			%>
			<% @activityList.each do |activity| %>
				<% 
				isSupplier = false
				if activity.parent_type == 'WkAccount'
					isSupplier = true unless activity.parent.account_type == 'A'
				elsif activity.parent_type == 'WkCrmContact'
					isSupplier = true unless activity.parent.contact_type == 'C'
				end
				%>
				<% unless isSupplier %>
					<% 
						count = count + 1
						completionTime = (activity.status == 'C' || activity.status == 'H') ? convertSecToDays(activity.status_update_on - activity.start_date) : nil 
						totalTime = totalTime + completionTime unless completionTime.blank?
					%>
					<tr class="<%= cycle("odd", "even") %>">
							<td><%= acttypeHash[activity.activity_type] %></td>
							<td><%= activity.name %></td>
							<td class="lbl-txt-align"><%=h (activity.activity_type == 'M' || activity.activity_type == 'C' ? meetCallStatusHash[activity.status] : taskStatusHash[activity.status])  %></td>
							<td><%= relatedHash[activity.parent_type] %></td>
							<td><%= activity.parent.name if !activity.parent.blank? %></td>
							<td><%= activity.start_date.localtime.strftime("%Y-%m-%d %H:%M:%S") %></td>
							<td><%= activity.status_update_on.localtime.strftime("%Y-%m-%d %H:%M:%S") if activity.status == 'C' || activity.status == 'H'%></td>
							<td><%= activity.assigned_user.name unless activity.assigned_user.blank? %></td>
							<td align="center"><%= completionTime %></td>
					</tr>
				<% end %>
			<% end %>
			<% if count>0 %>
				<tr bgcolor="#e6e6e6">
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td align="right"><b><%= l(:label_average) + " " + l(:label_duration)%>:</b></td>
					<td align="left"><b><%= (totalTime/count).round(2).to_s + " " + l(:label_days) %></b></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>