<%
	@to = session[controller_name].try(:[], :to)
	@from = session[controller_name].try(:[], :from)
	#@profitLossEntries = getTransDetails(@from,@to)
%>
<%= stylesheet_link_tag 'application' , :media => "all" %>
<%= stylesheet_link_tag 'wk-time', :plugin => "redmine_wktime" %>
<style type="text/css">		
		.tbl-report{
			width : 100%;
			table-layout: fixed; !important;
			word-wrap: break-word; !important;
			text-align: center; 
			margin-top:5px; margin-bottom:10px; padding-left: 25px; color:#333333;
			font-family:Verdana, sans-serif; font-size:12px; 
		}
 </style>
<div id="attn-rpt-dlg", style="overflow-x:auto;">
	<table style="width:100%; border-collapse: collapse;">
		 <caption style="text-align:center"><b><%= getMainLocation %><br><%= l(:report_balance_sheet) %></b></br>
		 <%= l(:label_as_at) + " " + @to.to_formatted_s(:long) %>
		<thead bgcolor="#e6e6e6">
			<tr style="border-bottom: solid thin;border-top: solid thin;">
				<th align="left" width=65% style="padding-left: 25px;"></th>
				<th colspan="2" align="right" width=35%></th>
			</tr>
		</thead>
		<body>
			<% 
				@mainEnriesHash = Hash.new
				@subEntriesHash = Hash.new
				@mainTotalHash = Hash.new
				total = 0
				@ledgerArr = ['C', 'L', 'CL', 'SP', 'PL', 'FA', 'CA']
				@ledgerArr.each do |type|
					@mainEnriesHash[type] = getEachLedgerBSAmt(@to, [type])
					@subEntriesHash[type] = getSubEntries(@from, @to, type)
					if type == 'PL'
						defLedgerEnries = getEachLedgerBSAmt(@to, ['SY'])
						unless defLedgerEnries.blank?
							tempEnries = Hash.new
							tempEnries[l(:label_less_transferred)] = defLedgerEnries.values[0]
							@subEntriesHash[type] = @subEntriesHash[type].merge(tempEnries)
						end
						@mainEnriesHash[type] = @subEntriesHash[type]
						@subEntriesHash[type] = nil
					end
					@mainTotalHash[type] = @mainEnriesHash[type].blank? ? 0 : @mainEnriesHash[type].values.inject(:+)
					unless @subEntriesHash[type].blank?
						@mainTotalHash[type] = getEntriesTotal(@subEntriesHash[type]) + @mainTotalHash[type]
					end
				end
			%>
			<%= render partial: "rpt_sections", locals: { from: 0, to:4, title: l(:label_of_funds,l(:label_copy_source)) + " : " }%>
			
			<%= render partial: "rpt_sections", locals: { from: 5, to:6, title: l(:label_of_funds,l(:label_application)) + " : " }%>
			
		</body>
	</table>
</div>