<%= title l(:label_activity_plural) %>
<%= javascript_include_tag 'index', :plugin => "redmine_wktime" %>
<%= stylesheet_link_tag 'wk-time', :plugin => "redmine_wktime" %>
<script type="text/javascript"> 
    crmleadsUrl = '<%=url_for(:controller => "wklead", :action => "index", :tab => "wklead")%>';
	blgaccUrl = '<%=url_for(:controller => "wkcrmaccount", :action => "index", :tab => "wkcrmaccount")%>';
    crmopportunityUrl = '<%=url_for(:controller => "wkopportunity", :action => "index", :tab => "wkopportunity")%>';
	crmactivityUrl = '<%=url_for(:controller => "wkcrmactivity", :action => "index", :tab => "wkcrmactivity")%>';
	crmcontactUrl = '<%=url_for(:controller => "wkcrmcontact", :action => "index", :tab => "wkcrmcontact")%>';	
    prevTab = 'tab-<%= "#{controller_name}" %>';   
</script>
<%= render_tabs time_expense_tabs %>

<%= hidden_field_tag 'back_url', url_for(:controller => params[:controller], :action => params[:action]) %>

<% actType = ["", ""] %> 
<% actType << acttypeHash.to_a %> 
<%  actTypehash = Hash[*actType.flatten].invert %>

<% relatedArr = ["", ""] %> 
<% relatedArr << relatedHash.to_a %> 
<%  relatedArrhash = Hash[*relatedArr.flatten].invert %>

<div class="wk-contextual">
	<%= link_to l(:label_new_item, l(:field_activity)), url_for(:controller => controller_name, :action => 'edit'), :class => 'icon icon-add' %>
</div>
<fieldset>
<%= form_tag({:controller => "wkcrmactivity", :action => 'index', :tab => "wkcrmactivity"}, :method => :get, :id => 'query_form') do %>
	<%= hidden_field_tag "searchlist", controller_name %>
	<%=h hidden_field_tag('tab', "wkcrmactivity") %>
	<%	actType =session[controller_name].try(:[], :activity_type)
		actRelated = session[controller_name].try(:[], :related_to)
		show_on_map = session[controller_name].try(:[], :show_on_map) %>
		<table>
			<th align="left" ><%= l(:label_activity_type) %>:</th>
			<td  align="left"><%=h select_tag("activity_type", options_for_select(actTypehash, :selected => !actType.blank? ? actType : ""), :style => "width:190px;") %></td>
			<th align="left" style="padding-left:10px;"><%= l(:label_relates_to) %>:</th>
			<td align="left"><%=h select_tag("related_to", options_for_select(relatedArrhash, :selected => (!actRelated.blank? ? actRelated : "")), :style => "width:200px;") %></td>
		</table>
	<%= render :partial => 'wkcrmactivity/date_range' %>
  <%= link_to_function l(:button_apply), '$("#query_form").submit(); return false;', :class => 'icon icon-checked' %>
  <%= link_to l(:button_clear), {tab: controller_name, clear: true}, class: 'icon icon-reload' %> 
  <% if isChecked('crm_save_geo_location') %>
    <label style="padding-left:5px">
      <%= check_box_tag('show_on_map', true, show_on_map || false, onclick: '$("#query_form").submit(); return false;') %>
      <%= l(:label_show_on_map) %>
    </label>
  <% end %>
<% end %>
</fieldset>

<% if @activity.present? %>
	<%= render partial: "activity_list", locals: { activities:  @activity } %>
	<span class="pagination"><%= pagination_links_full @entry_pages, @entry_count %></span>
	<% other_formats_links do |f| %>
		<%= f.link_to_with_query_parameters 'CSV', {} %>
	<% end %>
<% else %>
	<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>