<fieldset class="box tabular">
	<legend><%=l(:label_content_information, l(:label_more))%></legend>
	<table>
		<tr>
			 <th align="left"><%= l(:field_status) %></th>
			 <td align="left" style="padding-left:75px;"><%=h select_tag('status', options_for_select(getLeadStatusArr, :selected => @lead.blank? ? "" : @lead.status),:required => true, :disabled => true) %></td>
		</tr>
		<%  selectedLsId = @lead.blank? ? nil : @lead.lead_source_id %>
		<tr>
			 <th align="left"><%= l(:label_lead_source) %></th>
			 <td align="left" style="padding-left:75px;"><%=h select_tag('lead_source_id', options_for_select(options_for_enum_select('LS', selectedLsId, true)),:required => true, :disabled => true) %></td>
		</tr>
		<tr>
			 <th align="left"><%= l(:label_opportunity_amount) %></th>
			 <td align="left" style="padding-left:75px;"><%=h @lead.blank?  ? "" : @lead.opportunity_amount %> </td>
		</tr>
		<tr>
			 <th align="left"><%= l(:label_referred_by) %></th>
			 <td align="left" style="padding-left:75px;"><%=h @lead.blank?  ? "" : @lead.referred_by %> </td>
		</tr>
		<tr>
			 <th align="left"><%= l(:field_assigned_to) %></th>
			 <td align="left" style="padding-left:75px;"><%=h select_tag('assigned_user_id', options_for_select(groupOfUsers, :selected => @lead.blank? || @lead.account.blank? ? "" : @lead.account.assigned_user_id),:required => true, :disabled => true) %></td>
		</tr>
	</table>
</fieldset>