<%= form_tag({:controller => 'wklead', :action => 'update'}, :method => :post, :id => 'query_form') do %>
	<h2><b><%=@lead.blank? ? l(:label_new_item, l(:label_lead)) : l(:label_edit_item, l(:label_lead)) %></b></h2>
	
	<div id="account_form">
		<% addrObj = @lead.blank? ? nil : @lead.contact.address %>
		<%=h hidden_field_tag('lead_id', @lead.blank? ? "" :@lead.id) %>
		<%=h hidden_field_tag('account_id', @lead.blank? || @lead.account.blank? ? "" :@lead.account.id) %>
		<%=h hidden_field_tag('address_id', addrObj.blank? ? "" :addrObj.id) %>
		<div class="splitcontentleft">
			<%= render partial: "lead_info", locals: {  contactObj:  @lead.blank? ? nil : @lead.contact, leadObj: @lead, accountObj: @lead.blank? ? nil : @lead.account, addressObj: addrObj, isAccount: false, isContact: false }%>
			<%= render partial: "other_info"%>
		</div>
		<div class="splitcontentright">
			<%= render partial: "contact_info", locals: { address: addrObj, :disable => false }%>
		</div>
	<div style="clear:left;"></div>
	<div>
		
		<%= submit_tag l(:button_save) ,:id => 'wklead_save'%>
		<%= call_hook(:view_additional_lead_info, { leadObj: @lead }) %>
		<% unless @lead.blank? %>		
			<%= submit_tag l(:button_convert_lead), :id => 'wklead_save_convert', :name => 'wklead_save_convert' , :disabled => @lead.blank?, :data => {:confirm => l(:text_are_you_sure_want_to, l(:button_convert_lead))} %>
			<div style="clear:both;"></div>
			</br>
			<div>
				<%= render partial: "wkcrm/accordion_section", locals: { currentObj: @lead }%>
			</div>
		<% end %>
	</div>
<% end %>