<%= form_tag({:controller => 'wklead', :action => 'update'}, :method => :post, :id => 'query_form') do %>
	<h2><b><%=@lead.blank? ? l(:label_new_item, l(:label_lead)) : l(:label_edit_item, l(:label_lead)) %></b></h2>
	
	<div id="account_form">
		<div class="splitcontentleft">
			<fieldset class="box tabular">
				<legend><%=l(:label_content_information, l(:label_lead))%></legend>
				<%=h hidden_field_tag('lead_id', @lead.blank? ? "" :@lead.id) %>
				<%=h hidden_field_tag('address_id', @lead.blank? ? "" :@lead.address_id) %>
				<table >
					<tr>
						<th align="left"><%= l(:field_firstname) %></th>
						<td align="left" style="padding-left:40px;"><%=h text_field_tag("first_name",@lead.blank? ? "" : @lead.contact.first_name,:size => 20) %> </td>
					</tr>
					<tr>
						<th align="left"><%= l(:field_lastname) %></th>
						<td align="left" style="padding-left:40px;"><%=h text_field_tag("last_name",@lead.blank? ? "" : @lead.contact.last_name,:size => 20) %> </td>
					</tr>
					<!--<tr>
						<th align="left"><%= l(:label_account_billing) %></th>
						<td align="left" style="padding-left:40px;"><%= check_box_tag("account_billing", 1, (@lead.blank? ? false : @lead.account_billing)) %></td>
					</tr>-->
					<tr>
					    <th align="left"><%= l(:label_work_phone) %></th>
					    <td align="left" style="padding-left:40px;"><%=h 		text_field_tag("work_phone",@lead.blank? || @lead.address.blank?  ? "" : @lead.address.work_phone,:size => 20) %> </td>			   
					</tr>
					<tr>
					    <th align="left"><%= l(:label_home_phone) %></th>
					    <td align="left" style="padding-left:40px;"><%=h text_field_tag("home_phone",@lead.blank? || @lead.address.blank?  ? "" : @lead.address.home_phone,:size => 20) %> </td>			   
					</tr>
					<tr>
					    <th align="left"><%= l(:label_mobile) %></th>
					    <td align="left" style="padding-left:40px;"><%=h text_field_tag("mobile",@lead.blank? || @lead.address.blank?  ? "" : @lead.address.mobile,:size => 20) %> </td>			   
					</tr>
					<tr>
					    <th align="left"><%= l(:label_email) %></th>
					    <td align="left" style="padding-left:40px;"><%=h text_field_tag("email",@lead.blank? || @lead.address.blank?  ? "" : @lead.address.email,:size => 20) %> </td>			   
					</tr> 
					<tr>
						<th align="left"><%= l(:label_account_name) %></th>
						<td align="left" style="padding-left:40px;"><%=h text_field_tag("account_name",@accountEntry.blank? ? "" : @accountEntry.name,:size => 20) %> </td>
					</tr>
					<tr>
						<th align="left"><%= l(:label_department) %></th>
						<td align="left" style="padding-left:40px;"><%=h text_field_tag("department",@lead.blank? || @lead.address.blank? ? "" : @lead.address.department,:size => 20) %> </td>
					</tr>
					<tr>
					    <th align="left"><%= l(:label_fax) %></th>
					    <td align="left" style="padding-left:40px;"><%=h text_field_tag("fax",@lead.blank? || @lead.address.blank?  ? "" : @lead.address.fax,:size => 20) %> </td>			   
					</tr>
					<tr>
						<th align="left"><%= l(:label_website) %></th>
						<td align="left" style="padding-left:40px;"><%=h text_field_tag("website",@lead.blank? || @lead.address.blank? ? "" : @lead.address.website,:size => 20) %> </td>
					</tr>
					<tr>
						<th align="left"><%= l(:field_description) %></th>
						<td align="left" style="padding-left:40px;"><%=h text_area_tag("description",@lead.blank? || @lead.account.blank? ? "" : @lead.account.description,:size => 20) %> </td>
					</tr>
				</table>
			</fieldset>
		</div>
		<div class="splitcontentright">
			<fieldset class="box tabular">
				<legend><%=l(:label_content_information, l(:label_more))%></legend>
				<table>
					<tr>
				         <th align="left"><%= l(:field_status) %></th>
					     <td align="left" style="padding-left:75px;"><%=h select_tag('status', options_for_select(getLeadStatusArr, :selected => @lead.blank? ? "" : @lead.status),:required => true) %></td>
					</tr>
					<tr>
				         <th align="left"><%= l(:label_lead_source) %></th>
					     <td align="left" style="padding-left:75px;"><%=h select_tag('lead_source_id', options_for_select(getLeadStatusArr, :selected => @lead.blank? ? "" : @lead.status),:required => true) %></td>
					</tr>
					<tr>
				         <th align="left"><%= l(:label_opportunity_amount) %></th>
					     <td align="left" style="padding-left:75px;"><%=h text_field_tag("opportunity_amount",@lead.blank?  ? "" : @lead.opportunity_amount,:size =>40) %> </td>
					</tr>
					<tr>
				         <th align="left"><%= l(:label_referred_by) %></th>
					     <td align="left" style="padding-left:75px;"><%=h text_field_tag("referred_by",@lead.blank?  ? "" : @lead.referred_by,:size =>40) %> </td>
					</tr>
					<tr>
				         <th align="left"><%= l(:field_assigned_to) %></th>
					     <td align="left" style="padding-left:75px;"><%=h select_tag('assigned_user_id', options_for_select(getUserListHash(true), :selected => @lead.blank? ? "" : @lead.assigned_user_id),:required => true) %></td>
					</tr>
				</table>
			</fieldset>
		</div>
		<div class="splitcontentright">
			<fieldset class="box tabular">
				<legend><%=l(:label_content_information, l(:label_address))%></legend>
				<table>
					<tr>
				         <th align="left"><%= l(:label_account_address1) %></th>
					     <td align="left" style="padding-left:75px;"><%=h text_field_tag("address1",@lead.blank? || @lead.address.blank?  ? "" : @lead.address.address1,:size =>40) %> </td>
					</tr>
					<tr>
				         <th align="left"><%= l(:label_account_address2) %></th>
					     <td align="left" style="padding-left:75px;"><%=h text_field_tag("address2",@lead.blank? || @lead.address.blank?  ? "" : @lead.address.address2,:size =>40) %> </td>
					</tr>
					<tr>
				         <th align="left"><%= l(:label_city) %></th>
					     <td align="left" style="padding-left:75px;"><%=h text_field_tag("city",@lead.blank? || @lead.address.blank?  ? "" : @lead.address.city,:size =>30) %> </td>
				    </tr>
				    <tr>
				         <th align="left"><%= l(:label_state) %></th>
					     <td align="left" style="padding-left:75px;"><%=h text_field_tag("state",@lead.blank? || @lead.address.blank?  ? "" : @lead.address.state,:size =>30) %> </td>
					</tr>
					<tr>
				         <th align="left"><%= l(:label_country) %></th>
					     <td align="left" style="padding-left:75px;"><%=h text_field_tag("country",@lead.blank? || @lead.address.blank?  ? "" : @lead.address.country,:size =>30) %> </td>
					</tr>
					<tr>
				         <th align="left"><%= l(:label_pin) %></th>
					     <td align="left" style="padding-left:75px;"><%=h text_field_tag("pin",@lead.blank? || @lead.address.blank?  ? "" : @lead.address.pin,:size =>30) %> </td>
					</tr>
				</table>
			</fieldset>
		</div>
	</div>
	<div style="clear:left;"></div>
	<div>
		<%= submit_tag l(:button_save) ,:id => 'wkaccount_save'%>
	</div>
<% end %>