<%= form_tag({:controller => 'wklead', :action => 'update'}, :method => :post, :id => 'query_form') do %>
	<h2><b><%=@lead.blank? ? l(:label_new_item, l(:label_lead)) : l(:label_edit_item, l(:label_lead)) %></b></h2>
	
	<div id="account_form">
		<% addrObj = @lead.blank? ? nil : @lead.address %>
		<%=h hidden_field_tag('lead_id', @lead.blank? ? "" :@lead.id) %>
		<%=h hidden_field_tag('account_id', @lead.blank? || @lead.account.blank? ? "" :@lead.account.id) %>
		<%=h hidden_field_tag('address_id', @lead.blank? ? "" :@lead.address_id) %>
		<div class="splitcontentleft">
			<%= render partial: "lead_info", locals: {  contactObj:  @lead.blank? ? nil : @lead.contacts, leadObj: @lead, accountObj: @lead.blank? ? nil : @lead.account, addressObj: addrObj, isAccount: false, isContact: false }%>
			<%= render partial: "other_info"%>
		</div>
		<div class="splitcontentright">
			<%= render partial: "contact_info", locals: { address: addrObj }%>
		</div>
	<div style="clear:left;"></div>
	<div>
		<%= submit_tag l(:button_save) ,:id => 'wklead_save'%>
	</div>
<% end %>