	<h2><b><%=l(:label_lead)%></b></h2>
	<div>
		<td>
		<div class="splitcontentright">
			<td><%= link_to "#{image_tag('edit.png')}#{l(:button_edit)}".html_safe, {:controller => controller.controller_name, :action => 'edit', :lead_id => @lead.id, :tab => controller.controller_name},   :title => l(:button_edit) %></td>
			<td><%= link_to "#{image_tag('edit.png')}#{l(:button_convert_lead)}".html_safe, url_for(:controller => controller.controller_name, :action => 'convert', :lead_id => @lead.id, :tab => controller.controller_name), :data => {:confirm => l(:text_are_you_sure_want_to, l(:button_convert_lead))}%></td>
			<div class="contextual">
				
			</div>
		</div>
		</td>
	</div>
	<div style="clear:both;"></div>
	<div id="account_form">
		<% addressObj = @lead.blank? ? nil : @lead.contact.address %>
		<%=h hidden_field_tag('lead_id', @lead.blank? ? "" :@lead.id) %>
		<%=h hidden_field_tag('address_id', @lead.blank? ? "" :@lead.contact.address_id) %>
		<div class="splitcontentleft">
			<%= render partial: "show_lead_info", locals: { currentObj: @lead, isAccount: false, isContact: false}%>
			<%= render partial: "show_other_info"%>
		</div>
		<div class="splitcontentright">
			<%= render partial: "show_contact_info", locals: { address: addressObj, :disable => false }%>
		</div>
	<div style="clear:both;"></div>
	<%= render partial: "wkcrm/accordion_section", locals: { currentObj: @lead }%>
	<div style="clear:both;"></div>
	</br>
	<div class="splitcontentright">
		<td><%= link_to "#{image_tag('edit.png')}#{l(:button_edit)}".html_safe, {:controller => controller.controller_name, :action => 'edit', :lead_id => @lead.id, :tab => controller.controller_name},   :title => l(:button_edit) %></td>
		<td><%= link_to "#{image_tag('edit.png')}#{l(:button_convert_lead)}".html_safe, url_for(:controller => controller.controller_name, :action => 'convert', :lead_id => @lead.id, :tab => controller.controller_name), :data => {:confirm => l(:text_are_you_sure_want_to, l(:button_convert_lead))}%></td>
		<div class="contextual">
			
		</div>
	</div>